[2021-06-30 10:59] phillbaker commented on #154
Hi @sidda-dandu please also include:
* opendistro version
* redacted version of the terraform resource configuration

[2021-06-30 15:31] sidda-dandu commented on #154
@phillbaker please see below

- opendistro version - 1.5.8
- redacted version of the terraform resource configuration
   resource "elasticsearch_opendistro_roles_mapping" "write_opendistro_roles_mapping" {
  count         = `xxx-variable` == true ? 1 : 0
  role_name     = "`xenv-write`"
  description   = `xxxx`
  backend_roles = [ `xxx` i.e. lambda_role_arn]
}

[2021-07-02 19:39] willbabitskiy opened #190 "Can't create visualization with elasticsearch_kibana_object"
Hello,
There is no possible to add visualization with admin user

Provider version: **1.5.7**
Config:
[code]

Visualization resource
[code]

Error:
[code]

Admin user has full access to the cluster.

Can you please clarify what is wrong with my config?

[2021-07-02 21:09] phillbaker commented on #174
I'm going to close out this issue, please reopen if you have further details.

[2021-07-02 21:09] #174 closed

[2021-07-02 21:18] phillbaker commented on #190
Hello, it looks like kibana has not been initialized and the index not created. The provider does a best effort to create the index, but it looks like it did not work. I'd suggest initializing it by opening Kibana in your browser first. Otherwise please confirm that you can create indices using the same credentials on the cluster, e.g.:
[code]

[2021-07-02 22:30] phillbaker commented on #140
Going to close this issue in favor of https://github.com/phillbaker/terraform-provider-elasticsearch/issues/169 as it does look like the same underlying solution. Thanks for the investigation on this!

[2021-07-02 22:30] #140 closed

[2021-07-03 20:38] phillbaker commented on #169
added in https://github.com/phillbaker/terraform-provider-elasticsearch/commit/df9749c5477f47c48f9ec887aa78469349dc98fe

[2021-07-03 20:38] #169 closed

[2021-07-03 21:44] phillbaker commented on #155
A resource compatible for the 7.11 api was added in https://github.com/phillbaker/terraform-provider-elasticsearch/commit/edcfe52f72e9d074a34917ccffb95e022b1c6b91.

I'm going to close this for now and we can open a followup issue to add support for the newer 7.13 rule endpoints.

[2021-07-03 21:44] #155 closed

[2021-07-03 22:55] phillbaker commented on #183
Hi @r3kzi if you're interested in SAML auth issues, let's move the conversation to #189 which has more information.

If you'd like to discuss options for how not to set `insecure = true`, please open a new issue and include:
* terraform version
* provider version
* elasticsearch version (and opendistro version if relevant)
* redacted version of the terraform resource configuration

[2021-07-03 23:30] phillbaker commented on #189
Thanks @raids, the suggestion to set `SharedConfigState: session.SharedConfigEnable` looks very similar to what the terraform-aws-provider does (in its upstream auth library): https://github.com/hashicorp/aws-sdk-go-base/pull/38. I'll add a commit to do that as it looks pretty straightforward, without downsides.

[2021-07-04 13:42] #177 closed

[2021-07-05 01:25] dcrowe opened #191 "elasticsearch_host.url is not populated"
datasource.elasticsearch_host.url does not appear to be populated.

In the code it looks like the ID attribute is being populated with the URL, which doesn't match the docco.

Small problem, easily worked around, just wanted to let you know. Thanks for the project.

[2021-07-06 06:20] chr7s opened #192 "Can't create custom token filter"
I'm trying to create an `elasticsearch_index` but I don't find a way to define my custom token filter.

Here is the `analysis` part of my mapping. The `tokenizer` and `analyzer` part can be implemented using the `analysis_tokenizer` and `analysis_analyzer`. But I can't find anything like an `analysis_filter`
[code]

Is there a way to do this with this provider?

[2021-07-06 15:56] willbabitskiy commented on #190
@phillbaker Hello. The thing is the **.kibana** index is already in place.

I call the ES to create **.kibana** index with admin creds and have the following.
[code]
There is no 403 error

[2021-07-07 02:09] phillbaker commented on #192
Hello, thanks for opening an issue!

This isn't implemented yet, but it'd be easy to submit a PR, It'd be very similar to https://github.com/phillbaker/terraform-provider-elasticsearch/commit/611975d85b4385e236b772ad717e77ee6929f0e2

[2021-07-07 02:09] phillbaker commented on #189
Done in 72475b56b7ef3d7f8116fb00a7056389772b5826

[2021-07-07 02:09] #189 closed

[2021-07-07 02:22] phillbaker commented on #188
Hello, this is coming from an additional version check that's done for the composable index template resource (since it's only available in ES >= 7.8.0).

I think specifying `elasticsearch_version` in the provider configuration may be related, would you be able to try without that parameter?

[2021-07-09 18:32] sangeethdba opened #193 "enable the option to provide additional argumeents that are meant for backword compatibility include_type_name=true"
to create a index in v7 with type name specified  we should pass the argument include_type_name=true when we create index

PUT idx_com_reprocess_v6?include_type_name=true
{
  "settings": {
    "index": {
      "number_of_shards": 3,
      "number_of_replicas" : 0,
      "refresh_interval" : -1
    }

is it possible to go get such option.

[2021-07-11 00:46] phillbaker commented on #193
@sangeethdba what's the usecase for doing this in Elasticsearch v7?

[2021-07-11 01:12] sangeethdba commented on #193
We are using this on 6.8 not 7

On Sat, Jul 10, 2021 at 8:46 PM Phillip Baker ***@***.***>
wrote:

[2021-07-11 01:53] sangeethdba commented on #193
- In 6.8, the index creation, index template, and mapping APIs support a
   query string parameter (include_type_name) which indicates whether
   requests and responses should include a type name. It defaults to true,
   and should be set to an explicit value to prepare to upgrade to 7.0. Not
   setting include_type_name will result in a deprecation warning. Indices
   which don’t have an explicit

[2021-07-11 04:08] sangeethdba commented on #193
It’s would be great to allow the these types of additional arguments

Sent from my iPhone

[2021-07-11 21:16] phillbaker commented on #191
Thanks! Should be fix in https://github.com/phillbaker/terraform-provider-elasticsearch/commit/56744ee5f912bd35daffc421ac74ffb215165778 (made it match the docs, both ID and url are populated).

[2021-07-11 21:16] #191 closed

[2021-07-11 21:17] phillbaker commented on #192
Fixed in 51fd1ce2486055861cb6e59e3117f392be7850b6

[2021-07-11 21:17] #192 closed

[2021-07-11 21:19] phillbaker commented on #193
@sangeethdba thanks, I'm aware of what the option does. I'm interested in your usecase - what are you trying to do that is not working? How would you use this argument if it was available? Can you provide a terraform resource configuration that is not currently working?

[2021-07-11 22:38] sangeethdba commented on #193
We have few applications  which are explicitly using type name when they
search .to cater those apps we are forced to create index and mapping using
that option.when we go to next version we will
Ask apps to make necessary changes. Hope this helps

On Sun, Jul 11, 2021 at 5:19 PM Phillip Baker ***@***.***>
wrote:

[2021-07-12 14:45] bjfish25 commented on #142
Fixed in https://github.com/phillbaker/terraform-provider-elasticsearch/releases/tag/v1.6.0

Thanks @phillbaker

[2021-07-12 14:45] #142 closed

[2021-07-12 23:48] ramenjosh opened #194 "Updates to index blocks not respected by cluster"
When using an `index` resource that was created without an index block:
[code]

Adding `blocks_write = true` to the resource causes terraform to think an update is necessary:

[code]

But the index block is not respected by the cluster:
[code]

By contrast, if you create the index resource with the index block enabled at creation:
[code]

The index blocks writes as expected:
[code]

## Environment

[2021-07-13 05:33] sangeethdba commented on #193
@phillbaker would  this be possible to implement?

[2021-07-13 12:12] timcosta opened #195 "OpenDistro Kibana Tenant Index Calculation"
I noticed that the kibana tenant index that is being output has capital letters in the index name, but in Kibana it's all lowercase for me. I believe Kibana isnt case sensitive (or at least in my case I believe it's being run on case-insensitive file systems) btu wanted to highlight that as a potential weirdness.

https://github.com/phillbaker/terraform-provider-elasticsearch/blob/df9749c5477f47c4

[2021-07-13 12:25] phillbaker commented on #193
@sangeethdba  to clarify - doc types are allowed in the mapping block on a v6 cluster today. For example, see the documentation: https://registry.terraform.io/providers/phillbaker/elasticsearch/latest/docs/resources/index

Can you provide a terraform resource configuration and elasticsearch configuration that is not currently working?

There are two scenarios where I can imagine this being relevan

[2021-07-13 12:35] sangeethdba commented on #193
#! Deprecation: [types removal] The parameter include_type_name should be explicitly specified in create index requests to prepare for 7.0. In 7.0 include_type_name will default to 'false', and requests are expected to omit the type name in mapping definitions.
{
  "acknowledged" : true,
  "shards_acknowledged" : true,
  "index" : "test"
}

we are on 6.8 and using that parameter when creating inde

[2021-07-13 12:46] sangeethdba commented on #193
on 7.x cluster ,if we are using type in mapping while creating index we are getting this error.
{
  "error" : {
    "root_cause" : [
      {
        "type" : "mapper_parsing_exception",
        "reason" : "Root mapping definition has unsupported parameters:  [reprocessor : {properties={hostName={type=keyword}, hostIP={type=keyword}, reprocessId={type=text}, errorCode={type=keyword}, isAutoRetryabl

[2021-07-13 12:46] sangeethdba commented on #193
@phillbaker

[2021-07-13 18:55] timcosta opened #197 "1.6.0 Provider crashes during concurrent kibana object creation"
Heyo, wanted to pass along stack traces for a provider crash I just experienced:

[code]

[2021-07-13 19:00] timcosta commented on #197
If it helps, when i run with `-parallelism=1` i get a similar-ish issue:
[code]

and I realized I didn't provide my terraform, so here it is:
[code]

[2021-07-13 19:03] timcosta commented on #197
actually, i think this is related to #195 that I opened earlier, because if I do `index = lower(elasticsearch_opendistro_kibana_tenant.main.index)` the terraform applies cleanly.

[2021-07-14 00:54] #194 closed

[2021-07-14 09:58] holy-moly-555 opened #199 "Improve error messages during plugin crash"
Hey there,

first of all I want to thank you for developing and maintaining this great provider! It really helps us to put our many Elasticsearch resources under source control.

Provider Version: 1.6.0
Elasticsearch Version: 7.9.3
Operation Mode: AWS Elasticsearch Service (= OpenDistro)

Yesterday we had an issue where the plugin crashed on every Terraform operation (plan, apply, import) only wit

[2021-07-14 19:38] sangeethdba commented on #193
is this not a valid requirement? @phillbaker .

is there any lint available that checks against the resources we create ,like for validation of syntax ,format etc

[2021-07-15 01:50] phillbaker commented on #195
Thanks for opening an issue.

In fact ES index names cannot have uppercase letters: https://github.com/elastic/elasticsearch/issues/31262, so this should be lowercased.

[2021-07-15 01:53] phillbaker commented on #199
Interesting, if this is what's happening, then we should not crash, but return a usable error the user. This should be doable, I'll take a look when I get a chance.

[2021-07-15 09:02] aizerin opened #201 "Create and remove ILM rollover - problem with removing resources"
I have created an ILM rollover (as described in [official docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/getting-started-index-lifecycle-management.html#manage-time-series-data-without-data-streams) )with the following resources

elasticsearch_xpack_index_lifecycle_policy
elasticsearch_composable_index_template
elasticsearch_index > only for bootstraping first index like log

[2021-07-15 16:09] sangeethdba opened #202 "elasticsearch_xpack_user is failing with Error: unsupported in elasticv6 client"
elasticsearch_xpack_user.srv_combo: Creating...

Error: unsupported in elasticv6 client

  on elasticIndex_combo.tf line 59, in resource "elasticsearch_xpack_user" "srv_combo":
  59: resource "elasticsearch_xpack_user" "srv_combo" {

resource "elasticsearch_xpack_role" is working fine .

resource "elasticsearch_xpack_role" "srv_combo" {
  role_name = "test"
  indices {
    names        = ["als_cap

[2021-07-15 16:09] sangeethdba commented on #202
@phillbaker

[2021-07-16 16:58] sangeethdba opened #204 "adding a normalizer while creating index"
[code]

[code]

Am i missing some thing.

im passing custom normalizer with this block
[code]
and using this custom normalizer in mapping block

[2021-07-16 18:38] sangeethdba commented on #204
if i use like this

# Create a simple index
resource "elasticsearch_index" "idx_q1_booking_salesorder_2021_v7" {
  name = "idx_q1_booking_salesorder_2021_v71"
  number_of_shards = 1
  number_of_replicas = 1
analysis_normalizer = <<EOF
{
        "lowercase_normalizer": {
          "char_filter": [],
          "filter": [
            "lowercase"
          ],
          "type": "custom"
        }
}
EO

[2021-07-17 19:57] #195 closed

[2021-07-19 17:01] sangeethdba commented on #204
@phillbaker appreciate your help

[2021-07-19 17:01] sangeethdba commented on #202
@phillbaker appreciate your help

[2021-07-20 04:51] sangeethdba commented on #204
please help

[2021-07-21 01:52] phillbaker commented on #182
I think this should be fixed in fca0d2da11b1733c58e9714c3d716fbadf6b4a32, released in 1.6.1. Can you give that a shot and see how it looks?

[2021-07-21 02:00] phillbaker commented on #204
@sangeethdba please use the markdown formatting in issues to separate your blocks of code, otherwise pasted code does not retain its whitespace and is very hard to read. Github has good documentation on this, for example: https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown.

For this question, please see the example in the tests: https://github.com/phillbaker/terraform-

[2021-07-21 03:41] sangeethdba commented on #204
Iam using the latest version 1.6.1

On Tue, Jul 20, 2021 at 10:00 PM Phillip Baker ***@***.***>
wrote:

[2021-07-21 03:50] sangeethdba commented on #204
when i used the block

analysis_normalizer = jsonencode({
 		my_normalizer = {
       type = "custom"
       filter = ["lowercase", "asciifolding"]
     }
i got the unsupported argument error

Error: Unsupported argument

  on idx_q1_booking_salesorder_2021_v7.tf line 6, in resource "elasticsearch_index" "idx_q1_booking_salesorder_2021_v7":
   6: analysis_normalizer = <<EOF

An argument named "ana

[2021-07-21 03:59] sangeethdba commented on #204
Im using 1.6.0 .sorry for the confusion

[2021-07-21 04:06] sangeethdba commented on #204
search homedepot.com homedepot.com ern.homedepot.com amer.homedepot.com amer.qahomedepot.com ssc.homedepot.com hdpromro.interlinebrands.com
nameserver 165.130.1.9

[2021-07-21 04:31] sangeethdba commented on #204
[code]
is working fine with 1.6.1 provider. thanks for the help

[2021-07-21 04:57] sangeethdba commented on #202
working on elastic 7 cluster ,but not on elastic 6 cluster .
are there any limitation using this provider for user creation on elastic 6 cluster @phillbaker

[2021-07-21 05:11] sangeethdba commented on #202
role creation is working fine for both e6 and e7 cluster .Not sure why user creation is failing for e6.

[2021-07-21 11:14] phillbaker commented on #202
Please see #170.

On Wed, Jul 21, 2021 at 1:11 AM sangeethdba ***@***.***>
wrote:

[2021-07-22 01:32] #204 closed

[2021-07-23 02:10] phillbaker commented on #182
@TonyLovesDevOps just checking in on this - are you able to verify if this is fixed?

[2021-07-23 02:17] phillbaker commented on #187
Hello! Sorry for the slow delay, it sounds like what you're describing can be addressed with rollover aliases and index templates. Please see the example in this PR description: https://github.com/phillbaker/terraform-provider-elasticsearch/pull/96.

As well, please see the upstream docs here: https://www.elastic.co/guide/en/elasticsearch/reference/current/getting-started-index-lifecycle-managemen

[2021-07-23 02:22] phillbaker commented on #201
Hello, I'm not understanding the issue.

Why would you want to remove the resources?

It sounds like what you're describing can be addressed with rollover aliases and index templates. Please see the example in this PR description: #96.

Please include the following to help provide context:
* terraform version
* provider version
* elasticsearch version (and if it is a managed cluster, e.g. AWS, who

[2021-07-23 16:52] TonyLovesDevOps commented on #182
@phillbaker Thanks for the ping -- with `1.6.1` it definitely detects drift of the objects! I'll be testing reconciling remote objects next week.

[2021-07-23 19:58] timcosta opened #206 "OpenDistro Security Parallel Writes"
Hello! I've been debugging an issue I run into sometimes with the AWS managed ES where multiple concurrent operations result in 500 errors. I reproduced it with debug logging enabled, and saw the following in the output:
[code]

I've opened a support case with AWS about this as I don't think 8 concurrent pings should result in 500s, but I was a little surprised to see that the provider creates a n

[2021-07-24 15:59] #182 closed

[2021-07-24 17:57] phillbaker commented on #176
@korcadr can you confirm whether `insecure = true` is working for you?

[2021-07-26 20:59] tjbaker opened #207 "possible to configure cluster.max_shards_per_node with provider?"
Is it possible to put persistent cluster settings with this provider?

For example:
[code]

Thanks!

[2021-07-28 21:41] aizerin commented on #201
I have a lot of applications in elasticsearch for logs. So there are multiple reasons for removing the resources.
- I want to just delete it because some applications have been shut down.
- I can have a typo in index name, so I need to rename it.
- etc

I have it configured same as in example, it works fine until I want to remove that resource.

[2021-08-02 02:20] #202 closed

[2021-08-02 02:21] phillbaker commented on #207
Not currently, but this sounds like a good resource to add!

[2021-08-02 02:25] phillbaker commented on #206
Hello - sorry to hear this is causing issues, this is a consequence of https://github.com/phillbaker/terraform-provider-elasticsearch/pull/119, which intended to make the client instantiation lazy.

I believe it could be cached,  but we'd need to make sure that (a) the caching is concurrency safe (as you noticed in https://github.com/phillbaker/terraform-provider-elasticsearch/issues/186, this was

[2021-08-02 13:09] timcosta commented on #206
Interesting, okay thank you for that information. It absolutely makes sense _why_ it's deferred, and it makes sense that #186 was a concurrency issue caused by this.

For some extra context, I've heard back again on the AWS case that I opened about the symptom we were seeing that was caused by this and they had a couple of extra thoughts.

The fact that the error we are seeing is `Error: error cre

[2021-08-03 01:50] #187 closed

[2021-08-03 13:22] timcosta commented on #206
Okay, I've updated the title of this issue based on another round of chats with AWS support.

The OpenDistro Security module maintains a single index for storing the configurations of all tenants, users, roles and roles mappings, and concurrent writes to this index are disallowed in order to maintain idempotency. They offer a bulk write API, but simultaneous calls to the single-write endpoints are

[2021-08-04 02:01] phillbaker commented on #206
Hi @timcosta thanks for the updates. It looks like you got to the answer, but this seems very similar to https://github.com/phillbaker/terraform-provider-elasticsearch/issues/154 which was confusing because upstream OpenDistro returns a 500 instead of the canonical 409 status (issue upstream about this: https://github.com/opensearch-project/security/issues/1095).

I'd recommend confirming that thi

[2021-08-09 01:59] #206 closed

[2021-08-10 08:29] yanapoz opened #208 "Error 401 (Unauthorized) on refresh"
Hey there,

I'm using the provider with a username and password auth. The first time, it runs perfectly. But when I try to refresh the terraform state it fails with `Error: elastic: Error 401 (Unauthorized)` and `"stacktrace": ["org.elasticsearch.ElasticsearchSecurityException: missing authentication credentials for REST request [/]"` in Elasticsearch.

Terraform version: 1.0.0
Provider Version: 1

[2021-08-10 14:13] ppuschmann opened #209 "How would we change passwords for X-Pack system-users?"
X-Pack uses some internal users like `kibana_system`.

We tried to change/set the password of the user `kibana_system` but ran into some issues:
[code]

Error-message:
[code]

`roles` is a mandatory field...

So maybe there are some hidden values for `roles` in Elasticsearch/X-Pack?

What I'd like to do: change passwords of these "system-users" with the terraform-provider.

[2021-08-11 13:06] ppuschmann commented on #209
Found an easy workaround:
* Just create a new user with the role `kibana_system` and don't touch the internal users at all.

Anyways: Please decide how you want to treat this. I'd add some comments to the docs if you don't plan to "fix" this.

This might be a constraint from X-Pack.

[2021-08-12 02:46] phillbaker commented on #208
Hello, can you please include the following:
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2021-08-12 02:47] phillbaker commented on #209
Hi @ppuschmann it may be possible to terraform import these system users, could you try that?

A PR to add this to the docs would be great!

[2021-08-12 20:02] pinglin commented on #159
Thanks for looking into the issue. Just had a chance to look back on this.

I remember I was able to create an index template for data stream using some hacky way by investigating the raw API via Kibana. Just because in [7.11](https://www.elastic.co/guide/en/elasticsearch/reference/7.11/set-up-a-data-stream.html), that was the official guidance.

It seems that the data stream creation has been pro

[2021-08-20 20:19] EdRyan commented on #207
This would be very helpful! Maybe it makes sense to make a broader "cluster setting" resource but in this case I am looking specifically to modify max_shards_per_node as well.

[2021-08-27 15:09] timcosta opened #210 "Possible Release 1.6.3"
Hello again! I hate to be a pest, but is there any chance 1.6.3 (or something else) will be cut soon with 807047b that has the retries for certain entities?

[2021-08-29 18:56] #210 closed

[2021-08-29 18:58] timcosta commented on #210
Thank you!!!! I greatly appreciate all of the hard work you've put into this module, it's a lifesaver.

[2021-08-29 18:59] timcosta commented on #197
I believe this has been fixed in 1.6.1 or 1.6.2 so I am closing it.

[2021-08-29 18:59] #197 closed

[2021-08-30 06:37] zjanc opened #211 "Perpetual diffing on `elasticsearch_index_template` if `"order": 0` or `"aliases": {}`"
Hi,

I'm getting perpetual diffs on `elasticsearch_index_template` for specific scenarios:
- `order` is `0`
- `aliases` is `{}`

For my use case, I'm importing existing ES resources so I'm currently using the index template JSONs as returned by the ES API with no modifications.

The diff does not show up for index templates with order != 0 and non-empty aliases. It's possible to remove `order` and

[2021-08-30 15:28] phillbaker commented on #193
Following up here - the include_type_name is not supported in v7 of the elastic library, see https://github.com/olivere/elastic/issues/1448. I've asked whether a PR adding that support would be accepted.

[2021-08-31 18:25] phillbaker commented on #190
Hi, sorry for the slow reply, but I can't reproduce this. Are you using a hosted ES cluster? If so, on what service?

The check that the provider does is similar to `curl -I https://<domain>/.kibana/`, if it receives a 200, then it doesn't try to create the index. What does that call return on your cluster?

[2021-09-01 09:44] feraudet opened #213 "context deadline exceeded: no Elasticsearch node available"
Hey,

I get :
[code]

With :
[code]

Terraform version :
[code]

Traces
[code]

Any idea ?

Thanks in advance

[2021-09-01 12:51] #193 closed

[2021-09-01 15:13] blamarvt commented on #159
This still seems to be an issue, and the root cause is that the ES library doesn't return the `data_stream` info when getting index templates: https://github.com/olivere/elastic/blob/b7de00ddfd128672eac82ef8f6e938bcbb6c2cd4/indices_get_index_template.go#L202

Until that's updated we'll continue to get diffs like this on every plan:
[code]

That is not to say it doesn't work because it does work ju

[2021-09-01 15:26] phillbaker commented on #213
Hi @feraudet this is almost always a consequence of either incorrect network access or improperly configured permissions.

It looks like you're using an AWS hosted ES service - please ensure that you can (a) access it from wherever you're running terraform and that (b) the credentials needed are provided to this terraform provider.

[2021-09-02 11:11] AlexanderLahutsin opened #214 "Additional resources for Provider"
Dear,

Could you add  a few useful resources?:

**elasticsearch_opendistro_kibana_object**
  - index_pattern and etc
**elasticsearch_opendistro_object**
 - policy for Indices and etc

This is simplifies life & useble
Thanks

[2021-09-02 14:46] phillbaker commented on #214
Hi @AlexanderLahutsin, unfortunately I'm not understanding the request.

* There is already a kibana object resource, this is compatible across different distributions of Elasticsearch, see the docs here: https://registry.terraform.io/providers/phillbaker/elasticsearch/latest/docs/resources/kibana_object, it can be used for any object type in Kibana.
* What is a `elasticsearch_opendistro_object`?

[2021-09-03 15:37] phillbaker commented on #199
It looks like this is due to referencing a variable before doing an error check in the response:  https://github.com/phillbaker/terraform-provider-elasticsearch/blob/b1d1eee3f0853661eba48fa1dbea039b99f062d0/es/resource_elasticsearch_opendistro_roles_mapping.go#L162-L166

however, the error message that should be printed is along the lines of:
[code]

[2021-09-07 12:02] chrisminton commented on #213
I am having a similar issue. The connection is from ECS -> AWS Elasticsearch `7.10.0`. The ECS tasks uses:

[code]

Permissions on ECS allow the necessary access to Elasticsearch, tested with a simple [Python script](https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-request-signing.html#es-request-signing-python) which successfully connects. Using the provider as @feraudet

[2021-09-07 16:08] paulojmdias opened #216 "Error when deploy X-Pack Trial License"
I have the following error when I deploy a trial license in our cluster:

[code]

However, the license are applied correctly to the cluster:

[code]

[2021-09-07 18:59] phillbaker commented on #214
Since there's been no update to this issue, I'm going to close it for now. Please reopen if you can provide further details or have concerns.

[2021-09-07 18:59] #214 closed

[2021-09-07 18:59] phillbaker commented on #209
Hi @ppuschmann were you able to try importing users?

[2021-09-07 21:30] phillbaker commented on #213
Hi @chrisminton, there's some history of having issues with assuming roles, see https://github.com/phillbaker/terraform-provider-elasticsearch/issues/124, however, I can verify that I'm not seeing that issue in recent versions of the provider.

As well, there's an outstanding issue where [IRSA](https://github.com/phillbaker/terraform-provider-elasticsearch/issues/112) may not work.

Please do the

[2021-09-08 15:33] phillbaker commented on #216
Thanks for opening the issue, looks like a bug!

[2021-09-08 16:22] phillbaker commented on #216
Can you please confirm the elasticsearch version being used?

On Tue, Sep 7, 2021 at 12:08 PM Paulo Dias ***@***.***> wrote:

[2021-09-08 16:26] chrisminton commented on #213
Hi @phillbaker thanks for the reply. Indeed the workaround is successful for my use case.

The ECS task is given an execution role with full `es:*` permissions. This role is also set as the backend master role in AWS Elasticsearch. The provider is then run (without any further `assume_role` shenanigans). This was failing as noted above.

[2021-09-08 17:02] paulojmdias commented on #216
Hi @phillbaker ,

Elasticsearch 7.14.1

[2021-09-08 17:05] phillbaker commented on #213
Thanks - closing this to consolidate into #112.

[2021-09-08 17:05] #213 closed

[2021-09-09 15:45] jacktkeys opened #217 "AWS ES Domain with Cognito Pool returns Error 403 (Forbidden)"
Good morning.

I am trying to use your TF provider with an AWS Elasticsearch Domain secured by an AWS Cognito user pool. TF Plan works but when trying to Apply, I get the aforementioned error. Here is my TF script and logs.

[code]

[code]

[2021-09-09 20:29] TonyLovesDevOps opened #218 "Add support for AWS "OpenSearch"?"
AWS has [officially renamed AWS Elasticsearch to OpenSearch](https://docs.aws.amazon.com/opensearch-service/latest/developerguide/rename.html) after forking Elasticsearch to OpenSearch and Kibana to OpenSearch Dashboards at [opensearch.org](https://opensearch.org), because lawyers and 💰.

There are at least two immediate issues with this provider supporting OpenSearch:

1. OpenSearch returns `vers

[2021-09-09 20:36] TonyLovesDevOps commented on #218
It seems that the [olivere/elastic library](https://github.com/olivere/elastic/issues/1481) intends to support both.

[2021-09-10 14:32] phillbaker commented on #216
@paulojmdias I'm having trouble reproducing this - how did you generate this trial license?

[2021-09-10 14:37] phillbaker commented on #217
Hello the Error 403 indicates that permissions are denied when using the provider.

Can you confirm that the location where terraform is being run has valid credentials and those credentials can access the cluster? If terraform is being run on a ECS container, IRSA support may not be working, please see #112, which also has a workaround. I have not worked much with AWS Cognito, does anything need

[2021-09-10 15:08] paulojmdias commented on #216
Hi @phillbaker

This license is provided directly by Elastic during a period to test some Enterprise features.

By the output of the resource, I suppose the value of the license is correctly sent to the resource. Also, the license is correctly updated in Elasticsearch Cluster.

[2021-09-10 15:13] paulojmdias commented on #216
Don't know if it helps:

[code]

[2021-09-10 15:20] phillbaker commented on #218
Hi @TonyLovesDevOps, thanks for opening an issue.

For (1) for now, I would suggest that compatibility mode is used until we either add support explicitly in the provider for opensearch or there are new features that are opensearch specific and we add support for them. We should document that as the expected process for the time being.

For (2), this sounds like an authentication issue, can you co

[2021-09-10 16:24] #199 closed

[2021-09-10 18:09] jacktkeys commented on #217
I am running Terraform on my local machine. I will look at how any SDK calls would authenticate calls to a service protected by a Cognito user pool.

[2021-09-10 18:19] TonyLovesDevOps commented on #218
For (1), I had to add this block to my `aws_elasticsearch_domain` resource block in order to not have the object recreated or the compatibility mode switch disabled:
[code]

For (2) I'm not sure _what_ was going on, but I "modified" the Access Policy for the domain in the AWS console and saved the exact same policy that was there before, and now everything appears to be working! 🎉 I also made sure

[2021-09-10 19:26] willbabitskiy commented on #190
Hello,
We use the AWS ES service. I feel AWS requires adding some extra IAM or other permissions but I can't find them.
The `curl` query gets 403.
I've been investigating what is wrong with the ES configuration

[2021-09-10 19:27] willbabitskiy commented on #190
Closing the issue. Will open a new one if have additional information

[2021-09-10 19:27] #190 closed

[2021-09-10 20:38] timcosta opened #219 "AWS kibana object _doc -> doc diff appearing suddenly"
Hello! We started seeing this crop up in the last day or two. It appears that AWS has made a change on their end that's causing `doc` to be converted to `_doc` internally which in turn leads to a perpetual diff. We're using 1.6.3 if that helps/matters.

[code]

[2021-09-11 02:30] phillbaker commented on #219
Can you share the opendistro/opensearch version and if it changed recently
(correlated with this issue starting)?

On Fri, Sep 10, 2021 at 4:38 PM Tim Costa ***@***.***> wrote:

[2021-09-11 02:42] timcosta commented on #219
We're on Elasticsearch 7.10 and have been - it's possible that it's related to the R20210816 service software release though, the date is recent enough.

[2021-09-14 02:26] zjanc opened #221 "`terraform validate` returns `The argument "url" is required, but was not set.` on child module with no provider block"
Hi,

I'm getting `The argument "url" is required, but was not set.` when running `terraform validate` on a child module that contains ES resources with no provider block set.

Additional Information:
- Terraform version: **0.14.11**
- Provider version: **1.6.1**

The `plan`, `apply`, and `import` command all work (when run on the calling root module) with the same configuration, it is just `valida

[2021-09-14 03:56] zjanc commented on #221
Closing this issue, seems this was fixed in `0.15`:

https://github.com/hashicorp/terraform/issues/21408

Was fixed on current version by setting a fake `ELASTICSEARCH_URL` environment variable.

[2021-09-14 03:56] #221 closed

[2021-09-14 18:40] #216 closed

[2021-09-16 15:40] tjbaker commented on #219
I saw the same, but found that `_type` isn't necessary, just remove it from the body and the diffs will be gone.

[2021-09-16 15:48] tjbaker opened #222 "elasticsearch_kibana_object for index patterns now shows diff for dynamic field typing"
ES Version: AWS ES R20210426-P2
Provider: 1.6.3

I have a really simple template for index patterns:

[code]

This worked great with <= 1.6.0
I upgraded the provider to 1.6.3 and now it shows diffs for the dynamic field typing, even though I am not specifying fields in my json body.  This is new behavior after 1.6.0

snippet of a diff that is not actionable:

[code]

[2021-09-16 16:57] tjbaker commented on #222
I see the CHANGELOG mentions this in 1.6.2
`[kibana object] Diffs will now be detected and the stringified version of kibana objects saved to terraform state (#182).`

I think the problem is that as new fields are observed and typed by Kibana AFTER the initial elasticsearch_kibana_object creation and addition to the state, it is detected as drift and a difference.  I don't care about field mapping

[2021-09-16 17:02] idallas456 commented on #112
I too am seeing this issue with EKS roles. It would be nice to get this addressed so the workaround mentioned in here (https://github.com/phillbaker/terraform-provider-elasticsearch/issues/112#issuecomment-735386554) isn't necessary. That workaround does fix the issue but is not an ideal solution

[2021-09-16 21:48] mattshep opened #223 "elasticsearch_opendistro_monitor non-string attribute values cause perpetual diff"
Terraform version `1.0.6`, provider version `1.6.3`.

I see a perpetual diff for this resource type whenever I configure it to use non-string attributes, for example:

[code]

The resource is created correctly, but on subsequent runs there is a perpetual diff due to the type of the value returned for `body.schedule.period.interval`:

[code]

When I examine the JSON string produced by the call to `

[2021-09-17 02:37] phillbaker commented on #159
Some notes on this:
* the data_stream element isn't really documented well by elasticsearch, the only docs I could find were tangential in the simulate API here: https://www.elastic.co/guide/en/elasticsearch/reference/7.12/indices-simulate-template.html#simulate-template-api-request-body
* in the code it's just a map: https://github.com/elastic/elasticsearch-java/blob/8d34fb3c5889878711d0095d2d5f4

[2021-09-17 03:02] phillbaker commented on #112
I believe this actually _is_ working. I've managed to test this on AWS using the following setup:
* an AWS ES cluster (Opensearch 1.0)
* a (self hosted) Kubernetes using IRSA
* terraform v0.15.5
* provider version v2.0.0-beta.1

a terraform file of the following:
[code]

The ES cluster has the following IAM access policy:
[code]
with the role having the attached policy:
[code]
and a trust relation

[2021-09-17 14:38] mattshep commented on #223
It appears that this is being caused by conditional expressions that evaluate to objects with different attribute types, for example:

[code]

Modifying my resources so that they no longer use conditional expressions in this way has resolved my perpetual diff.

[2021-09-17 14:48] #223 closed

[2021-09-21 01:30] phillbaker commented on #222
Hi @tjbaker, that does look like the cause.

Unfortunately, it cannot be disabled right now. Please see #93 for a bit more detail about this. There's a discussion in that issue about how we could store the returned json separately from the user entered json. I can take a look at that and see what the lift there is.

[2021-09-22 19:05] harveyyau opened #224 "Creating elasticsearch user is not idempotent (breaks upon refresh)"
Hi, I'm trying to create a user with the provider and assign it to a role. I'm using username/password authentication to access AWS ES.

Version: phillbaker/elasticsearch v2.0.0-beta.1
Server: AWS Managed Elasticsearch version 7.9

The user is successfully created and all appears fine. However, upon refresh, it shows:

[code]

How do I get around this? Thanks!

Code:
[code]

[2021-09-23 17:53] marksumm commented on #124
This may be fixed for `aws_assume_role_arn` but transparent role-based authentication via EC2 metadata is broken after 1.5.0 as well.  Unfortunately, I need to upgrade because of other bugs that are only fixed in later versions of the provider.

[2021-09-23 20:09] phillbaker commented on #124
Hi @marksumm can you clarify exactly the method that's being used here? What environmental variables are set? What EC2 metadata is being used?

[2021-09-23 21:47] marksumm commented on #124
@phillbaker I meant a situation where no authentication attributes or environment variables are passed to the provider and healthchecks are disabled.  Running locally uses the AWS credentials file as expected, but running on an EC2 instance now hangs indefinitely because state refreshes for resources created using the provider never return.  The EC2 instance has an assumed role and so a session to

[2021-09-24 00:59] phillbaker commented on #224
Thanks for opening an issue! This looks very similar to https://github.com/phillbaker/terraform-provider-elasticsearch/issues/208

[2021-09-24 02:02] phillbaker commented on #124
@marksumm please share the elasticsearch provider config that is work on 1.5.0 and not working in more recent versions. What url does the ES cluster have? And is it self hosted or in the AWS Elastic/Opensearch service?

[2021-09-24 07:12] marksumm commented on #124
@phillbaker The provider is configured like this...
[code]
The endpoint is apparently Elasticsearch 7.7, but it seems that AWS have already started to make changes to the API following the switch to OpenSearch.  For example, index patterns should now be nested inside ISM policies and not created as separate resources.  By the way, I tried setting `AWS_SDK_LOAD_CONFIG=1`, but it didn't help.

[2021-09-24 09:59] marksumm commented on #124
@phillbaker  I've noticed that if I log in to an affected EC2 instance and target an individual resource created by this provider during `terraform plan` (and there are no dependencies on other resources), then the state refresh operation no longer hangs.  If I attempt to target more than one resource created by this provider, or run an unmodified `terraform plan`, then I see the hanging behaviour

[2021-09-24 19:21] harveyyau commented on #224
Hi Phill,

Thanks for the response. After some deep debugging, this may not be an issue with the provider. Closing this issue for now.

[2021-09-24 19:21] #224 closed

[2021-09-25 15:58] phillbaker commented on #124
Hi @marksumm this should be addressed in 64f21df, it'll be released in 2.0.0-beta.2 (coming shortly).

[2021-09-27 08:39] marksumm commented on #124
@phillbaker It works!  Thank you so much.

[2021-09-30 02:24] phillbaker commented on #219
Hi all @timcosta did the above workaround fix the issue for you? If so, I think that's probably the best approach for now.

[2021-09-30 02:25] timcosta commented on #219
I can confirm that it did.

[2021-09-30 02:27] phillbaker commented on #219
Great, I'm going to close this out for now since there's a workaround. Please reopen if there are other issues

[2021-09-30 02:27] #219 closed

[2021-09-30 13:59] ppuschmann commented on #209
@phillbaker

Turns out: importing helps a lot. (beginners mistake)

[code]

I'm now just trying to actually check if the password was really changed.

[2021-09-30 15:03] ppuschmann commented on #209
@phillbaker At least there's something not 100% perfect.

1. `terraform apply` --> no changes
2. change password, then `terraform apply` creates  this output:
[code]
3. additional run of `terraform apply` --> no changes

From my perspective: password isn't changed at all.

[2021-10-03 22:40] phillbaker commented on #112
I believe the issue with environmental variables has been fixed in https://github.com/phillbaker/terraform-provider-elasticsearch/commit/64f21df37472a1e50dc09fa5deb6cb5bbdedffa5, please see some of the discussion in https://github.com/phillbaker/terraform-provider-elasticsearch/issues/124#issuecomment-926030451.

I'm going to close this issue for now, please let me know if there are further issues

[2021-10-03 22:40] #112 closed

[2021-10-18 20:15] stephen-pliska-matyshak-rft opened #225 "403 Forbidden while trying to download."
Been using 1.6.3 for a while. Suddenly it can't be downloaded with a 403 Forbidden error. We are running terraform within an AWS Codebuild container. This has worked since we started using this provider.

[code]

[2021-10-19 15:32] bloodguard opened #226 ".opendistro-ism-config already exists"
When creating multiple policy from a fresh AWS OpenSearch cluster, i get this error:

` elastic: Error 400 (Bad Request): index [.opendistro-ism-config/4pNn5XhHT3SwvIerntYi-A] already exists [type=resource_already_exists_exception]`

From my understanding, the problem comes from the fact that for each policy, the plugins tries to create this index, but only need to create it once. To solve this is

[2021-10-20 01:58] #225 closed, assigned to nobody

[2021-10-22 01:42] phillbaker commented on #226
Hello, can you please include the following:
* elasticsearch version (and opendistro version if relevant)
* redacted version of the terraform resource configuration
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2021-10-25 14:10] alexandrst88 opened #228 "Provider don't follow cluster re-creation with interpolation"
Hi!

Version:  v2.0.0-beta.2

[code]

When I enabled option on the aws_elasticsearch_domain, that requires cluster recreation, provider fails with
[code]

but when i pass

[code]

everything works fine, i haven't dig deeper in the code.

[2021-11-01 00:53] phillbaker commented on #217
Hi there, following up on this with what I've been able to ascertain:
* How Cognito is set up determines a lot of how the user authentication flow works. From the examples I've seen, Cognito credentials can't directly be used against an ES cluster - they're to be used for a Kibana (Opensearch Dashboards) login and those Cognito credentials are exchanged for a key that corresponds to an IAM role.

[2021-11-01 00:53] #217 closed

[2021-11-05 16:24] paulojmdias opened #229 "Allow add mapping and move aliases without index destroy"
Hi guys,

https://github.com/phillbaker/terraform-provider-elasticsearch/blob/master/es/resource_elasticsearch_index.go#L325-L340

We know at the moment isn't possible to add or update mapping and add or move aliases to an Elasticseach index after the creation, but we have thought about that?

We know that Elasticsearch has some limitations but we can do the following things:
- Add a field to a ma

[2021-11-12 16:25] ngamber commented on #218
An example of features that aren't supported would be data_streams, the index_template resource bombs out if a data_stream is specified (which the cluster supports on opensearch_1.0). .

│ Error: elastic: Error 400 (Bad Request): unknown key [data_stream] in the template  [type=parse_exception]

[2021-11-15 15:31] applike-ss opened #230 "Add support for data stream resources"
I would like to be able to manage elasticsearch data streams with this terraform provider.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/set-up-a-data-stream.html

Is there any chance to get this?

[2021-11-16 03:24] phillbaker commented on #218
Hi @ngamber, can you please share the underlying elasticsearch versions and the resource definition that you're using?

To my knowledge datastreams were only included in XPack until ES v7.10 and so may be included in Opensearch, which forked off of ES v7.10, but not in any opendistro version which is based on earlier versions of ES.

[2021-11-16 03:25] phillbaker commented on #229
If you'd like to submit a PR that validates this, I'd be happy to review it!

[2021-11-16 03:27] phillbaker commented on #230
Hello, as that guide suggests, datastreams are typically created with index templates. If you'd like to do that, please see https://github.com/phillbaker/terraform-provider-elasticsearch/issues/159 which shows that it is currently possible, but does have a permanent diff in the terraform output currently.

[2021-11-16 03:34] ngamber commented on #218
I'm using 2.0.0-beta.2 and Opensearch-1.0.

Following the opensearch docs, I've tried adding one to an index template with the previous error.

`{
  "test" : {
    "order" : 0,
    "index_patterns" : [
      "test*"
    ],
     "data_stream": {},

    "settings" : {
      "index" : {
        "mapping" : {
          "total_fields" : {
            "limit" : "2000"
          }
        },
        "ope

[2021-11-16 07:15] applike-ss commented on #230
Interesting, i must have missed that somehow. My assumption was that the data stream would have to be manually created, but in fact the datastream object will be automatically created once the first log comes in. Just tested that in our test system and indeed that was the behaviour i got. :+1:

[2021-11-16 07:15] #230 closed

[2021-11-16 19:11] ngamber commented on #218
actual tf policy:

`{
  "index_patterns": ["test*"],

  "data_stream": {},
  "settings": {
    "index": {
      "number_of_shards": "1",
      "number_of_replicas": "0",
      "mapping.total_fields.limit": 2000,
      "search": {
        "slowlog" : {
          "threshold" : {
            "query" : {
              "warn": "10s"
            }
          }
        }
      }
    },
    "opendistro.ind

[2021-11-21 12:26] leonid-granulate opened #232 "Error: ElasticSearch version is older than 6.0.0 and is not supported."
Hi,
Here is my setup

- Elasticsearch version  = 7.15.1
- Provider version = 2.0.0-beta.2
- Terraform version = 0.14.5

provider configuration:
[code]
I'm using ssh port forwarding to remote server

After running `terraform apply`

I get the following message:
`Error: ElasticSearch version  is older than 6.0.0 and is not supported.`

If i specify the version i get the following:
`Error: Malformed

[2021-11-22 00:40] phillbaker commented on #232
Hello, this seems similar to https://github.com/phillbaker/terraform-provider-elasticsearch/issues/113. I don't believe anything changed that would break this behavior.

Can you confirm that you can `curl` the cluster on `https://127.0.0.1:9200`? Why are you appending `&sniff=false`?

[2021-11-22 00:41] phillbaker commented on #232
Please also include terraform logs by setting [`TF_LOG=trace`](https://www.terraform.io/docs/internals/debugging.html)

[2021-11-22 08:30] leonid-granulate commented on #232
Yes, `curl` returns me a correct response, i'm using `&sniff=false` because my elastic search cluster is under private network, see [this](https://stackoverflow.com/questions/61455272/cannot-connect-to-elastic-search-no-active-connection-found-no-elasticsearch#:~:text=This%20can%20happen%20(NOTE%3A%20we%20had%20chat%20with%20OP%20where%20we%20debugged%20issue)%20also%20when%20your%20cluster%20is%2

[2021-11-22 08:56] leonid-granulate commented on #232
Ok, i realized that `?sniff=false` was wrong parameter, and elasticsearch return 400 when i pass it, but anyway i can't connect to cluster, here is my curl response:
[code]
`TF_LOG=trace terraform apply` response:
[code]

[2021-12-07 06:23] nelg commented on #218
+1

[2021-12-07 09:26] kushalgangan commented on #218
Hi @phillbaker, terraform has added the OpenSearch support in was provider, could you please us to fix below issue facing in Elasticsearch provider:

`Error: ElasticSearch is older than 5.0.0!`

CC: @lakshmi-enjeti

[2021-12-22 13:47] tom-dierckx opened #234 "Opensearch index rollover_alias not picked up on rerun"
It seems that rollover_alias detection does not seem to work with the new location where the rollover_alias setting can be placed in Opensearch.

It has been moved to a plugin parameter `plugins.index_state_management.rollover_alias` in the index template:
[code]
In the code I see the following mapping and as a consequence is (I think) not interpreting the plugins object:
[code]

It could be that

[2021-12-23 05:17] zjanc opened #235 "Refresh / Update of Open Distro Role fails if an index permission is added manually via Kibana"
Hi,

Encountering issues with OpenDistro role resources if the index permissions for a role has been modified manually (e.g. added an index permission outside Terraform). Specifically, it breaks if current number of index permissions under the role > number of index permissions in the state file.

## Steps to reproduce:
- Create and apply an `elasticsearch_opendistro_role`
- Manually add an index

[2021-12-24 10:50] tom-dierckx commented on #234
Workaround that seems to work is duplicating the setting so the provider is also able to detect the rollover alias.
You need to set following parameters in the settings object to make the ISM work in opensearch and allow the terraform provider to detect the rollover:
index.opendistro.index_state_management.rollover_alias
plugins.index_state_management.rollover_alias

[2022-01-02 15:18] #234 closed

[2022-01-02 15:19] phillbaker commented on #235
Thanks for the detailed bug report, will take a look!

[2022-01-02 15:23] phillbaker commented on #235
Hello, the code that was throwing this error has been removed in the latest beta releases due to removing the deprecated `fls` attribute: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/c28d2dec3f5c366de4d694149a1d6489471ea79b/es/util.go#L426-L431

I'm going to close this issue for now as already resolved, please upgrade the version of the provider you're using.

[2022-01-02 15:24] #235 closed

[2022-01-02 22:15] phillbaker commented on #176
Sorry for the slow reply here. I took a look at the minimal example and was able to reproduce the issue seen. I'm not sure it's due to the cacert file. I was able to resolve the issue by disabling the `sniff` provider configuration, e.g.:
[code]

Please note that this option has been changed in the latest versions of 2.0 beta versions of the provider to default to false. I'm going to close this is

[2022-01-02 22:15] #176 closed

[2022-01-03 00:26] phillbaker commented on #232
Hi @leonid-granulate, I can't reproduce this. I've set up a jumpbox with a VPC-only ES cluster on AWS. Tunneling through the jumpbox to the cluster from my local machine allows me to run terraform against localhost.

Unless you can provide additional details about your set up so that it can be reproduced, I'm going to close this issue out.

[2022-01-03 00:36] phillbaker commented on #208
Hi, following up on this to see if you can provide additional details. I can't reproduce this with `terraform apply && terraform refresh`. If no other details are provided, I'll go ahead and close this issue out.

[2022-01-04 13:59] #232 closed

[2022-01-04 14:00] #208 closed

[2022-01-04 14:04] phillbaker commented on #228
HI @alexandrst88 sorry for the slow reply here. Please provide the following information:

* sanitized versions of the urls being used for the cluster
* elasticsearch version (and opendistro version if relevant)
* redacted version of the terraform resource configuration
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2022-01-05 09:42] shrey-rajvanshi opened #236 "Elastic cloud with kibana alert"
I'm trying this out against an Elastic Cloud deployment. The index_template resource works perfectly. But when I try applying a `elasticsearch_kibana_alert` resource, I get the following error:

`Error: no active connection found: no Elasticsearch node available`

My provider configuration:
[code]

Resources:

[code]
Just this resource works. Only when I add  the`elasticsearch_kibana_alert` below,

[2022-01-05 09:55] amirkkn commented on #218
Hi @phillbaker
I tried with opensearch 1.2.3 with this provider. I get the same error. Is any plan in near future for supporting opensearch?

`Error: ElasticSearch version 1.2.3 is older than 6.0.0 and is not supported.`

[2022-01-05 10:16] amirkkn opened #237 "Support opensearch"
I'm trying to use this terraform provider for provisioning opensearch roles and other configs, which was deployed on top of the kubernetes using[ official helm chart](https://github.com/opensearch-project/helm-charts). I don't use the AWS opensearch.

Terraform detects my elasticsearch cluster and the connection is established successfully, but I get the error during terraform apply:

`Error: Elas

[2022-01-05 12:27] phillbaker commented on #237
Please see https://github.com/phillbaker/terraform-provider-elasticsearch/issues/218, enabling compatibility mode on the cluster before using the provider should enable almost all features immediately.

[2022-01-05 12:27] #237 closed

[2022-01-05 12:30] phillbaker commented on #236
Whoops, it looks like we missed it in the documentation, but the `kibana_url` attribute needs to be set on the provider: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/ffe6242df872ecff74bf5e7d2eeaead1db672261/es/provider.go#L75-L80.

Please let me know if that fixes the issue.

[2022-01-06 18:17] #236 closed

[2022-01-14 10:34] pbygrave-lucid opened #239 "Elasticsearch resources updates fail leads to credential leak"
Provider version 2.0.0-beta.2

Running terraform via Jenkins, I encountered an issue yesterday where the provider failed to update 2 elasticsearch index patterns. While the error was seemingly a one-off and the code applied successfully on 2nd attempt, the original failure message prints out several bits of information about the failed request, 1 of which is the IAM cluster admin username (fine) b

[2022-01-19 20:55] glwpie commented on #226
I encounter this issue when creating multiple (10-30) elasticsearch_opendistro_* resources in the same terraform apply, it seems that whatever resource is being used to generate the unique identifier, it was being called in parallel, and returning the same value to both resources, thus creating a colision. If I encounter this error, doing a second terraform apply will not have a problem.

[2022-01-20 12:27] arminfelder opened #240 "elasticsearch_opendistro_role: support multiple index_permissions"
in opendistro security, you can have multiple index_permissions in one role, therefor

index_permissions
and
tenant_permissions

should be arrays

[2022-01-21 03:13] phillbaker commented on #240
This is currently possible, they're just specified multiple times.

See the example here: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/8dc8899c146c078fbe96c112b1b868a17bf30bcc/es/resource_elasticsearch_opendistro_role_test.go#L259-L297

[2022-01-21 03:13] #240 closed

[2022-01-21 03:18] phillbaker commented on #239
Thanks for opening an issue. Can you please include the following:
* terraform version
* elasticsearch version (and opendistro version if relevant)

What are the settings of `TF_LOG` and/or `TF_LOG_PROVIDER`?

Please provide a redacted version of the logs so that we can pinpoint what resource and/or library was doing the logging.

[2022-01-24 14:29] shrey-rajvanshi opened #241 "How to create alerts of type other than index-threshold"
Hi,
I am trying to use elasticsearch_kibana_alert to create a metric threshold or elasticsearch query type alerting rule, and can't seem to figure out the right values for mapping conditions to rule fields.

All apply requests error out with `Error: elastic: Error 400 (Bad Request)`.

Note that I'm able to successfully create index-threshold type rules.

Could someone share an example of how they'

[2022-01-24 19:12] ngamber opened #242 "Deprecated resource warning for opensearch resources"
Hi,

I get a deprecation warning on the latest 2.0.0-beta.3:

│ Warning: Deprecated Resource
│
│   with elasticsearch_opendistro_role.api,
│   on api_roles.tf line 2, in resource "elasticsearch_opendistro_role" "api":
│    2: resource "elasticsearch_opendistro_role" "api" {
│
│ elasticsearch_opendistro_role is deprecated, please use opensearch_role resource instead.
│
│ (and 20 more similar warnin

[2022-01-25 04:13] phillbaker commented on #242
Whoops, that's certainly a bug. Thanks for opening an issue. I'll take a look in the next day or so.

[2022-01-25 04:24] phillbaker commented on #241
Hello, can you please include the following:
* terraform version
* provider version
* elasticsearch version (and opendistro version if relevant)
* the types of alerts available in your kibana/ES version, e.g. `curl -X GET <kibana host>:<port>/api/alerts/list_alert_types`

[2022-01-25 08:32] shrey-rajvanshi commented on #241
Sure @phillbaker.

Terraform version : v0.13.7
Provider version : 1.6.3
ES version: v7.15.0

Output of the API call above:
```[{"id":".index-threshold","name":"Index threshold","actionGroups":[{"id":"threshold met","name":"Threshold met"},{"id":"recovered","name":"Recovered"}],"recoveryActionGroup":{"id":"recovered","name":"Recovered"},"defaultActionGroupId":"threshold met","actionVariables":{"con

[2022-01-25 09:06] Dmitry9292 commented on #242
Also this bug related to other resources as well. Tried to create tenant and get this error:

│ Warning: Deprecated Resource
│
│   with elasticsearch_opendistro_kibana_tenant.tenant,
│   on main.tf line 17, in resource "elasticsearch_opendistro_kibana_tenant" "tenant":
│   17: resource "elasticsearch_opendistro_kibana_tenant" "tenant" {
│
│ elasticsearch_opendistro_kibana_tentant is deprecated, pl

[2022-01-27 10:25] RafalDzwonek opened #243 "Date math don't work for "elasticsearch_index" name."
Hi,

When I try to use index name with date math it won't work. When i try to use symbols (eg. `{ } /`):

[code]

I get error that I can't use `/`:
[code]

And if i try to use percent encoding:
[code]
I get error that I can't use uppercase:
[code]

[2022-01-27 10:46] RafalDzwonek commented on #243
Okay, this was my fault. I was missing <> on start and end of the name.

[2022-01-27 10:46] #243 closed

[2022-01-28 14:34] artmakh opened #244 "Plugin "request was cancelled" on creating multiple Index-patterns"
Hello!
When creating a lot of index-patterns (160 patterns) in AWS opensearch i've encountered following error:

[code]

Provider applied 80 index-patterns in one run, and then 80 in second.

I'm using provider version `2.0.0-beta.2`

[2022-01-30 00:48] #218 closed

[2022-01-30 00:48] #242 closed

[2022-01-30 15:37] phillbaker commented on #226
It seems like we should treat this as a "back off and retry" error (ie a http 409) instead of a permanent failure. There are a few cases where opendistro/opensearch resources use the wrong error code.

[2022-02-03 20:41] colegulledge opened #246 "Plug-in Failed"
Not really an issue, but in search of help.. my first time using terraform lol.

I can init, validate, plan, etc successfully. But when I go to apply any of the resources I get a “plugin failed”… any ideas?

Thanks

[2022-02-04 02:17] phillbaker commented on #246
Hello, this seems like a duplicate of #244

On Thu, Feb 3, 2022 at 3:41 PM colegulledge ***@***.***>
wrote:

[2022-02-04 19:41] BGarber42 opened #247 "beta.4 not showing up on Terraform Registry"
Ran into the issue with terraform trying to use the `opensearch` provider for the renamed resources instead of this provider, `init -upgrade` won't pick it up since it's missing from the registry

[2022-02-08 01:22] phillbaker commented on #247
Hm, very odd. I see a successful upload here: https://github.com/phillbaker/terraform-provider-elasticsearch/runs/4994626356?check_suite_focus=true and a retry fails due to it already being uploaded: https://github.com/phillbaker/terraform-provider-elasticsearch/actions/runs/1767296644

[2022-02-08 01:27] phillbaker commented on #247
Requested a resync on the terraform site, it's there now: https://registry.terraform.io/providers/phillbaker/elasticsearch/2.0.0-beta.4

[2022-02-08 01:27] #247 closed

[2022-02-08 12:45] moritzzimmer opened #248 "support `execute-api` AWS signatures"
Hi @phillbaker ,

we are using Amazon OpenSearch service with clusters deployed to VPCs. In order to manage the cluster via API, we use a proxy deployed as AWS HTTP gateway + Lambda function, secured by [IAM](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/apigatewayv2_route#authorization_type) authorization. Thus, requests to that API proxy need to use `execute-api` in

[2022-02-09 02:51] phillbaker commented on #248
hi @moritzzimmer, happy to review a PR for that.

[2022-02-09 02:51] phillbaker commented on #246
As followup, please provide the following:
* terraform version
* provider version
* elasticsearch version (and opendistro version if relevant)
* redacted version of the terraform resource configuration
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2022-02-09 02:52] phillbaker commented on #244
Hello, can you please include the following:
* terraform version
* provider version
* elasticsearch version (and opendistro version if relevant)
* redacted version of the terraform resource configuration
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2022-02-09 10:53] ppcololo opened #249 "Got health ckech error with disabled health check"
Hello @phillbaker
We disabled health check in provider block but still have network issue with health check

provider config

provider "elasticsearch" {
  url                                 = "https://${aws_elasticsearch_domain.es.endpoint}"
  aws_assume_role_arn   = "some_role"
  sign_aws_requests       = true # only needs to be true if your domain access policy includes IAM users or roles
  ins

[2022-02-09 11:47] ppcololo commented on #249
I was TGW network issue between 2 AWS accounts...
Resolved by Network team

[2022-02-09 11:47] #249 closed

[2022-02-09 11:51] sabrish72 opened #250 "failing with Head context deadline exceeded"
We have enabled SAML and aws managed elastisearch version is opensearchv1.1.
I am using basic auth and saml enabled with below configuration and we also have custom domain enabled.
[code]
tf version: Terraform v1.0.6 on darwin_arm64
[code]
resource: elasticsearch_index_template

[2022-02-09 13:04] sabrish72 commented on #250
Does this plugin support opensearch version 1.1 ?

[2022-02-10 12:53] phillbaker commented on #250
Please see the README for supported versions.

This issue seems similar to #217, SAML authentication in these cases is
used to log into Kibana/Dashboards, not the underlying cluster. You’ll need
IAM credentials to manage the cluster.

On Wed, Feb 9, 2022 at 8:04 AM sabrish72 ***@***.***> wrote:

[2022-02-11 03:42] phillbaker commented on #241
For the action id, it's specific to the installation, it needs to be queried from ES, e.g. `curl -X GET <kibana host>:<port>/api/actions`

It looks like `metrics.alert.threshold` alert type takes a different structure of `params`, it nests most under an array of objects in a `criteria` key. I think we should add a `conditions_json` attribute which takes an arbitrary JSON object to define those.

[2022-02-11 05:31] shrey-rajvanshi commented on #241
Right, If you could please guide me where I could start for adding `conditions_json` and testing it, happy to raise a PR.

At my workplace though, we've moved ahead with using kibana saved object APIs directly in our automation. But I'd favour doing all that via terraform, if possible.

[2022-02-11 16:44] sergkondr opened #251 ""Plugin did not respond" error during applying opendistro_role"
Hello! Thank you for your provider, it is really convenient and helpful!

Unfortunately I faced multiple issues with it, the most frustrating is "Plugin did not respond".

[code]

Here is my tf-code example:
[code]

And here is the error example(I'm getting multiple errors with different roles/users):
[code]

A couple of things from debug log: https://gist.github.com/sergkondr/c88848f7219ac7b72e0b

[2022-02-12 21:28] phillbaker commented on #251
Thanks for opening an issue and including this information. I'll take a look.

Is this happening consistently on every run or is it sporadic?

[2022-02-12 21:30] phillbaker commented on #250
Going to close this, please reopen if you have further information to shre.

[2022-02-12 21:30] #250 closed

[2022-02-12 21:31] #246 closed

[2022-02-12 21:33] phillbaker commented on #244
Hi @sergkondr, I'm not sure that explains the bug in this issue - if there were permission issues, I'd expect no requests to succeed, rather than some succeeding and some failing.

[2022-02-16 11:56] nbs-rsutton opened #253 "elasticsearch_kibana_alert broken for versions above v7.13?"
Use of /api/alerts/alert/ endpoint deprecated since v7.13 - https://www.elastic.co/guide/en/kibana/current/alerts-api.html

It appears that elasticsearch_kibana_alert refers to this deprecated endpoint, as opposed to /api/alerting/rule/ for creating rules in kibana.

When attempting to prove the functionality of this resource using the example, the following error is returned:
Error: no active con

[2022-02-17 01:33] phillbaker commented on #253
Hello - the endpoint is deprecated, meaning it will be removed in ESv8, however it still works in all versions of ESv7.

This is because you couldn't connect to the Elasticsearch cluster. Please ensure you can connect to ES from wherever you're running terraform. Otherwise, please include the following:
* terraform version
* provider version
* elasticsearch version (and opendistro version if relev

[2022-02-17 01:34] phillbaker commented on #239
Hello, I'm going to close this issue as no further information has been provided and the describe issue isn't reproducible with the given information. Please provide additional details and reopen when you have a chance.

[2022-02-17 01:34] #239 closed

[2022-02-21 01:48] phillbaker commented on #251
Hi @sergkondr, sorry for the slow turnaround on this one - I'm having trouble reproducing this so that I can fix it. Can you clarify the elasticsearch version (and opendistro version) or opensearch version of the cluster you're using this with?

[2022-02-21 02:56] phillbaker commented on #251
Also - is `var.index_patterns` ever an empty list?

[2022-02-21 08:30] sergkondr commented on #251
Hi @phillbaker!

Here is the part of my tfvars-file:
[code]
Then it goes to this module:
[code]

And here is almost full module:
[code]

[2022-02-21 13:20] sergkondr commented on #251
I've updated the ES, now it is OpenSearch 1.1 and it still doesn't work with the same error

[2022-02-22 00:31] #248 closed

[2022-02-22 12:07] operatorequals commented on #209
Hello people!

Might be a good place to show you the little trick that I use in passwords.

----

As setting passwords in TF is a no-no (because they get stored into the state file), I use the TF resource with a default password, and I change it later through the UI.
The catch is, for the TF to not override the set password again, that I use the `lifecycle` TF resource directive:

[code]

This res

[2022-02-22 12:22] nbs-rsutton commented on #253
Am going to close this issue:

**Error: no active connection found: no Elasticsearch node available**

Initial error was being caused (as you advised!), by the endpoint being pulled being incorrect, this was pointed at the elastic endpoint and not the kibana one.

**Error: invalid character "<" looking for beginning of value**

Second error being seen when testing locally (as above) was being caus

[2022-02-22 12:22] #253 closed

[2022-02-22 13:28] operatorequals opened #256 "[FR] Add support for SIEM Exception Lists"
Hello :)

First of all, this provider has saved an enormous amount of clicks in my life. Thank you tremendously!

As my main job is on SIEMs and I use Elastic SIEM quiet a lot, part of my obsession is about making everything about a SIEM as-code.

I have successfully done this with Ingestion PIpelines and Index Templates with this provider, the SIEM Rules part with Elastic's official repo [1], and

[2022-02-23 00:21] phillbaker commented on #256
Hi @operatorequals, that is what the existing `index` attribute on the `elasticseach_kibana_object` is intended to do: https://registry.terraform.io/providers/phillbaker/elasticsearch/latest/docs/resources/kibana_object#index

Could you take a look at that and let me know if it resolves your need?

Otherwise, happy to talk more about implementing these as actual resources using the kibana api, in

[2022-02-23 03:24] phillbaker commented on #253
this is a good idea, thanks. I'll see how feasible this is.

[2022-02-23 08:46] operatorequals commented on #256
I don't know how I missed that :)
I'll try that and come back to you!

[2022-02-23 13:13] moritzzimmer opened #257 "Create index w/o number of shards"
We are using index templates to configure the number of shards/replicas for new indices matching a pattern.

example:

[code]

Creating a new index via [API](https://opensearch.org/docs/latest/opensearch/rest-api/index-apis/create-index/) `foo-bar` pics up those settings. Creating new indices with `elasticsearch_index` in terraform sets `number_of_shards` to `1` (or the configured number for this

[2022-02-27 20:51] Mcrivar commented on #251
Getting same issue on opendistro_role apply with OpenSearch version 1.1:

`│   with module.opensearch.elasticsearch_opendistro_roles_mapping.master_user_arn["security_manager"],
│   on ../opensearch/role_mapping.tf line 16, in resource "elasticsearch_opendistro_roles_mapping" "master_user_arn":
│   16: resource "elasticsearch_opendistro_roles_mapping" "master_user_arn" {
│
│ The plugin encountered

[2022-02-27 21:42] phillbaker commented on #251
Hello - a fully reproducible test case would be very helpful here. @Mcrivar can you isolate the issue to a full resource definition that you can provide (and that I can add to the test suite)?

[2022-02-27 22:00] Mcrivar commented on #251
I used the following module with some adjustments: https://github.com/idealo/terraform-aws-opensearch
the problematic files are these: [role_mapping.tf](https://github.com/idealo/terraform-aws-opensearch/blob/main/role_mapping.tf) [roles.tf](https://github.com/idealo/terraform-aws-opensearch/blob/main/roles.tf)
they both work with elasticsearch_opendistro.
I'll try to isolate only the elasticsearc

[2022-02-27 22:32] Mcrivar commented on #251
meanwhile adding some logs output with TF_LOG=info:
[code]

[2022-02-28 16:00] oranerez commented on #251
I would like to add the fact the same issue seen yesterday be me and reproducible every time terraform plan step is running (using Atlantis) - had to wait about 6 minutes till the plan is coming with the error.

Terraform v1.0.5 on linux_amd64
+ provider registry.terraform.io/hashicorp/aws v3.74.3
+ provider registry.terraform.io/phillbaker/elasticsearch v2.0.0-beta.4

Is there estimation for poss

[2022-02-28 16:05] Mcrivar commented on #251
I actually did make it work by passing AWS keys in the provider.

[2022-02-28 17:30] oranerez commented on #251
@Mcrivar please update if assume_role worked out for you and if so what steps you made as my execution with Atlantis is based over EKS infrastructure.
Thank you.

[2022-03-05 19:52] phillbaker commented on #256
Going to close this as it seems to be solved using existing features. Please reopen if further issues.

[2022-03-05 19:52] #256 closed

[2022-03-06 14:15] Mcrivar commented on #251
@oranerez I had the chance to test it, actually, I'm getting a different error and not as the above.
`Error: HTTP 403 Forbidden: Permission denied. Please ensure that the correct credentials are being used to access the cluster.`
passing AWS keys works just fine but the assumed role doesn't.
I also verified that on OS domain configuration the role has the proper access.

[2022-03-07 20:05] thomasmillergbtw opened #258 "I think the depreciation method is incorrect"
should the following be opensearch_role to elasticsearch_opensearch_role

https://github.com/phillbaker/terraform-provider-elasticsearch/blob/f82e250c2777b6a2e65750a7aa636cca85c5a83b/es/resource_elasticsearch_opendistro_role.go#L128

I think this relates to https://github.com/phillbaker/terraform-provider-elasticsearch/issues/242

[2022-03-09 01:19] #241 closed

[2022-03-09 01:31] #258 closed

[2022-03-09 01:34] phillbaker commented on #257
Thanks for opening an issue. It sounds like the request is to remove the default here: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/420462a96e729e7ad209044c72cd096835aeeae7/es/resource_elasticsearch_index.go#L93-L99, is that accurate?

[2022-03-09 16:25] mahmoud-hafez-aws commented on #251
@Mcrivar with both access keys and role arn in both scenarios it didn't work can you share your provider settings to compare?
I'm using
- provider registry.terraform.io/hashicorp/aws v3.74.3
- provider registry.terraform.io/phillbaker/elasticsearch v2.0.0-beta.4
Thank you

[2022-03-10 08:03] moritzzimmer commented on #257
I guess so @phillbaker - Open/ElasticSearch should use the default or template settings.

[2022-03-13 15:50] phillbaker commented on #257
Done in d9d2916be84b814f679adf699ba4225086e8a1a4

[2022-03-13 15:50] #257 closed

[2022-03-14 08:06] sergkondr commented on #251
Maybe there is some additional information that I can provide? Or logs, or anything else?

[2022-03-15 01:49] phillbaker commented on #251
@sergkondr a minimal, self contained example that reproduces this bug is still missing. For example, a public repo with example terraform files that reproduce this bug. If you can work on providing that, it would be very helpful.

[2022-03-15 08:45] Mcrivar commented on #251
with AWS keys:

[code]
assume role:
[code]

In addition to the provider configuration, the user/role that is provided must be granted the relevant permissions in the cluster, if its not - you'll get access denied(403) error.

[2022-03-15 10:35] mahmoud-hafez-aws commented on #251
@Mcrivar thanks for sharing I tried both and still failed so I think this error has to be fixed in the provider

I'm using the following:-
- provider registry.terraform.io/hashicorp/aws v3.74.3
- provider registry.terraform.io/phillbaker/elasticsearch v2.0.0

Below you can find my config:-

[code]

And I'm still getting the same error

│ Warning: Deprecated Resource
│
│   with elasticsearch_opendi

[2022-03-15 12:47] Mcrivar commented on #251
@mahmoud-hafez-aws

can you try with the following version of the provider - 2.0.0-beta.4 instead of the 2.0.0

[2022-03-15 12:49] mahmoud-hafez-aws commented on #251
@Mcrivar yes I did tried `2.0.0-beta.4`  and I got the same result

[2022-03-15 12:53] Mcrivar commented on #251
@mahmoud-hafez-aws  one more thing that might be is that I'm not using terraform 1.x, I'm on 0.13.

although I do remember I tried it with 1.x also and it was fine.

here is my versions.tf from the module I use:

[code]

[2022-03-15 13:10] mahmoud-hafez-aws commented on #251
@Mcrivar I tried that now and still getting the same problem, maybe it is related to the version of AWS OpenSearch I'm using v1.1

@phillbaker can you check I have provided you with the sample files to re-produce the issue. let me know if you need any further information.

[2022-03-15 13:30] Mcrivar commented on #251
@mahmoud-hafez-aws my OpenSearch cluster version is 1.1

[2022-03-15 14:15] mahmoud-hafez-aws commented on #251
Then I'm out of ideas, I will look into the provider source code if I can find any

[2022-03-16 02:02] phillbaker commented on #251
@mahmoud-hafez-aws using the terraform config you posted in https://github.com/phillbaker/terraform-provider-elasticsearch/issues/251#issuecomment-1067821711, I can not replicate the error you posted.

Please confirm the following additional information:
* What is the value of  fine-grained access control?
* What is the access policy applied to the domain?
* The value of any IAM policies applied t

[2022-03-16 11:10] mahmoud-hafez-aws commented on #251
@phillbaker
- Fine grain access control is enabled

      enabled = true
      master_user_options {
        master_user_arn =   <IAM-ROLE-ARN>
      }
  }

      enforce_https = true
      tls_security_policy = "Policy-Min-TLS-1-2-2019-07"
      custom_endpoint_enabled = true
      custom_endpoint = "opensearch.${var.fully_qualified_domain_name}"
      custom_endpoint_certificate_arn = aws_acm_ce

[2022-03-18 15:00] mahmoud-hafez-aws commented on #251
Hi @phillbaker did you manage to reproduce the case or do you need more information from my side?

[2022-03-21 12:24] Mcrivar opened #259 "Rejecting mapping update on index created using the provider"
I'm using AWS managed OS 1.1
Filebeat version is filebeat-oss:7.12.1 which is supported by OS, according to [this](https://opensearch.org/docs/latest/clients/agents-and-ingestion-tools/index/)

this is my versions.tf file configuration:

[code]

I get the following error when I'm trying to send logs using Filebeat to an index created using the provider:

`
Rejecting mapping update to [example-roll

[2022-03-21 13:35] mahmoud-hafez-aws commented on #251
@phillbaker I tried again today and I got an error during planning not applying

╷
│ Error: Plugin did not respond
│
│ The plugin encountered an error, and failed to respond to the plugin.(*GRPCProvider).ReadResource call. The plugin logs may contain more details.
╵
╷
│ Error: Plugin did not respond
│
│ The plugin encountered an error, and failed to respond to the plugin.(*GRPCProvider).ReadResour

[2022-03-21 16:22] oscarmorasu opened #262 "[Feature Request] Add support for Connector resources"
It would be great if this provider supported the [Connectors API](https://www.elastic.co/guide/en/kibana/current/actions-and-connectors-api.html)

[2022-03-22 00:10] Mcrivar commented on #259
It appears that this is related to this parameter which can be passed on index creation:
`
include_type_name = true
`
once this passed, this solves the issue of ES 7.x+ which is under the hood of OS 1.1.

So this can be closed.

[2022-03-22 00:10] #259 closed

[2022-03-22 02:33] phillbaker commented on #251
@mahmoud-hafez-aws I have not been able to reproduce the issue. Please run terraform and set `TF_LOG_PROVIDER=INFO` and upload the logs to a gist.

Each release includes ARM builds which would be compatible with the M1, please see the release page for compiled binaries.

[2022-03-23 16:01] mahmoud-hafez-aws commented on #251
@phillbaker It worked for me after building both AWS and ElasticSearch providers from go code and use both as local plugins. So maybe the arm based binary generate this issue.

[2022-03-23 18:22] dflorness-circle commented on #222
Hi @phillbaker, would you suggest any temporary workaround for this?  Our diffs are huge because of this.

[2022-03-24 00:54] phillbaker commented on #222
HI @dflorness-circle, as a workaround, my suggestion would be to "import" the JSON returned from kibana into your kibana object definition. My suggestion above for a code workaround didn't pan out.

[2022-03-24 02:03] phillbaker commented on #251
Hi @mahmoud-hafez-aws, thanks for the update. A couple of followups that would help others on this issue:
* can you confirm that the version of the provider installed by `terraform init` is for `darwin_arm64`? In the directory in which you're working you can run `ls .terraform/plugins/registry.terraform.io/phillbaker/elasticsearch/*/`.
* What version of go did you use to compile the provider?
* Ca

[2022-03-25 10:18] sergkondr commented on #251
@phillbaker no, I'm using MacBook Pro with 2,3 GHz 8-Core Intel Core i9

[2022-03-29 23:04] phillbaker commented on #251
Hi @bodgit, can you also provide:
1. detailed logs in a gist by running terraform with `TF_LOG_PROVIDER=INFO`
2. a reproduction in a terraform file that I can run via `terraform apply`

That will help to track this down, thanks!

[2022-03-31 16:33] operatorequals commented on #256
I created a Terraform Provider for SIEM rules and exceptions:
https://github.com/operatorequals/terraform-provider-elastic-siem

[2022-04-03 23:45] phillbaker commented on #159
Fixed in https://github.com/phillbaker/terraform-provider-elasticsearch/commit/7b976cd8f9d0bde054ffb2fa73dbd3f7d7364dea

[2022-04-03 23:45] #159 closed

[2022-04-12 08:32] spo0nman opened #265 "Error: Get "https://cluster_name.cluster_domain/": context deadline exceeded"
Hello,

I am trying to create an opensearch cluster on aws using the provider. It errors out while creating `elasticsearch_opendistro_roles_mapping`  resources . I have also tried using `elasticsearch_opensearch_roles_mapping` to get rid of the deprecated resources warning. provider fails with the same error with `elasticsearch_opensearch_roles_mapping`  as well.  I am using [idealo/opensearch](ht

[2022-04-12 21:10] phillbaker commented on #265
Hello, thanks for the details, this looks like a dupe of https://github.com/phillbaker/terraform-provider-elasticsearch/issues/251. Can you please also include a example terraform file that I can run to reproduce the issue?

[2022-04-13 07:28] spo0nman commented on #265
@phillbaker Thanks for a quick response.

For now I have resolved the issue by changing opensearch version via `cluster_version = "1.2"` and moving the assume role directive further up the chain to the `aws` provider e.g:
[code]
so that is something anyone else suck with this can try.

As for your question, to reproduce the issue, I am using the example as mentioned here:

https://github.com/ideal

[2022-04-14 20:24] sangeethdba opened #266 "checksum issue"
terraform init

Initializing the backend...

Initializing provider plugins...
- Finding latest version of phillbaker/elasticsearch...
- Installing phillbaker/elasticsearch v2.0.0...

Error: Failed to install provider

Error while installing phillbaker/elasticsearch v2.0.0: archive has incorrect
checksum zh:1d8ec7764eb2ee22643c0a51bc55ff32745a4b77ecc10dc2d4bee90f6c65917e
(expected zh:29dd759a17e60f

[2022-04-14 20:25] sangeethdba commented on #266
@phillbaker

[2022-04-14 22:02] phillbaker commented on #266
Please include the version of terraform, OS and architecture of the machine
on which you are seeing this.

On Thu, Apr 14, 2022 at 10:25 PM sangeethdba ***@***.***>
wrote:

[2022-04-15 00:06] sangeethdba commented on #266
Tried all tf versions above 13+ and errors occurred on Mac OS

On Thu, Apr 14, 2022 at 6:02 PM Phillip Baker ***@***.***>
wrote:

[2022-04-15 15:54] sangeethdba commented on #266
@phillbaker any clue.appreciate the help.

[2022-04-15 15:55] sangeethdba commented on #266
mac os monterey

[2022-04-19 09:46] ssinghj commented on #265
Hi @spo0nman ,

I am facing same issue while setting-up backend role mapping while using "phillbaker/elasticsearch" providers and ending up following error everytime.
[code]
I tried what you suggested, upgreading to OpenSearch 1.2 and moving assume role directives to further up in the {aws}. But nothing worked out.
Here is my config:

[code]

[2022-04-20 09:10] preyas-prakasan opened #268 "Support for Elasticsearch v8"
Hello,
We are planning to upgrade our clusters from v7 to v8 and use your provider in our terraform code. Wanted to see if we can get the provider support for ES v8.

Is that in the pipeline ?

[2022-04-20 12:12] ssinghj commented on #265
Today in terraform INFO logs in the noticed the following,  the provider wasn't able to find the credentials chain.

[code]

I use the master assume the role and tried to place it in both levels in provider "aws" and in provider "elasticsearch" and role is already part of the "security_manages" role in the cluster but unfortunately, still it didn't work.

[2022-04-20 14:31] ssinghj commented on #251
In terraform INFO logs in the noticed the following,  the provider wasn't able to find the credentials chain!!

[code]

I use the assume role and tried to place it in both levels in provider "aws" and in provider "elasticsearch" and the role is already part of the "security_manages" role in the cluster but unfortunately, still, it didn't work.

[2022-04-20 23:32] phillbaker commented on #268
👋 Hi at this time, I think I'm recommending that for v8 support users switch to the Elastic provider: https://github.com/elastic/terraform-provider-elasticstack. Are there specific resources not supported yet in the official provider that you're using?

I understand that could be challenging to switch a lot of resources, I believe an interim step could be to set the `elasticsearch_version` argumen

[2022-04-20 23:40] phillbaker commented on #266
Hello - just following up on this, as I'm not able to reproduce it using teraform `0.13.2` or `1.0.9`.

Some suggestions on stackoverflow include various permutations of `terraform init -reconfigure` and `terraform lock`
* https://stackoverflow.com/questions/57294024/terraform-init-unable-to-verify-checksum
* https://stackoverflow.com/a/67204812

This doesn't seem like a provider specific issue.

[2022-04-21 00:17] sangeethdba commented on #266
Yes it is not a provider issue.our machines are behind some proxies and while downloading some sort of corruption or partial file download causing this  issue

Sent from my iPhone

[2022-04-21 13:16] #266 closed

[2022-04-22 00:50] niladriforu opened #269 "Error: Missing required argument while trying to deploy resource "elasticsearch_opendistro_role""
Error message is : The argument "url" is required, but was not set.

[2022-04-22 08:27] ssinghj commented on #265
Hi,
I was able to resolve this issue while setting up the 'default' profile in .aws/credentials. Which was the reason the credentials issue was occurring.

[2022-04-23 02:16] phillbaker commented on #269
Hello, can you please include the following:
* terraform version
* provider version
* elasticsearch version (and opendistro version if relevant)
* redacted version of the terraform resource configuration
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2022-04-25 20:30] phillbaker commented on #265
I'm going to close this issue as both folks on the thread have said the issue is resolved. It does seem similar to https://github.com/phillbaker/terraform-provider-elasticsearch/issues/251

[2022-04-25 20:30] #265 closed

[2022-04-27 16:00] sergkondr commented on #251
It looks like I managed to resolve the issue. `terraform plan --target` helped me find the particular resource with the problem(don't blame me for the time it took, it is not the highest priority task, and there are about hundred resources managed by es-provider:)), and it turns out it was one of the `elasticsearch_opendistro_role`-resource. I deleted it from the state and ran terraform again, and

[2022-04-28 00:24] phillbaker commented on #269
Hi @niladriforu without further information, this issue isn't possible to investigate. I'm going to close this issue for now, please reopen it if further information can be provided.

[2022-04-28 00:24] #269 closed

[2022-04-29 05:54] graemechristie commented on #268
We don't currently use this provider but are evaluating it.

There is definitely quite a few resources the official provider cannot manage, but this one can. The official provider mostly only had resources for indexes, indexers and some security components.

![image](https://user-images.githubusercontent.com/1361894/165891272-1f3dd2eb-2782-40f0-b991-18bfc2c16ae0.png)

Mostly, there is no support f

[2022-04-29 14:55] mrsiejas commented on #208
@phillbaker how to use provider if no authentication is used (we are limiting access via VPN)?
To run terraform commands we are assuming roles for example with aws provider
[code]

but elasticsearch - with or without the `aws_assume_role_arn` produces same 401 unathorised
[code]

I can curl the `url` endpoint from my laptop without any authentication and it works.

[2022-04-29 19:29] niladriforu opened #270 "elasticsearch_opensearch_role resource errors"
I am getting :
Error: rpc error: code = Unavailable desc = transport is closing

when I deploy from jenkins.

resources I am deploying :

elasticsearch_opensearch_role
elasticsearch_opensearch_roles_mapping

One more thing : When we search documentaion, it tells us to create elasticsearch_opendistro_role instead of opensearch. Only when we get the error message, we know it needs to be opensearch.

[2022-04-29 20:54] phillbaker commented on #270
Hi @niladriforu, I'm going to close this as a dupe of https://github.com/phillbaker/terraform-provider-elasticsearch/issues/251.

Thanks for the reminder about the docs, I'll get those updated.

[2022-04-29 20:54] #270 closed

[2022-04-29 21:25] aanand854 opened #271 "elasticsearch_kibana_alert does not recognize the key "id""
Hi! Thank you for your provider !

Looks like when trying to specify ID when creating the terraform resource elasticsearch_kibana_alert, the ID is not recognized as a valid key.
Although in the documentation is it specified under optional -> id (String) The ID of this resource.

╷
│ Error: Invalid or unknown key
│
│   with elasticsearch_kibana_alert.test_params_json,
│   on alerting.tf line 66, in

[2022-04-30 15:56] phillbaker commented on #271
Are you referring to the Elasticsearch documentation? E.g. here: https://www.elastic.co/guide/en/kibana/7.13/alerts-api.html#alerts-api-create-path-params

Can you please include a redacted version of the terraform resource configuration?

[2022-04-30 16:27] aanand854 commented on #271
I am referring to the documentation for you provider at  https://registry.terraform.io/providers/phillbaker/elasticsearch/latest/docs/resources/kibana_alert.
But yes, according to the elastic search documentation you can specify an ID.

The need for ID being as id is required as part of actions {}, and there is no way of knowing the ID until the resource ( the kibana alert) is created. Chicken or

[2022-05-01 19:37] phillbaker commented on #207
Added in 79e1882e43dde7790f1ebda30337216690ee9308

[2022-05-01 19:37] #207 closed

[2022-05-01 19:38] phillbaker commented on #271
I see, this is an issue with the way the documentation is generated, currently it is a read only attribute. I'll get the docs updated.

I understand the ask and it makes sense, this sounds like a reasonable feature rquest.

[2022-05-02 20:21] phillbaker commented on #251
Hi all, here's my summary of what's been discussed so far:

1. `panic: set item just set doesn't exist` on applying a `elasticsearch_opendistro_role`
1. `error: Plugin did not respond`  or `Error: Request cancelled` applying a `elasticsearch_opendistro_roles_mapping`
   * Using `TF_LOG_PROVIDER=INFO`, usually a `NoCredentialProviders: no valid providers in chain` appears
1. `panic: runtime error:

[2022-05-04 16:19] olivierots opened #272 "Help required importing or renaming Elasticsearch provider based modules in terraform on AWS"
Hello @phillbaker ! Thank you for your provider, it's really helpful!

I have recently faced a few issues with it at work and need your assistance please
we currently have a few modules that deploy 3 Logstash deployments & elasticsearch clusters using modules such as rbac, logstash, rbac, elasticsearch, index mappings & Logstash pipelines.

We now want to split these modules into two (Dev/Test & P

[2022-05-09 16:33] phillbaker commented on #272
Hello,

Based on my understanding of how terraform works, you can't do one without the other unfortunately. I'm not quite following what happened, but if the resources were moved between modules then it's expected that terraform state will have to move in a corresponding way.

I don't think this is specific to this provider, but a general terraform question. I don't have much to offer for this spe

[2022-05-10 09:21] olivierots commented on #272
Hi @phillbaker, thanks for your prompt response !

We've looked to use tf mv, to move the resources to under a new module & we still get the "no active connection found" error though the elasticsearch clusters are up & running fine.

As this hasn't worked, we will look to refactor our code, by removing the module from state, and then look to use a terraform import against the infrastructure. To ca

[2022-05-10 14:03] rm-hull opened #273 "Audit log resource"
Hi @phillbaker, am i right in thinking there is no terraform resource that can handle `GET/PUT _plugins/_security/api/audit/config` on as per [AWS docs on audit log API](https://docs.aws.amazon.com/opensearch-service/latest/developerguide/audit-logs.html#audit-log-rest-api) ?

Would you be open to accepting a PR to add this capability?

[2022-05-10 14:35] phillbaker commented on #273
Hi @rm-hull, that's correct, nothing today manages that.

A PR for it would be great. Please see https://github.com/phillbaker/terraform-provider-elasticsearch/pull/264 for a good example. What do you think of naming it `elasticsearch_opensearch_audit_config`?

[2022-05-10 23:28] phillbaker commented on #272
Hi @olivierots, my guess is that the provider isn't configured correctly for the module, please see the terraform docs here: https://www.terraform.io/language/modules/develop/providers

I see now that most xpack resource docs are missing import examples. They work very similarly to the resources that _do_ have import examples, e.g.  https://registry.terraform.io/providers/phillbaker/elasticsearch/

[2022-05-10 23:34] phillbaker commented on #273
Yes please, the more recent resources do this, that's preferred.

[2022-05-17 03:49] danielmotaleite opened #275 "kibana_url and opensearch dashboard/kibana with SAML"
Hi

i'm new to aws opensearch and i'm having some trouble applyting this terraform

I have a test aws opensearch cluster, with a kibana enable SAML (otka). I can login using the browser, after the okta external authentication is done. I also have a basic auth admin
Now i added in to the terraform this:

[code]

The plan always work fine, and I can change the opensearch cluster config, but all kiba

[2022-05-18 19:18] glisignoli opened #277 "elasticsearch_xpack_index_lifecycle_policy always triggers update"
elasticsearch_xpack_index_lifecycle_policy always triggers an update, as the returned GET json contains extra element (in_use_by) not required in the POST json:

[code]

[2022-05-19 05:16] raswinraaj opened #278 "Support for Logstash Pipelines"
Hi Phil, This is a great provider to have. Thanks for this. I wanted to check if you have plans to include support for Logstash Pipeline resource similar to Ingest Pipeline. There is no way to automate this as of now using terraform. It would be great if this support is provided. Thanks in advance.
![logstashpipeline-new](https://user-images.githubusercontent.com/50330414/169214413-e4d21df3-5f6e-4

[2022-05-20 00:33] phillbaker commented on #278
Hi @raswinraaj are you referring to the resources described in these docs: https://www.elastic.co/guide/en/elasticsearch/reference/7.17/logstash-api-put-pipeline.html?

If so, I'm happy to review a PR that would add this resource.

[2022-05-20 00:33] phillbaker commented on #277
Hello, can you please include the following:
* terraform version
* provider version
* elasticsearch version (and opendistro version if relevant)
* redacted version of the terraform resource configuration
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2022-05-20 00:34] phillbaker commented on #271
Hi @aanand854, the quickest way would be to submit a PR for it, I'm happy to review.

[2022-05-20 00:42] phillbaker commented on #275
Hello - to clarify, kibana SAML credentials do not work with authenticating to the underlying ES API, see https://github.com/phillbaker/terraform-provider-elasticsearch/issues/217. Please see the docs for AWS authentication options: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/master/docs/index.md#AWS-authentication

The `kibana_url` is used only for kibana-specific resource

[2022-05-20 00:45] phillbaker commented on #272
The import examples have been added in afaaca57520242e8da2e1a16805ad326ed87465f, I'm going to close this issue now. Please re-open if there are provider specific issues.

[2022-05-20 00:45] #272 closed

[2022-05-20 02:43] glisignoli commented on #277
Terraform: v1.0.7
Provider Version: provider registry.terraform.io/phillbaker/elasticsearch v2.0.1
Elasticsearch Version: 7.15.1

[code]

(File content):
[code]

[2022-05-20 13:12] rm-hull opened #279 "Add data source for index alias"
Hi @phillbaker, in the [rollover guide](https://registry.terraform.io/providers/phillbaker/elasticsearch/latest/docs/guides/rollover), it talks about setting an initial index which has the `is_write_index = true property` set so that the alias is associated with the first index:

[code]

I've done exactly this, but as the rollovers occur, test-000002, 000003 ... (or whatever) is the current write

[2022-05-24 00:42] phillbaker commented on #279
Thanks for the notes and investigation. Can you also please include the following:
* terraform version
* provider version
* elasticsearch version (and opendistro version if relevant) or opensearch version

Hm, I think the tricky part is that this changes over time, so that the Elasticsearch state doesn't match the terraform state.

I think this 500 is worth investigating (and fixing). This functio

[2022-05-24 03:14] danielmotaleite commented on #275
ok, thanks for the reply
yes, i know that this terraform can't use SAML, but as you said kibana_url was only for some resources, i tried disable SAML and use only basic auth to see if it worked... and still fail to work
so i'm having a problem somewhere else... i'm not using any aws auth, as we will rely on the SAML

OK, i think i found the problem, looks like i need to set
`sign_aws_requests = fa

[2022-05-24 03:14] #275 closed

[2022-05-24 06:49] rm-hull commented on #279
Terraform version: 1.1.9
Provider version: 2.0.1
Opensearch version: AWS 1.2 (latest patches applied, which I believe to be 1.2.3)

[2022-05-26 02:42] #273 closed

[2022-05-27 15:21] mohamed-haidara-cko opened #281 "Provider is slow when running from EC2 with other AWS providers"
Hi, first of all, thank you for this provider. It is really helpful to set up an ES cluster :-)

I have a similar issue to the one described on #124: when using the provider from an EC2 instance, the endpoint `/latest/api/token` is called multiple times to update a single resource making Terraform plan and apply really slow. I suspect with a throttling here but couldn't confirm it. **It took 40sec

[2022-05-31 07:08] wasilak opened #282 "elasticsearch_xpack_role missing allow_restricted_indices parameter"
Hi,

It'll be awesome if you could implement support for `allow_restricted_indices` param in `elasticsearch_xpack_role`
as described here: https://www.elastic.co/guide/en/elasticsearch/reference/current/defining-roles.html

Thanks! :)

[2022-06-01 02:13] phillbaker commented on #282
Hello, happy to review a PR that adds this. It can be added to the schema here: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/1e8c6d082bfa31fd8804aefbf49ca24df70933d3/es/resource_elasticsearch_xpack_role.go#L31 and then threaded through the relevant objects and expand/flatten functions.

[2022-06-01 02:29] phillbaker commented on #281
Hello, thanks for opening an issue. Can you please include the following:
* terraform version
* provider version

How many resources are you managing in a single terraform run?

From the logs, it looks like `IMDSv2` is being used and a TTL of 21600 seconds is being used, so it doesn't look like throttling by STS.

It may be worth verifying network connection issues from the ec2 instance - can you

[2022-06-01 07:22] mohamed-haidara-cko commented on #281
Thanks for your response.

- Terraform version: 1.0.9
- Provider version: 2.0.2
- 15 resources in the stack: 13 from AWS and 2 from this provider

I will keep you in touch regarding my tests from an EC2 instance.

[2022-06-01 09:23] wasilak commented on #282
Hey @phillbaker

I tried and almost succeeded. Almost :) It looks like there will be larger refactoring required in order to support this param as it needs Elasticsearch v8 and as far as I can tell your provider relies on `https://github.com/olivere/elastic` which does not support v8 (yet?) which means that

[code]
won't work.

Trying to use this param with v6 or v7 results in:
[code]

Fortunately

[2022-06-02 02:46] phillbaker commented on #282
It's supported in v7 - no need to upgrade to v8, see the v7 docs here: https://www.elastic.co/guide/en/elasticsearch/reference/7.17/defining-roles.html.

It would need to be added into the upstream library being used in this repo, the struct here would need to be updated: https://github.com/olivere/elastic/blob/29ee98974cf1984dfecf53ef772d721fb97cb0b9/xpack_security_get_role.go#L181-L186

[2022-06-02 07:26] wasilak commented on #282
Yep. it was not implemented in https://github.com/olivere/elastic/blob/release-branch.v7/xpack_security_get_role.go#L181

[code]
es/util.go:305:34: item.AllowRestrictedIndices undefined (type "github.com/olivere/elastic/v7".XPackSecurityIndicesPermissions has no field or method AllowRestrictedIndices)
[code]

[2022-06-02 15:48] mohamed-haidara-cko commented on #281
Hi. I found the root cause of the issue. I was able to reproduce it and fix it. It's in fact a network issue with IMDSv2 since I was running Terraform inside a Docker container. A similar issue was raised in the Go SDK for AWS: https://github.com/aws/aws-sdk-go/issues/2972. A decrease in the timeout [here](https://github.com/phillbaker/terraform-provider-elasticsearch/blob/master/es/provider.go#L5

[2022-06-06 00:13] #281 closed

[2022-06-08 00:34] hkilicer commented on #251
I'm having a little bit different error when I try to create any type of resources which is `Error: HTTP 403 Forbidden: Permission denied. Please ensure that the correct credentials are being used to access the cluster.`

More detailed error that I see in TF logs is;
Failed to create OpenDistroRole: HTTP 403 Forbidden: Permission denied. Please ensure that the correct credentials are being used to

[2022-06-09 06:28] xi3826-spandey opened #284 "Error: HEAD healthcheck failed: This is usually due to network or permission issues. The underlying error isn't accessible, please debug by disabling healthchecks."
Please help me for the below issue, I have tried couple of permutation and combination but couldn't find any solution.
[code]
================

using below versions.tf
[code]
@phillbaker

[2022-06-10 15:11] christophemorio commented on #277
I get the same issue with this provider v2.0.1, and ES cluster 8.2.1

---

Found a workaround (requires terraform >= 1.2.0)

It set **ignore_changes** on **body**,
and consider input value to trigger a replacement.

Meanwhile, this does not reconcile if value have changed on Elasticsearch without modification on code side.

[code]

[2022-06-12 19:21] jiahuijiang commented on #162
@phillbaker is there any configuration I need to set to use SSO?
I'm using 2.0.1, but it seems like the provider is not picking up SSO with `~/.aws/config` file. When there is a `~/.aws/credentials` file everything works properly.

This is the error message I got while the same SSO setup works with other providers
[code]

[2022-06-12 23:40] phillbaker commented on #284
Hello, what steps have you taken so far to debug the issue? The error message is descriptive in this case: the provider cannot reach the configured elasticsearch cluster.

Please include the following information:
* from where are you running the provider?
* where is the elasticsearch cluster located?
* what is the networking configuration for where the elasticsearch cluster runs and all the netwo

[2022-06-12 23:43] phillbaker commented on #251
@hkilicer can you open a separate issue please, that doesn't seem related to this issue.

[2022-06-12 23:46] phillbaker commented on #277
Hi all - a fix for this is in 44db2002cfcc3675acd3534115ff80e8fbb7b3e6, trying to get the tests up to date to reflect this.

[2022-06-12 23:52] phillbaker commented on #162
Can you be more specific? What other providers work with this?

According to the upstream docs (https://docs.aws.amazon.com/sdk-for-go/api/aws/session/#hdr-Shared_Config_Fields), the `AWS_SDK_LOAD_CONFIG` environmental variable needs to be set to use `~/.aws/config`.

[2022-06-13 01:07] phillbaker commented on #211
Hi, sorry for the slow response on this. As you pointed out, this is similar to #136 - this seems like an unfortunate side effect of specifying the json bodies directly, see https://github.com/phillbaker/terraform-provider-elasticsearch/issues/93 for a potential fix.

 If the API is returning the value, I suggest you "backport" it into the JSON.

[2022-06-13 01:07] #211 closed

[2022-06-14 19:45] hkilicer commented on #251
@phillbaker for sure. Thanks for the reply.

[2022-06-14 19:46] hkilicer opened #285 "Failed to create OpenDistroRole: HTTP 403 Forbidden"
Hello, when I try to create any type of resources which is `Failed to create OpenDistroRole: HTTP 403 Forbidden: Permission denied. Please ensure that the correct credentials are being used to access the cluster.`

[code]
I've built Open Search cluster with official AWS provider, everything is functioning well cluster wise.
I just want to create a simple index with elasticsearch provider as a part

[2022-06-15 01:15] phillbaker commented on #285
@hkilicer can you please include the following:
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2022-06-15 19:20] Indigenuity opened #286 "Bug: Change always detected during plan for elasticsearch_component_template"
I believe I've encountered a bug, though it's entirely possible I've been using the resources incorrectly.  Running `terraform apply` on this resource will always result in Terraform taking the update action:
[code]

After 1st apply, great success:
[code]

But now we run a 2nd apply:
[code]

It will take the same action after the 3rd and 4th apply.  I can confirm that the `_meta` tag is successful

[2022-06-16 09:25] rasatabular opened #287 "OpenSearch connection issues"
Hi,

I have an AWS VPC with Opensearch version 1.2 which is not publicly accessible. I am trying to create I have tried different configurations for the provider but I have failed to make things work and I am trying to find out what is wrong in the configuration.

The following configuration:

[code]

Gives the following output:
[code]

If I remove the `insecure = true` I get:

[code]

The error i

[2022-06-16 10:41] moritzzimmer commented on #287
We're using a serverless API proxy (basically an API Gateway using proxy integration to a python Lambda deployed in the VPC) in order to be able to connect to a VPC based OpenSearch domain API via public internet/in terraform.

[code]

[2022-06-21 00:39] phillbaker commented on #284
Closing this issue due to lack of information. Please reopen if further information can be provided.

[2022-06-21 00:39] #284 closed

[2022-06-21 00:57] phillbaker commented on #286
Hello, can you please include the following:
* terraform version
* provider version
* elasticsearch/opensearch version (and opendistro version if relevant)

[2022-06-21 11:39] moritzzimmer commented on #287
@phillbaker just wanted to give an example/provide help how to use this provider to connect to an OpenSearch domain inside a VPC

[2022-06-27 17:16] rasatabular commented on #287
Hi @phillbaker I am not sure whether the error I am getting is due to some issue with the code or me not using the repo in the correct way. I assumed that I would be using it in the same way that I use the AWS provider to deploy AWS resources.

To be more explicit:

I am running the TerraForm code locally. The code connect to my AWS profile and deploys the infrastructure (loadbalancer, EC2, OpenSe

[2022-06-28 05:07] higuita opened #288 "elasticsearch_cluster_settings issue"
I'm using opensearch 1.2 in a AWS account and i'm having some problems.
I'm trying to use elasticsearch_cluster_settings to set some configs, that i already manually changed via curl, this is a example:

[code]

the plan run well, but trying to really apply it returns this:

[code]

i'm using this provider config:

[code]

Changing the last 3 parameters did not make any change and the auth is usin

[2022-06-28 11:15] olafnorge opened #289 "Provider Configuration: ENV vars take precedence over explicit basic auth pair"
Hi, I've an issue configuring the provider properly. In my setup I have `AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY`, and `AWS_SESSION_TOKEN` set in my environment. These are used to assume into a specific deployment role. The search cluster is not accessible through that role but by a master user and password.

The master user and password I configure in the provider setup like so:
[code]

When I

[2022-06-29 14:16] sangeethdba opened #290 "mapping update(adding additional feilds) forcing index to be recreated."
@phillbaker
[code]
failing when updating this resource with additional fields in mapping.
[code]
this change forcing index to me recreated ,

[2022-06-29 20:56] hessamalipour opened #292 "Forcing to Healthcheck"
Hi,

We are trying using the provider to automate ISM policies for AWS OpenSearch. However we came up with this error constantly.

[code]

IAM role work fine:

[code]

provider setting:

[code]
Assume role code:
[code]
hashicorp/aws v4.20.1
phillbaker/elasticsearch v2.0.2
OpenSearch 1.0.0

[2022-07-02 15:44] phillbaker commented on #287
@rasatabular this is not an issue with the provider.

If your OpenSearch cluster is a VPC-accessible cluster on AWS, then it will only be network accessible from within the VPC. You either need to run terraform from within the VPC or, if you want to run it outside the VPC (e.g. locally), set up a proxy to get into the VPC. Please see @moritzzimmer's comment for one example, but there are many ways

[2022-07-02 15:44] #287 closed

[2022-07-02 16:15] phillbaker commented on #288
Hi @higuita, can you confirm the username/password that you have in the elasticsearch provider config is the same as what you used in the curl command?

Kibana SAML auth does not work with authenticating to the underlying cluster API, see https://github.com/phillbaker/terraform-provider-elasticsearch/issues/217

[2022-07-02 16:18] phillbaker commented on #289
Hello - this is expected behavior. You can set `sign_aws_requests` to false to disable AWS authentication in the provider.

[2022-07-02 16:20] phillbaker commented on #285
I'm going to close this issue as no further information was provided. Please re-open if a reproducible test case can be provided.

[2022-07-02 16:20] #285 closed

[2022-07-02 16:26] phillbaker commented on #290
Please see the documentation for the mapping attribute on https://registry.terraform.io/providers/phillbaker/elasticsearch/latest/docs/resources/index:

If you'd like to contribute a pull request to handle the issues when mappings may and may not be updated, that'd be great. For now I'm going to close this issue as it appears the provider is working as intended.

[2022-07-02 16:26] #290 closed

[2022-07-02 16:35] phillbaker commented on #292
Hello, what steps have you taken so far to debug the issue? Does this happen for all resources or just ISM policies? The error message is descriptive in this case: the provider cannot reach the configured elasticsearch cluster.

Please include the following information:
* from where are you running the provider?
* where is the elasticsearch cluster located?
* what is the networking configuration f

[2022-07-02 18:50] danielmotaleite commented on #288
yes, i can confirm that, the remaining items of my terraform do work fine (create index, ISM tenant, roles)

the admin user is a basic user only, not a SAML user. it was created exactly to allow terraform to run and emergency admin access if SAML stop working

Is there any TF_LOG level that allows one to see exactly all the data sent? TRACE still do not give me any hint why the resource config fai

[2022-07-02 20:09] phillbaker commented on #288
Please share the  terraform logs by setting [`TF_LOG_PROVIDER=info`](https://www.terraform.io/docs/internals/debugging.html)

[2022-07-02 21:01] danielmotaleite commented on #288
Full resource config:
[code]
Command:
TF_LOG_PROVIDER=info  terraform_1.1.7 apply  -target=elasticsearch_cluster_settings.persistent |& tee /tmp/terraform.log

[terraform.log](https://github.com/phillbaker/terraform-provider-elasticsearch/files/9033711/terraform.log)

[2022-07-03 00:14] hessamalipour commented on #292
Thanks @phillbaker, your respond gave me hit, and I got that where is problem. In addition, you have totally right, and should provide more info regarding with issue

[2022-07-03 00:14] #292 closed

[2022-07-05 00:54] phillbaker commented on #288
Hi, thanks for sharing the logs - it's a bit odd, that command should have the full request/response bodies emitted to/from the cluster in the logs.

A 401 indicates an authorization issue from the cluster, so it doesn't seem like the request is malformed or that there's some other issue with the request. I'm not sure this is an issue with the provider - can you try making this change again using

[2022-07-05 13:22] sentinelleader opened #294 "perpetual change elasticsearch_index_template resource"
Hello we are using v2.0.2 release and even in the previous releases we are seeing perpetual change for elasticsearch_index_template resource on everny terraform plan. Plan shows we are trying to set it to null (see the below plan output)

[code]

Is this related to https://github.com/phillbaker/terraform-provider-elasticsearch/issues/93 ?

[2022-07-13 01:34] phillbaker commented on #294
Hello, can you please include the following:
* terraform version
* elasticsearch version (and opendistro version if relevant)
* redacted version of the terraform resource configuration

[2022-07-14 07:26] spxglenn commented on #288
I'm seeing this same issue
[code]

I have just updated to v2.0.2 of the module and i applied it initially to test the new resource, and tweak the shards a few times, and now I have confirmed out configuration and tried applying the next day and its not working.

We are using OpenSearch 1.1 which is completely open with no authentication required.
My provider config is using aws_profile to use my l

[2022-07-14 20:17] danielmotaleite commented on #288
The credentials are the same, everything else is working. I do require authentication and the admin user is the only real user, everyone else is using SAML

[code]

one strange thing is that i noticed that this one is not working:
[code]
This should work, but it is not, do not know exactly why... but maybe it is related with this problem?

even if i have only the shard_per_node, it still fails, bu

[2022-07-14 21:22] danielmotaleite commented on #169
Sorry for the noise, but i'm failing to understand how to fetch the tenant index name to create a list of index pattern to all tenants

I'm able to create the index pattern if i manually specify the .kibana tenant index... but is there any way to fetch that info from the tenant resource and not manually manage this index names?

[code]
thanks

[2022-07-15 07:23] spxglenn commented on #288
I had configured my resource to set a load of settings otherwise after run terraform apply, it wants to remove a load of settings. I have now removed those extra settings and used terraform ignore_changes instead and its now working.

Original resource configuration
[code]

New resource configuration
[code]

Without the ignore_changes, terraform thinks there are changes to apply
[code]

[2022-07-15 14:14] danielmotaleite commented on #288
i have confirmed with AWS that some settings (like cluster_routing_allocation_node_concurrent_recoveries) are "protected" and can't be changed directly (probably only via a ticket to aws, i'm trying that now)

[2022-07-19 21:48] grglzrv opened #297 "Error: elastic: Error 403 (Forbidden)"
Hello,

I am getting 403 (Forbidden)

[code]

terraform version - v1.2.4
registry.terraform.io/phillbaker/elasticsearch v2.0.2
AWS OpenSearch - Elasticsearch 7.9 / 7.10
master user is enabled

terraform code:

[code]

[2022-07-20 05:58] grglzrv commented on #297
I've raised new AWS OpenSearch, but now I got 400 (Bad Request), with the same versions

 terraform version - v1.2.4
registry.terraform.io/phillbaker/elasticsearch v2.0.2
AWS OpenSearch - Elasticsearch 7.9
Elasticsearch with Cognito auth

[code]

[2022-07-20 12:30] grglzrv commented on #297
Error: elastic: Error 400 (Bad Request) with AWS OpenSearch - Elasticsearch 7.10 version BUT  without Cognito and master user

[2022-07-22 02:53] xt-yin opened #298 "Support for OpenSearch v2"
Hello,
We are planning to upgrade to OpenSearch v2 and use your provider. But destinations have been deprecated and can no longer be created/edited in OpenSearch v2. Is there any plan to support new notification plugin?

[2022-07-27 11:16] phillbaker commented on #298
Hi @xt-yin, can you link to the API docs for the new resources?

I would like to support OpenSearch v2, but don't have a definite timeline to implement these resources. Any PRs would be greatly accepted.

[2022-07-27 15:34] xt-yin commented on #298
API document for [notifications-plugin](https://opensearch.org/docs/latest/notifications-plugin/api/).

[2022-07-28 09:31] moritzzimmer commented on #294
Maybe related, we have the same problem when using `elasticsearch_opendistro_ism_policy` and `elasticsearch_opendistro_monitor`

- Terraform v1.1.6
- AWS OpenSearch Service 1.1
- provider version 2.0.2

In the case of `elasticsearch_opendistro_ism_policy`, the `ism_template` part is always displayed as a change set

[code]

### config example

[code]

[code]

### output

[code]

[2022-08-01 17:39] jackson-theisen opened #299 "[Discussion] Official HashiCorp verification status"
I noticed that this provider was [initially PR'd to HashiCorp's official Terraform repository ](https://github.com/hashicorp/terraform/pull/13238) back when all of their 'Official' providers were managed within that repository. They've since refactored their approach a bit and now manage 'official' providers in their own repository within the [HashiCorp organization](https://github.com/hashicorp).

[2022-08-02 19:35] jay2242 opened #300 "Using role write for creating multiple roles"
https://registry.terraform.io/providers/phillbaker/elasticsearch/latest/docs/resources/opensearch_role
Example here creates single role, I would like to create multiple roles and later map them using "elasticsearch_opendistro_role.writer.id" , How can I do that?
Thanks

[2022-08-03 02:21] phillbaker commented on #299
Hi @jackson-theisen, not opposed to transferring ownership on my side, if there is corresponding interest on the opensearch-project side and maintainers willing to take that on.

If you'd be able to shepherd that process through, I'm open to it!

[2022-08-03 02:22] phillbaker commented on #289
I'm going to close this issue out, please reopen if there are further aspects to clarify.

[2022-08-03 02:22] #289 closed

[2022-08-03 16:18] jackson-theisen commented on #299
@phillbaker I really admire your willingness to transfer the ownership. I'd be happy to attempt to shepherd the process through but will likely need to reach out to you around any opinionated changes that might be requested. Mainly, my concern is that if we want https://github.com/opensearch-project to adopt it, they'll want it branded as opensearch-specific. In my personal opinion, shifting the f

[2022-08-04 03:02] danielmotaleite commented on #288
i can also confirm that those settings can only be changed via aws ticket, so probably the provider should iterate every config, so "open" ones can be set, the "locked" ones fail and users should open a ticket in aws. After changing, terraform can still check if they change

[2022-08-04 10:34] maxhand-98 opened #301 "Release new version of provider for xpack role bug fix"
Please could you release a new version of the provider as I am particularly interested in the commit below which will hopefully allow me to avoid deleting old xpac roles for every deployment that we have.

https://github.com/phillbaker/terraform-provider-elasticsearch/commit/7af7307bbf238a458269d0c0e6c2fc7368207fe4

[2022-08-04 18:18] elfisher commented on #299
hey @phillbaker and @jackson-theisen, @bbarani and I are from the OpenSearch Project. We will look into creating a repo in the OpenSearch org for a terraform provider. Would one of you be willing to create a PR into the repo using this content once we have it setup?

[2022-08-04 18:21] bbarani commented on #299
Thanks @elfisher . @phillbaker @jackson-theisen Do you have any preference on the repo name? Listing some options here.. terraform-provider-opensearch | terraform-provider-for-opensearch | opensearch-terraform-provider

[2022-08-04 19:49] jackson-theisen commented on #299
Hey @elfisher and @bbarani, thanks for being so quick to respond on this request! To add some context, I am currently not a contributor on this repo and have no affiliation to @phillbaker outside of this request. I'm certainly planning to get more involved as the incentive behind my request was actually so I could begin using this provider (TLDR; red tape around unofficial providers).

That said,

[2022-08-05 11:54] slawa-c opened #302 "add support for GP3 type volume"
I try to change volume type to GP3 but got error:
[code]

[2022-08-05 13:14] elfisher commented on #299
For what it is worth I also do like this name!

[2022-08-05 23:53] wli-chwy opened #303 "Error when use synonyms_path"
Hi all, please help me resolve this issue

I try to use AWS open search package feature for dynamic synonym https://docs.aws.amazon.com/opensearch-service/latest/developerguide/custom-packages.html

However, after I upload and associate the package by hand. I get the following error while creating a index using the TF. It does not have more detail. If I change synonyms_path back to an explicit lis

[2022-08-05 23:54] wli-chwy commented on #303
synonyms_path = "analyzers/F34192456" =>     synonyms = split("\n", file("${path.module}/data/synonyms.txt"))
will be fine. But I cannot use the dynamic synonym anymore

[2022-08-07 09:05] nirsv opened #304 "error creating user: &{403 map[Access-Control-Allow-Origin:[*] Content-Length:[333] Content-Type:[application/json; charset=UTF-8]"
I am using AWS Opensearch with Saml enabled and whatever I try to do I get error 403.

I tried using `aws_assume_role_arn`, `aws_profile`, master username and password all the combination but I always get this error 403.

Maybe the provider is not supported for AWS Opensearch with enabled SAML ?

[2022-08-07 15:25] phillbaker commented on #302
Hi @slawa-c, did you mean to report this as an error with the [official AWS terraform provider](https://github.com/hashicorp/terraform-provider-aws)? This provider interacts with Elasticsearch itself which does not control the underlying storage of a ES cluster.

I'm going to close this issue for now, please re-open if it's relevant to this provider and provider more details.

[2022-08-07 15:25] #302 closed

[2022-08-07 15:30] phillbaker commented on #288
I can see two approaches here:
* add these constraints to the documentation so that it is more clear to users that they cannot make these changes
* based on authentication, if using AWS, don't allow these settings to be used

Is there a publicly documented list of which settings require support tickets?

[2022-08-07 15:37] phillbaker commented on #297
Hello, what steps have you taken so far to debug the issue? Does this happen for all resources or just roles? A 403 indicates a permission denied, so please check the your configuration and AWS documentation for what resources the user is allowed to access. You can also search this repository for similar issues in the past: https://github.com/phillbaker/terraform-provider-elasticsearch/issues?q=is

[2022-08-07 15:41] phillbaker commented on #304
Hello - Kibana SAML credentials do not work with authenticating to the underlying ES API, see https://github.com/phillbaker/terraform-provider-elasticsearch/issues/217. Please see the docs for AWS authentication options: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/master/docs/index.md#AWS-authentication

[2022-08-07 15:41] #304 closed

[2022-08-07 16:23] grglzrv commented on #297
I've solved the issue by adding the master user & password into elasticsearch provider, thanks for your reply.

[2022-08-07 17:24] phillbaker commented on #299
Hi all,

Regarding naming, yes `terraform-provider-opensearch` is the convention and we should stick with that.

Agreed here as well. I'll update this existing repository to deprecate opendistro/opensearch resources in favor of the new provider once we get it released. I'll continue to maintain elasticsearch 7.x resources in this repository.

Please let me know what I can do to help.

[2022-08-07 17:25] phillbaker commented on #303
Hello, can you please include the following:
* terraform version
* provider version
* elasticsearch version (and opendistro version if relevant)
* redacted version of the terraform resource configuration
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2022-08-08 09:20] nirsv commented on #304
@phillbaker So how can I authenticate?
Itried all the optiions (master username and password/ Using my aws profile/ using aws_assume_role_arn ) none of them works.

[2022-08-08 15:21] kroussou opened #305 "Monitors definition change in Opensearch 1.1.0+"
Due to changes in alerting API in Opensearch 1.1.0+ ([old format](https://opensearch.org/docs/1.0/monitoring-plugins/alerting/api/#create-monitor), [new format](https://opensearch.org/docs/1.1/monitoring-plugins/alerting/api/#create-query-level-monitor)) terraform produces perpetual diff with elasticsearch_opensearch_monitor resource:
[code]

This issue is similar to #102.

[2022-08-08 17:55] ppuschmann commented on #209
This is exactly something I wanted to prevent: manual changes

[2022-08-08 23:52] wli-chwy commented on #303
[code]

[2022-08-08 23:54] wli-chwy commented on #303
relevant terraform resource

[code]

[2022-08-08 23:57] wli-chwy commented on #303
adding TF_LOG=info doesn't add any new log, just

[code]

[2022-08-08 23:58] wli-chwy commented on #303
I am wondering is it possible to write a custom API request hitting ES directly (instead of using yaml)? So I can workaround the issue in the meantime?

[2022-08-09 11:11] phillbaker commented on #301
Whoops, that's my mistake. https://github.com/phillbaker/terraform-provider-elasticsearch/tree/v2.0.4 is released

[2022-08-09 11:11] #301 closed

[2022-08-10 00:45] phillbaker commented on #303
Can you please include the entire terraform definition? All of `resource "elasticsearch_index_template" "es_index_catalog_template"`

[2022-08-10 00:46] #297 closed

[2022-08-10 01:06] phillbaker commented on #300
Hi @jay2242, I'm not sure I'm understanding the question, but creating multiple resources and referencing them seems like a general practice in terraform. There are good guides on the terraform site about how to use HCL: https://learn.hashicorp.com/tutorials/terraform/count. Each role can be referenced by its own id.

[2022-08-10 01:11] phillbaker commented on #304
@nirsv it depends on the domain access policy applied to the cluster, whether it's a VPC only cluster and other options applied to the cluster. If you can use `curl` to access the cluster, use the same credentials in this provider.

[2022-08-10 07:13] lucianpatian commented on #269
it's the first time i'm using the provider and i got the same error. turns out that i was missing the url parameter from the providers.tf

i'm leaving this comment in case other noobs get stuck in the future :)

terraform {
  required_providers {
    elasticsearch = {
      source = "phillbaker/elasticsearch"
      version = "2.0.4"
    }
  }
}

provider "elasticsearch" {
  url = "https://${aws_op

[2022-08-10 07:25] mzamfirmade opened #307 "Datetime named index recreated with each terraform apply"
Hi,

I am having an issue with the indices I create via terraform, more specific, the indices get recreated each time I apply the terraform and I am not sure that it is intended to work that way.

This is how I am setting them up
[code]

This works well on the initial run but doesn't fit its purpose afterwards. Here's the output of the terraform run:

[code]

I'm looking for a way to avoid this, I

[2022-08-10 12:45] mzamfirmade commented on #307
I accidentally found the issue here after the index was rolled over
I updated my terraform to
[code]

Now it looks like the index is not re-created at each apply anymore.

[2022-08-10 12:45] #307 closed

[2022-08-11 18:51] jay2242 commented on #300
Thanks, it worked "writer" is just a label for elasticsearch_opendistro_role

[2022-08-11 18:51] #300 closed

[2022-08-12 14:52] kbennett-v2x commented on #294
Also seeing this on elasticsearch_composable_index_template. It finds changes in the index pattern and index settings when there are none.

Terraform v1.2.7
AWS OpenSearch Service 1.3
provider version 2.0.4

[code]

[2022-08-15 22:02] wli-chwy commented on #303
Thank you. There is a minimal repro version that still has the same issue

[code]

[2022-08-17 03:30] wli-chwy commented on #303
@phillbaker do you know any debugging tips? I tries to see what the web API ends up generated. Do you know how?

[2022-08-18 21:38] jiahuijiang commented on #288
+1 Seeing the same issue for action_auto_create_index.
I was able to create the resource with no problems. But deleting gives me 401. Same creds can delete other ES resources too.

[code]

[2022-08-19 09:24] Abhilash2008 opened #308 "Error when removing a role from OpenSearch Domain"
Hello,

Thank you for your provider. We are using it for managing roles & role-mappings in the OpenSearch v1.2 domain.
As part of a test run, we successfully created set of roles in the domain but facing "cycle" error when trying to delete one of them.

[code]

Here is our tf-code:

[code]
Decoding below yaml file using yamldecode function and passing it as input to variable roles

[code]

There i

[2022-08-19 18:40] nicohouillon commented on #249
I have the same issue

[2022-08-19 22:31] bbarani commented on #299
Thanks for the update @phillbaker. I will update this thread once the repo `terraform-provider-opensearch` is created under OpenSearch organization.

[2022-08-25 22:25] Abhilash2008 commented on #288
+1
Facing the same issue with terraform destroy.
[code]
[code]

[2022-08-30 20:28] leolorenzoluis opened #310 "elasticsearch_opensearch_monitor not updating ui_metadata property in OpenSearch"
Given the follwing code:
[code]

it looks like the provider does not update the `ui_metadata`properly.

Two scenarios happening:
1. It creates the resource initially, but when you plan again it'll think those are updated values even if there are no actual changes
2. It creates the resources initially, but any updates does not persist in OpenSearch

Hence I think the provider does not track the cor

[2022-09-14 11:29] asepulcre opened #311 "Opensearch 1.3 error "invalid character 'U' looking for beginning of value""
Hi,

Recently we've updated our AWS Opensearch cluster from 1.2 to 1.3, we've been using your provider to manage users, policies, destinations and monitors, but with the update an error started to show up whenever we do a terraform plan or apply:

[code]

This is the resource configuration :

[code]

and an example of policy:
[code]
terraform config:
[code]

This error seems to occur whenever a js

[2022-09-14 21:53] raphael-caylent commented on #311
I'm getting the same error with the `elasticsearch_opensearch_roles_mapping` resource. I'm running OpenSearch version 1.1 and the provider version is 2.0.4.

This is an example resource definition:
[code]
Error:
[code]

[2022-09-15 02:29] raphael-caylent commented on #311
I ran the provider in debug mode and was able to find the issue (kinda). From my tests, the issue seems to be because it is only able to handle responses in JSON. In my case, I have a proxy in front of OpenSearch which was down, so making calls to OpenSearch (proxy) was returning a 404 from Nginx (which returns a `text/html`) this way broking the JSON parse (hence why my error message contains a m

[2022-09-15 08:18] asepulcre commented on #311
Connection and credentials with the opensearch cluster work fine, because when we manage users using the provider it works without issue.

I've tried to do a terraform plan with a clean tfstate and the plan works, it is when we try to do an apply that it still breaks with the aforementioned error.

Sadly, running the provider in debug mode doesn't provide a more specific error:
[code]

[2022-09-15 11:42] raphael-caylent commented on #311
@asepulcre you will need to run the provider in debug mode and attach a debugger to the process in order to use some breakpoints and check the variables (I know it's not an easy process but I think it's the only one in this case). What you want to find is the HTTP response that is breaking the JSON parse and thus throwing this error you see.

[2022-09-15 18:47] danielmotaleite commented on #288
finally got the reply from AWS about the supported commands, they point to this document:

https://docs.aws.amazon.com/opensearch-service/latest/developerguide/supported-operations.html

so for opensearch 1.3, it only allow change to this settings:

/_cluster/settings
    action.auto_create_index
    action.search.shard_count.limit
    indices.breaker.fielddata.limit
    indices.breaker.request.li

[2022-09-16 14:57] scordone commented on #244
I had the exact same issue, i was creating some index templates, and after some index patterns with the elasticsearch_kibana_object resource and on first apply i always get that exact same error and after an inmediat second apply it worked. i started thinking that it was something about elasticsearch not being ready yet but on the pod i get created on our kubernetes i saw that some resources which

[2022-09-18 10:53] LeonD9 commented on #188
Hey @phillbaker this error happens with Opensearch as well:
[code]
Is there a way to avoid this error except removing `elasticsearch_version` in provider configuration?
It happens only for this resource.

[2022-09-19 15:01] duyhieuvo opened #312 "Index template is not created correctly"
Hello,

we are currently using the provider to manage our AWS OpenSearch version 1.2 resources. We encountered a problem while using the `elasticsearch_index_template` resource:

[code]
Terraform indicated that resource was created fine. But we cannot retrieve it when calling `GET _index_template/`. It is only possible to see the template when calling `GET _cat/templates`. And the template also do

[2022-09-20 09:04] dublx commented on #308
+1 - this would be great

[2022-09-21 05:29] barthel commented on #308
Same with ISM policies.

[2022-09-23 01:47] phillbaker commented on #312
Related to https://github.com/phillbaker/terraform-provider-elasticsearch/pull/295/. They must have dropped the older endpoint.

olivere/elastic is not supporting v8, the library is not deprecated.

[2022-09-23 11:00] sam-super opened #313 "Feature request - Support "char_filter""
Index settings can have a 'char_filter' (along side 'filter'), and it would be great if this provider supported it: https://www.elastic.co/guide/en/elasticsearch/reference/7.17/analysis-mapping-charfilter.html

[2022-09-26 15:43] duyhieuvo commented on #312
We checked again with the help from AWS support. The `_template/` endpoint is still available on AWS OpenSearch 1.2. The template can also be seen when doing `GET _template/`.

The reason that the setting wasn't applied to newly created index before is because AWS OpenSearch still uses the old setting for rollover_alias. It should be `index.opendistro.index_state_management.rollover_alias` instead

[2022-09-26 16:42] sparrowt opened #315 "Failure to create elasticsearch_kibana_alert - Root resource was present, but now absent."
Trying to create a `elasticsearch_kibana_alert` resource results in the following error:
[code]
https://www.reddit.com/r/Terraform/comments/m5nv14/comment/gr29zct/ suggests that this means the provider is returning null from the apply, despite having planned to create something.

Environment:
 - terraform v1.0.2
 - phillbaker/elasticsearch v2.0.4
 - elasticsearch & kibana both at version 7.17.1 (e

[2022-09-27 02:25] #313 closed

[2022-09-29 17:54] pmarques commented on #251
@phillbaker I'm not sure if related but I had a similar problem with all resources I tried. I found underlying error tho and I'm gonna try to explain it here.

**Tl;dr:** I think the most annoying thing here is the fact that we get `Error: Plugin did not respond` instead of a useful error and as far as I can tell that is because the provider is using `log.Fatal(err)` which basically will suppress

[2022-09-30 01:53] phillbaker commented on #251
Great explanation and debugging, thanks @pmarques, that makes sense! Would you like to submit that commit as a PR to this repo?

[2022-10-01 17:37] #251 closed

[2022-10-01 17:42] phillbaker commented on #312
Thanks @duyhieuvo, I'm going to close this issue out as resolved. Hopefully this issue will document the discrepancy for other users with this problem.

[2022-10-01 17:42] #312 closed

[2022-10-03 04:51] greut commented on #312
Self hosted OpenSearch 1.3 still has the issue, sadly.

[2022-10-05 11:56] psarun27 commented on #311
Anyone able to find resolution for this issue? I am unable to run my build in debug mode. Below is my code. I was able to do the same when I use internal master user as the admin user but getting this error when iam role is the master user.

provider "elasticsearch" {
  url = "https://xxx.region.es.amazonaws.com/"
  healthcheck         = false
  #sniff               = false
  sign_aws_requests   =

[2022-10-05 12:52] sparrowt commented on #277
I'm using v2.0.4 of this provider, and although these non-static fields are not triggering "will be updated" they are still being flagged as "has been changed" (see example below) - is there a way for the same `DiffSuppressFunc` code to be applied to ignore these spurious changes to e.g. `in_use_by` in the "Objects have changed outside of Terraform" section too?

Plan output:
[code]
Terraform:
[co

[2022-10-05 13:19] sparrowt opened #317 "Improvement: allow triple quoted strings within JSON body"
Firstly thank you for this excellent provider! I'm filing this to track a desirable feature, but appreciate that (like me!) you may well have no desire or time to implement it. Nevertheless perhaps someone else or one of us will in future.

Summary: it would be really handy if the `body` of certain resources (e.g. watchers) was allowed to contain triple-quoted strings in the format sometimes retur

[2022-10-05 15:28] diogosilvaiupp opened #318 "Error: HTTP 403 Forbidden: Permission denied. Please ensure that the correct credentials are being used to access the cluster"
Dear, I'm getting the following error

Error: HTTP 403 Forbidden: Permission denied. Please ensure that the correct credentials are being used to access the cluster

________
terraform {
   required_providers {
     elasticsearch = {
       source = "phillbaker/elasticsearch"
       version = "2.0.5"
     }
   }
}

provider "elasticsearch" {
   username = "<myuser>"
   password = "<mypass>"
   url

[2022-10-05 16:08] sparrowt commented on #317
A very similar case is the embedded JSON needed in the body of the `webhook` action.

My workaround is to use `templatefile` (to load multi-line JSON as a string) followed by Terraform's `format` with %q` to escape it for inclusion within a string, e.g. like this:
[code]
with `my-watcher-template.tftpl` defining the majority of the watcher JSON definition e.g:
[code]
but with the webhook body inte

[2022-10-06 02:12] psarun27 commented on #311
Thank you, @raphael-caylent. Has anyone been able to create a user, role or do role mapping using this provider with an iam role as the master user. I am able to create user, role, and do role mapping if the master user is a internal database user but no luck if the master user is an iam role. My provider block is below. Am I missing anything here? Or there special permissions or configuration nee

[2022-10-06 04:15] umeat opened #319 "Error: elastic: Error 500 (Internal Server Error): lateinit property name has not been initialized [type=uninitialized_property_access_exception]"
Using phillbaker/elasticsearch provider version 2.0.5 with terraform version 1.2.1 and receive the following error when trying to create a elasticsearch_opensearch_monitor resource.

[code]

Cluster version is Elasticsearch 7.10.

Any ideas what might be causing this?

[2022-10-06 13:20] psarun27 commented on #311
Looks like there is a newer version (2.0.5) which I used and got a detailed error message (helpful, thanks to all who contributed). Below is the recent error. Thoughts? @phillbaker @raphael-caylent
   <Message>User: arn:aws:sts::accountnumber:assumed-role/rolename/324234254525 is not authorized to perform: sts:AssumeRole on resource: arn:aws:iam::accountnumber:role/dss-it-cicd-eks-awsuat-it-tfdepl

[2022-10-07 00:04] bbarani commented on #299
@phillbaker @jackson-theisen I apologize for the delay. `terraform-provider-opensearch` [repo](https://github.com/opensearch-project/terraform-provider-opensearch) has been created under OpenSearch project. I will send the maintainer invitation to your GitHub handle soon. Please let me know if you have any other questions. CC: @elfisher @chenkle

[2022-10-07 02:58] brayest commented on #228
This needs the HTTPS prefix

[code]

[2022-10-07 03:09] brayest commented on #217
On automation the role mappings need to be preserved by fully state the roles and users that are required to be set.

When the Opensearch cluster is initially created the master user is added to the `all_access` and `security_manager`. This needs to be preserved.

Normally when creating role mappings we forget about that. Therefore, when the new mapping is set, the old master user configuration is

[2022-10-10 05:46] ShahroZafar opened #320 "Unable to create snapshot repository in AWS Opensearch"
Using terraform version `v1.3.0` with phillbaker provider version `2.0.4`, getting the following error while creating snapshot repository in AWS Opensearch version `1.3` whereas the rest of the resource creation requests are working fine
[code]
The provider configurations that I am using are these

[code]
 and the resource configurations are as follows

[code]

When I use custom python script usin

[2022-10-10 14:49] raphael-caylent commented on #311
@psarun27

I think in the beginning when I was trying to use this provider I tried to use an IAM Role but didn't work out so I switched to an internal user.

That's a good question, I need to think a bit on this one. But I guess what you could do is use a programming language that will give you a library to sign the request. Check this [example](https://docs.aws.amazon.com/opensearch-service/lates

[2022-10-11 01:43] phillbaker commented on #299
Thanks, @bbarani, I received the invitation. It doesn't look like I have permissions, but please make sure that github actions is enabled for the repository.

[2022-10-11 01:44] phillbaker commented on #228
Thanks @brayest  - given the age of this issue and the lack of further details, I'm going to close this. Please reopen if further details can be provided.

[2022-10-11 01:44] #228 closed

[2022-10-11 01:46] phillbaker commented on #319
Hello, can you please include the following:
* opendistro version
* redacted version of the terraform resource configuration
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2022-10-11 04:44] bbarani commented on #299
@phillbaker Thanks for accepting the invite. You should have necessary permission to view GitHub actions tab now.

[2022-10-17 10:14] falcocoris commented on #184
Hello.
I'm having the exact same problem. Everything is null but the name and ID. Did you find a solution for this ?

[2022-10-17 13:19] sujata2015 commented on #318
Hi,
I also have the same issue

[2022-10-18 02:34] umeat commented on #319
Apologies, I stopped looking into this and no longer have the Terraform I was testing with. The Opendistro version was 1.13.3, I believe.

[2022-10-18 02:34] #319 closed

[2022-10-24 12:16] isarns commented on #311
Hey, I got the same Error `NoCredentialProviders: no valid providers in chain. Deprecated.`
I was assuming the master role `arn:aws:iam::12345666:role/master` while running terragrunt apply
then got the error I mention above.

After some careful log reading, I noticed that `User: arn:aws:iam::12345666:assumed-role/master/me is not authorized to perform: sts:AssumeRole on resource: arn:aws:iam::123

[2022-10-25 11:31] phillbaker commented on #318
Hello, what steps have you taken so far to debug the issue? The error message is descriptive in this case: the provider does not have permission to access the cluster.

Please include the following information:
* from where are you running the provider?
* where is the elasticsearch cluster located?
* can you access the cluster from where the provider is being run with the same credentials using cu

[2022-10-27 01:59] phillbaker commented on #299
Hi @bbarani, workflows don't seem to be enabled. Please see https://github.com/opensearch-project/terraform-provider-opensearch/pull/7 - I can't access https://github.com/opensearch-project/terraform-provider-opensearch/settings/actions, but that's where it would be enabled.

[2022-10-27 12:32] sujata2015 commented on #318
Hello,
I am running the provider when executing Terraform init and apply from my local machine. It is configured to use AWS Cli and respective AWS profile.
ElasticSearch Cluster is located in the same AWS ACCOUNT.
I am able to execute curl command using the same credentials from the same CLI.
Best Regards,
Sujata

[2022-10-31 14:08] albgus opened #322 "OpenSearch: version detection doesn't work"
Attempting to use this provider with an OpenSearch cluster produces the following error:
`Error: ElasticSearch version 2.3.0 is older than 6.0.0 and is not supported, flavor: 0.`

It appears the provider doesn't properly detect that it's an OpenSearch cluster with a different version scheme.

**Workaround:** Set `elasticsearch_version = "7.10.2"`

Terraform version:
[code]

[2022-11-03 16:07] jlyon12345 commented on #318
Hi @phillbaker I think I am running into this issue as well (or something similar). As far as I can tell what is happening is the provider detects AWS from the url even if you specify a username and password, then tries to authenticate with AWS. This creates some confusion where the provider attempts to use AWS credentials even though they may not be configured properly for that specific opensearc

[2022-11-05 15:54] phillbaker commented on #299
@bbarani checking in here - this is preventing progress on getting the first PR merged.

As well, we'll need:
* set up a terraform provider / account at https://registry.terraform.io/publish/provider
* access to set github actions secrets so that we can push to the hashicorp terraform registry

[2022-11-05 16:00] phillbaker commented on #322
This is intentional. It is due to this line: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/1ff79e7de71161651f5fe64d73366aab778ea663/es/provider.go#L478.

We don't have testing support yet for OpenSearch 2.x and it does have breaking api features, so the provider hasn't incorporated support for it. This provider won't include support for opensearch 2.x, that will be done in ht

[2022-11-05 16:00] #322 closed

[2022-11-10 01:29] #299 closed

[2022-11-10 07:30] sharebear opened #323 "Support for OpenSearch v2"
I was previously successfully using the `elasticsearch_ingest_pipeline` resource against OpenSearch v1. After upgrading to v2 I get the following error

Reading through the information in #268 I am able to set `elasticsearch_version = "7.17.7"` which seems to allow terraform progress.

Is this the recommended way forward for now? Should the provider instead be adding an `opensearch_ingest_pipeline

[2022-11-11 13:58] phillbaker commented on #323
Related to https://github.com/phillbaker/terraform-provider-elasticsearch/issues/322

It is due to this line: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/1ff79e7de71161651f5fe64d73366aab778ea663/es/provider.go#L478.

We don't have testing support yet for OpenSearch 2.x and it does have breaking api features, so the provider hasn't incorporated support for it. This provider

[2022-11-24 09:39] amal-v opened #324 "Support for Opensearch VPC Endpoint."
[Amazon OpenSearch Service](https://aws.amazon.com/opensearch-service/) now supports managed VPC endpoints (powered by [AWS PrivateLink](https://aws.amazon.com/privatelink/?privatelink-blogs.sort-by=item.additionalFields.createdDate&privatelink-blogs.sort-order=desc)) to connect to your Amazon OpenSearch Service VPC-enabled domain in a Virtual Private Cloud (VPC).

https://docs.aws.amazon.com/open

[2022-11-25 21:51] #305 closed

[2022-11-25 22:03] phillbaker commented on #320
Hello, what steps have you taken so far to debug the issue? The error message is descriptive in this case: the provider does not have permission to access the cluster.

Please include the following information:
* from where are you running the provider?
* where is the elasticsearch cluster located?
* can you access the cluster from where the provider is being run with the same credentials using cu

[2022-11-25 22:05] phillbaker commented on #323
Closing as a dupe of https://github.com/phillbaker/terraform-provider-elasticsearch/issues/298

[2022-11-25 22:05] #323 closed

[2022-11-25 22:06] phillbaker commented on #298
noting that v2 support is not allowed yet due to this line: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/1ff79e7de71161651f5fe64d73366aab778ea663/es/provider.go#L478.

We don't have testing support yet for OpenSearch 2.x and it does have breaking api features, so the provider hasn't incorporated support for it. This provider won't include support for opensearch 2.x, that wil

[2022-11-25 22:43] phillbaker commented on #317
@sparrowt thanks for opening the issue - I have wished for the triple quoted strings as well. Your approach is a valid workaround.

I think my general suggestion for a workaround would be to use HCL to build the objects and convert that to JSON, e.g.:
[code]

One potential way to implement this directly is to use a extension of JSON like [JSON5](https://json5.org/). However, the public go implemen