[2017-09-27 00:56] justmiles opened #1 "License"
Could you attach a license to this repo? It looks like [Terraform's license](https://github.com/hashicorp/terraform/blob/master/LICENSE) is MPL 2.0. I'm not certain that's what you'd need or want - just throwing it out there. I'd like to use/contribute to this but can't until it has a license.

[2017-09-27 01:33] phillbaker commented on #1
Whoops, thanks @justmiles, 70a3502 should address this issue (MPL 2.0) and should cover the original contributions from @vrcsix as well.

@vrcsix please let us know if this doesn't make sense.

[2017-10-02 23:05] phillbaker commented on #1
Closing as added a license and haven't heard any objections.

[2017-10-02 23:05] #1 closed

[2017-11-15 15:15] gordonbondon opened #2 "Missing arguments"
Hi,

example in README shows `template`, `order`, `settings`, `mapping` arguments available for `elasticsearch_index_template` resource. But they are not present in provider iteslf. Only available arguments are `name` and `body`. Am i missing something?

[2017-11-15 15:41] phillbaker commented on #2
Sorry about that, you're totally right, the readme example should be:
[code]

[2017-11-15 16:06] gordonbondon commented on #2
That's what I've been using for now. Just thought there was unreleased provider version somewhere there:) Thanks!

[2017-11-15 16:06] #2 closed

[2017-12-06 22:25] chicagobuss opened #4 "can't build"
Hello, trying to build this for linux and it's pretty hard since go is on 1.9 now and dep is the standard for dependency management...

so, I made a docker container, installed go 1.7, tried to use glide install to get dependencies, and a bunch failed on github auth (even though my github ssh key was in my agent and working)

So I tried dep next and actually got further, but then go build fails wi

[2017-12-06 23:30] phillbaker commented on #4
Hey @chicagobuss took me a second, but I think you found a bug in the README 😀, instead of being Golang 1.7 it should be `>= 1.7`.  Locally I'm on go 1.9 (although, yes a mac).

If you trying building in a container with 1.9 and glide does that work for you?

I'd definitely be open to migrating this package to go dep as well (and adding some CI) - this was thrown together in a bit of a rush, so to

[2017-12-07 00:00] chicagobuss commented on #4
Ha, I went through a lot of effort just to get on 1.7 because I assumed it was required.  Will try again soon, thanks.

[2017-12-07 00:00] #4 closed

[2017-12-10 18:41] phillbaker commented on #4
So in a bit of irony, I did try to convert to `dep` (https://github.com/phillbaker/terraform-provider-elasticsearch/tree/dep-not-glide), but I am seeing the same error you posted above when using dep. On https://travis-ci.org/phillbaker/terraform-provider-elasticsearch/jobs/314409199.

Using glide on travis on master seems to build fine 😕 . Other posts about this seem to indicate that it's a a dep

[2017-12-10 19:21] phillbaker commented on #4
Ah, so it looks like dep strips the `vendor` directories of dependencies which is an issue for at least terraform, aws-sdk-go, see https://github.com/golang/dep/issues/1075#issuecomment-325492178.

However, dep did merge support for govendor (which terraform uses) a couple of weeks ago, although it hasn't been included in a release yet, which I _think_ solve the issue of recursive dependencies?

U

[2017-12-21 14:39] gordonbondon opened #5 "Refreshing state for kibana object"
Provider version: 0.2.0
Terraform version: 0.10.8

When kibana object was deleted manually or elastic search cluster was recreated, refreshing stage fails on any command like plan, apply, destroy with similar errors:
[code]

Manually removing them from state helps.

[2017-12-22 15:04] #5 closed

[2018-04-09 06:23] jmisharp opened #7 "Update to latest Terraform version"
The latest version of Terraform is currently 0.11.5, but the provider uses some old 0.9.x version.

It would be great to get it updated.

[2018-04-09 10:11] jmisharp opened #8 "Use SharedCredentialsProvider in the AWS SDK when the AWS client is set up in the provider"
It would be awesome to be able to use shared AWS credentials, when setting up the provider. This can be done by using the  [SharedCredentialsProvider](https://github.com/aws/aws-sdk-go/blob/master/aws/credentials/shared_credentials_provider.go#L25-L41) in the AWS SDK.

Should be implemented here:
https://github.com/phillbaker/terraform-provider-elasticsearch/blob/2c758c1e70117c85d9f49c6751bc1e38f7

[2018-04-09 14:30] phillbaker commented on #8
Thanks for the idea @jmisharp, one way to approach this without repeating credentials is something like:

[code]

If you're interested in contributing a PR for this functionality, would be happy to discuss the approach and help review!

[2018-04-09 18:17] jmisharp commented on #8
We figured out how to do this without shared credentials by assuming a role and getting temporary credentials, so there's a workaround. But I would like to contribute with a PR though. It's not a big change in the code, so it should be an easy implementation. Do you add me as contributor or can you open up for PRs?

[2018-04-09 18:56] phillbaker commented on #8
Great! This repo is already open for PRs ([a few have been submitted](https://github.com/phillbaker/terraform-provider-elasticsearch/pulls?q=is%3Apr+is%3Aclosed)). You can [fork and submit a PR](https://github.com/phillbaker/terraform-provider-elasticsearch#contributing). Looking forward to reviewing the PR.

[2018-04-12 17:13] Lngramos commented on #8
Hi, I've run into the same problem.

I've raised the following PR that adds the wanted functionality: https://github.com/phillbaker/terraform-provider-elasticsearch/pull/9

[2018-04-13 00:50] #8 closed

[2018-04-13 05:28] jmisharp commented on #8
Great work @Lngramos. You were faster than me :-) Thanks.

[2018-04-14 22:21] #7 closed, assigned to nobody

[2018-04-18 15:03] IslamAzab commented on #4
I am trying to `build` on mac but I am getting the following:

[code]

[2018-04-19 17:43] phillbaker commented on #4
Hello, I'll need a bit more context to help debug.

The steps to build this project are documented [in the readme](https://github.com/phillbaker/terraform-provider-elasticsearch#requirements). (The [travis build script](https://github.com/phillbaker/terraform-provider-elasticsearch/blob/0caad9d0fb429fb36515d231aa0145d7571568a2/.travis.yml#L6-L12) is also a good resource.)

Can you list all the com

[2018-05-21 12:57] IslamAzab commented on #4
@phillbaker Thanks for your reply, sorry for the late reply.

I tried with the master updates and it worked, I can not reproduce the issue.

[2018-05-30 11:58] Lngramos opened #10 "Support for Elasticsearch v6.x+"
Hey @phillbaker,

I'm targeting an Elasticsearch cluster which is on version 6.x, but I'm having issues due to breaking API changes from v5 to v6. This is understandable given this provider is using the v5 release branch github.com/olivere/elastic.

To fix my issue in the short term, I've created a private fork that is now upgraded to use the v6 client.

But ideally, I wouldn't want to rely on my

[2018-06-03 20:54] phillbaker commented on #10
@Lngramos sorry for the slow reply. Good question!

Short answer is that I haven't thought it through, however, I'd definitely be interested in supporting v6. I will take a look at your changes](https://github.com/Lngramos/terraform-provider-elasticsearch/commit/4ac83387e16d6d22010eec83ad175f6fe7d8dfb0) and propose something - taking a quick look [at the breaking changes](https://www.elastic.co/gu

[2018-07-06 23:11] phillbaker commented on #10
Getting closer to a resolution here. I'm leaning to (3) above, similar to https://github.com/Yelp/elastalert/pull/1472, supporting both versions based on detection.

[2018-08-19 18:14] phillbaker commented on #10
I've pushed work on this to the branch `support-es-6`, however, there's one failing test for the index templates code.

I've opened https://github.com/olivere/elastic/issues/868 to help clarify some of the workings of the upstream elasticsearch library.

[2018-09-14 02:45] #10 closed

[2018-09-14 02:47] phillbaker commented on #10
@Lngramos if you'd like to try out master, ESv6 should be working!

[2018-11-05 17:17] leflamm opened #11 "Interpolation Support for URL"
Hi,

I'm trying to use this ElasticSearch provider for Terraform.

My ElasticSearch endpoint URL is not static. There's Terraform code responsible for creating the ElasticSearch cluster (AWS ElasticSearch Service) and there's Terraform code responsible for configuring indexes.
So I have a module creating the ES cluster that **outputs** the cluster's endpoint (`aws_elasticsearch_domain.<name>.endpo

[2018-11-05 21:17] leflamm commented on #11
Hi @phillbaker thanks for your reply.

Seems like I was on the wrong track here.

I had a look at the actual output value `${module.es.endpoint}` which is taken from `aws_elasticsearch_domain.<name>.endpoint` and compared it with the hard-coded value that did work (`https://<blabla>.eu-central-1.es.amazonaws.com`). I noticed that `aws_elasticsearch_domain.<name>.endpoint` doesn't come with the pre

[2019-01-31 22:00] Jeeppler opened #13 "Feature Request: Resource and data documentation"
It would be nice to have a documentation of the resources and data objects this provider supports, maybe even with examples.

[2019-02-01 19:18] Jeeppler commented on #13
Yes, I did not see that folder. Does this provider really only support two resources? Are there no data sources?

Did you test this provider only with AWS Elasticsearch?

[2019-02-04 15:43] phillbaker commented on #13
@Jeeppler I have used it primarily with AWS ES, but I believe others are using it on self-managed clusters.

[2019-02-04 17:34] Jeeppler commented on #13
@phillbaker thnaks for the clarification.

[2019-02-18 09:25] oba11 opened #14 "Getting Error Error 400 (Bad Request): Rejecting mapping update to [.kibana]"
Was trying to create visualization with the example doc on elasticsearch v6.4 but got error `elasticsearch_kibana_object.test_visualization: elastic: Error 400 (Bad Request): Rejecting mapping update to [.kibana] as the final mapping would have more than 1 type: [visualization, doc] [type=illegal_argument_exception]`

main.tf
[code]

Not sure if I'm doing something wrong

[2019-02-18 16:36] phillbaker commented on #14
@oba11 thanks - my guess this is due to the ongoing process to remove types: https://www.elastic.co/guide/en/elasticsearch/reference/current/removal-of-types.html.

This example was from v5 and likely needs to be updated for v6. If you remove the `"_type": "visualization",` does that work?

[2019-02-20 08:46] oba11 commented on #14
If I remove the line, I do get

[code]

[2019-03-01 21:20] JPLachance commented on #14
Greetings,

I got a similar issue on my side:
[code]

And I have the same issue when trying to create a search:
[code]

By looking at the `.kibana` index mapping, the `vizualization` document type does not exist. I looked at objects in the `.kibana` index, and I managed to get it work:
[code]

I guess we could update the example in the README.md file :)

[2019-03-01 22:01] phillbaker commented on #14
A PR would be great!

On Fri, Mar 1, 2019 at 4:20 PM Jean-Philippe Lachance <
notifications@github.com> wrote:

[2019-03-02 21:54] #14 closed

[2019-03-03 15:48] oba11 commented on #14
Thanks soo much for the assistance @phillbaker

[2019-03-08 03:31] Kheldar opened #16 "Request: Darwin build target"
It'd be awesome if the `Releases` included versions for OSes other than Linux. My team is using this on OSX, and we're currently having to build it locally in order to use it.

[2019-03-14 15:31] #13 closed

[2019-03-14 17:31] Jeeppler opened #18 "Data Sources for index templates and kibana objects"
The index templates and kibana objects are JSON files with a specific structure. The current approach of using raw JSON works. However, it would be nice to have data source to create the visualizations, index patterns and dashboards.

For an inspiration, the [`aws_iam_policy_document`](https://www.terraform.io/docs/providers/aws/d/iam_policy_document.html). The advantage of the `aws_iam_policy_doc

[2019-03-21 03:23] tdmalone commented on #16
Looks like this can be closed, given #17?

[2019-03-21 03:27] tdmalone opened #19 "Add Watcher resource"
Firstly, thanks so much for doing the work to put this provider together, in absence of an official provider!

I'd love to have support for Watchers - is this something you might consider adding? It looks like there's an implementation at https://github.com/ansoni/terraform-provider-elastic/blob/master/resource_elasticsearch_watcher.go which might be able to be lifted to here with attribution (its

[2019-03-21 03:30] phillbaker commented on #16
Quite right, thanks!

[2019-03-21 03:30] #16 closed

[2019-03-21 03:31] phillbaker commented on #19
Quite open to it! Did you see https://github.com/phillbaker/terraform-provider-elasticsearch/pull/15 which looks like a good start?

[2019-03-21 03:35] tdmalone commented on #19
I did not notice that PR - thanks, will check it out.

[2019-04-03 16:22] Jeeppler opened #20 "Support for OpenDistro for ElasticSearch?"
AWS introduced it's own open source licensed plugins for ElasticSearch. They call it [OpenDistro for ElasticSearch](https://opendistro.github.io/for-elasticsearch/).

There goal is to have four additional plugins for:

- [x] Security (#45)
- SQL (doesn't have state, so not applicable for terraform)
- [x] Alerting
- Performance Analyzer (doesn't have state, so not applicable for terraform)
- [x] In

[2019-04-03 18:10] Jeeppler opened #21 "Dashboard Example"
There is an Dashboard example in the `README.md`:

[code]

However, how does the content of the `dashboard_path.txt` file looks like? It would be nice to have an example.

[2019-04-03 23:14] Jeeppler opened #22 "How to get the raw JSON for searches, visualization and dashboard?"
How can I get the raw JSON for searches, visualization and dashboards to be able to use them in this module?

What do I have to do if I want to export existing searches, visualization and dashboards in the correct format? Is there a specific API endpoint I can use?

[2019-04-04 10:26] phillbaker commented on #20
I saw the announcement, didn't realize AWS had integrated it into their
service, very cool! Thanks for the link.

Would definitely like to integrate these features. We'll have to take a
look and see how alerts are configured, if they're just ES index documents
should be the same as a Kibana dashboard.

On Thu, Apr 4, 2019 at 12:22 AM Jeppler <notifications@github.com> wrote:

[2019-04-04 15:28] Jeeppler commented on #22
If I use the export functionality in the Kibana UI to export a search I get the following document:

[code]

Then I create an `elasticsearch_kibana_object` like this:

[code]

I get the following error:

[code]

[2019-04-04 16:05] Jeeppler commented on #22
I found the [explanation](https://discuss.elastic.co/t/saved-objects-api-use-example/168742) why I cannot just replay exported objects. However, I still do not have a solution on how to get the raw JSON which I can just replay against this provider.

[2019-04-05 18:58] Jeeppler commented on #20
It creates three different indices:

- `.opendistro-alerting-alert-history-*`
- `.opendistro-alerting-alerts`
- `.opendistro-alerting-config`

[2019-04-05 21:40] Jeeppler commented on #20
Here is the API documentation: https://opendistro.github.io/for-elasticsearch-docs/docs/alerting/api/#create-monitor

[2019-04-10 00:18] phillbaker commented on #22
@Kheldar in kibana, you should be able to go to http://localhost:9200/_plugin/kibana/app/kibana#/management/kibana/objects and use the export functionality to export existing objects.

[2019-04-10 00:22] phillbaker commented on #21
@Jeeppler it'd probably be a json file to be honest :grinning:.

However, it'd be a full kibana json object describing a dashboard. Here's an example from metricbeat:

[code]

[2019-04-10 16:27] Jeeppler commented on #22
@phillbaker yes, I tried to export the object via Kibana, but I get this error message:

[code]

I run into the same issue with a visualization. I had to modify the exported visualization. My objective is to have the same MetricBeat dashboards, visualization and searches for different Kubernetes clusters. The current behaviour of MetricBeat is to overwrite existing dashboards, visualization and se

[2019-04-11 03:30] phillbaker commented on #22
Ah, yes. My example was from a v5 kibana, sorry.

Seems like you figured it out - good to close?

On Thu, Apr 11, 2019 at 12:27 AM Jeppler <notifications@github.com> wrote:

[2019-04-11 17:36] Jeeppler commented on #22
No, your `test_visualization_v6` works well with Kibana version 6. However, if I export objects from Kibana 6 using the Web UI I will get an output which I cannot simply put into this provider. I figured out how to do it with one visualization, based on the `test_visualization_v6` from the `README.md`. This was try and error and almost not repeatable.

Furthermore, I have no idea what the correct

[2019-04-11 17:42] Jeeppler commented on #21
@phillbaker obviously it will be a JSON file. The content should be in JSON format. Your provider does not care about the file extension 🙂.

Have you tried create an `elasticsearch_kibana_object` using your snipped above? Let me know if you get the following error:

[code]

[2019-04-12 13:56] kladiv opened #23 "Provider variable interpolation error during import"
Hello,
i'm my actual scenario i got an error during import of an AWS API Gateway resource due to elasticsearch provider issue:

[code]

It seems the provider does not support variable interpolation.
Below our provider configuration:

[code]

Are you able to resolve this issue?
Thank you

Best Regards,
Claudio

[2019-04-28 17:30] phillbaker commented on #22
Odd. There's a test in the code using the format from the Kibana export which is passing: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/c4e0d478152bbb50a559e411509bebe6b7e218c4/resource_elasticsearch_kibana_object_test.go#L91-L108

[2019-04-29 23:19] Jeeppler commented on #22
@phillbaker Kibana exported all objects in Kibana v5 format, even though I had an ElasticSearch v6 cluster.

[2019-05-02 20:18] davidmarkstartapp opened #24 "Support for elasticsearch pipelines?"
Hi @phillbaker

Thanks for this amazing repo!

We currently use gitlab and CI capabilities to store our index / pipeline templates and it will be nice if this provider will support also pipelines resources.

Also, different question, how the json validation is performed during plan / apply?

Thanks
D.

[2019-05-03 13:13] phillbaker commented on #24
Good idea! It looks like they're stored at `ES_HOST//_ingest/pipeline/<pipeline>` and created via a `PUT`. Could probably model these off of some of the existing resources.

A good question are you seeing errors for invalid json? If i had to guess, it'd be coming back from elasticsearch itself.

[2019-06-03 13:34] phillbaker commented on #23
Hi @kladiv sorry for the slow reply here. Looks like this is a limitation of terraform: https://github.com/hashicorp/terraform/issues/17847

For the meantime, I'd suggest hardcoding the credentials for ES while importing or commenting those lines out.

[2019-06-09 15:21] phillbaker commented on #20
I've started work for supporting destinations and monitors on the [open-distro](https://github.com/phillbaker/terraform-provider-elasticsearch/tree/open-distro) branch

[2019-06-29 19:42] phillbaker commented on #19
https://github.com/phillbaker/terraform-provider-elasticsearch/pull/15 was cherry picked and merged!

[2019-06-29 19:42] #19 closed

[2019-07-29 20:02] mattcsg opened #30 "Terraform Provider for ECE"
Hi Phill, just an update that I've created a new provider for Elastic Cloud Enterprise (ECE) to support creation of ECE clusters. I'm not sure if you're using ECE, but it might be useful if you are:

https://github.com/Ascendon/terraform-provider-ece

I'm also planning to look at adding some additional capabilities to this provider for some upcoming use cases.

Matt

[2019-07-29 22:39] phillbaker commented on #30
Cool! I'm not currently using ECE, but the provider looks good. If you have any issues integrating the outputs of your provider into this one, please open an isue!

[2019-08-01 21:00] Techcadia opened #32 "[Request] Cut New Release"
Currently it seems that 0.8.1 is not current with Master. We tried to use it and it fails with a http timeout. But Master does not.

Can we get a new release cut off of master?

[2019-08-02 03:09] phillbaker commented on #32
Only
https://github.com/phillbaker/terraform-provider-elasticsearch/pull/31 has
been merged since the last release was cut, AWS creds don’t seem related to
timeouts.

Can you clarify which binary/arch you’re using and how you compiled master
(With CGO, what go version)?

On Thu, Aug 1, 2019 at 5:00 PM David <notifications@github.com> wrote:

[2019-08-02 16:34] Techcadia commented on #32
[code]

Here is my `go version` and `go env`

the file I tried before this was the binary on the release page
https://github.com/phillbaker/terraform-provider-elasticsearch/releases/download/v0.8.1/terraform-provider-elasticsearch_v0.8.1_darwin_amd64

[2019-08-05 12:58] phillbaker commented on #32
Hm, I was thinking that you might have had a networking issue related to compiling with CGO enabled vs. disabled (https://github.com/golang/go/issues/12524). However, that build you linked to shouldn't have that issue. Can you post the error (sensitive information reacted) you were seeing?

[2019-08-05 16:45] Techcadia commented on #32
[code]

This error occurs on both the darwin_amd64 Dynamic and Statically linked binaries. Interesting though is that when I compile it using my own I don't run into the same issue. Currently running Terraform 0.12.5. Without any other updates or changes to the repo.

[2019-08-14 02:42] phillbaker commented on #32
@Techcadia sorry for the slow reply. I'm not sure why you're seeing a difference, but I did cut https://github.com/phillbaker/terraform-provider-elasticsearch/releases/tag/v0.8.2

[2019-08-15 22:54] phillbaker commented on #32
@Techcadia did the latest version fix your timeout?

[2019-08-19 13:51] wloczykij2 commented on #22
Hi,
I used to get object directly from .kibana index and it works for me

[2019-08-19 14:39] wloczykij2 commented on #20
Is there any progress with that?

[2019-08-20 13:43] phillbaker commented on #20
@wloczykij2 see the description, it has a checklist. As of now, alerting in open distro is supported. Pull requests would be great for the other components.

[2019-08-29 23:09] Techcadia commented on #32
This seems to work as expected. Not sure why the old release was having issues.

[2019-08-29 23:09] #32 closed

[2019-08-30 14:57] Enteris opened #35 "Xpack Watches provider validates missing resources wrongly"
I ran into an issue with the elasticsearch_watch resource. In the code, we validate if the watch id already exists by checking if the elastic client response is different from a NotFound. This is a bad assumption as we will assume any other error type to be a watch id collision.

[code]

We should instead get the actual response and verify the watch id was found, the ES API is pretty explicit abou

[2019-09-08 21:07] phillbaker commented on #24
Done in #29

[2019-09-08 21:07] #24 closed

[2019-09-08 21:07] phillbaker commented on #30
Thanks @mattcsg. Going to close this for now, looking forward to any additional PRs!

[2019-09-08 21:07] #30 closed

[2019-10-04 00:48] Wing924 opened #36 "[feat] support user API"
This provider is very nice!
It would be nice if we can manage users via this provider.
https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-put-user.html

[2019-10-05 20:43] phillbaker commented on #36
Hi @Wing924, thanks for opening an issue. Of the Xpack security objects, it looks like we configure roles and role mappings, but not users (https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api.html#security-user-apis).

If you'd like to submit a PR, that be much appreciated!

[2019-10-28 22:23] schewara commented on #20
Just came across this issues and was wondering what happened with the `open-distro` branch.
Seems it's either gone or just not visible to the rest of the world.

[2019-10-28 23:26] phillbaker commented on #20
@schewara it was merged into master and released! The current status of supporting open distro is in the description as checkboxes.

[2019-11-08 13:33] phillbaker commented on #36
Done in https://github.com/phillbaker/terraform-provider-elasticsearch/pull/37

[2019-11-08 13:33] #36 closed

[2019-11-13 10:43] bquartier opened #39 "resource elasticsearch_index_template doesn't support import"
Hi,
First, thanks for your work on this provider :)

When importing index templates an error is thrown saying that:
```Error: resource elasticsearch_index_template doesn't support import```

Is it expected? Is there any plan to make index templates importable (or reason to not do it)?

[2019-11-16 21:22] earlpotter0 opened #40 "Support for Elastic Cloud"
Trying this out against an Elastic Cloud deployment (Similar to ECE).  Just trying to create an index template.  When I do an apply, I get the following:

`Error: no active connection found: no Elasticsearch node available`

The Elastic cloud deployment uses port 9243.   I can curl to the ECS endpoint and get an appropriate response.

When I try the Terraform to a locally installed ES instance, it

[2019-11-17 17:34] phillbaker commented on #40
Hi @earlpotter0, sorry to hear you're having issues. I do believe that this provider works to connect to elasticsearch host hosted on Elastic Cloud - there was a previous issue opened that indicated it worked: https://github.com/phillbaker/terraform-provider-elasticsearch/issues/30.

One thing I have noticed is that the way terraform is compiled it can be hampered by issues in Go's DNS resolution

[2019-11-17 17:37] phillbaker commented on #39
Hi @bquartier, happy to see it's getting some use.

It looks like we missed added the importer into quite a few resources, including the index template. See https://github.com/phillbaker/terraform-provider-elasticsearch/blob/ef8f5d91ce06b739d5eff637811a48f0f19ecc35/resource_elasticsearch_index_template.go#L14

Usually it's as straightforward as adding these lines: https://github.com/phillbaker/ter

[2019-11-19 13:16] bquartier commented on #39
Hi @phillbaker ,

I have 0 experience in Go, but I can have a look and provide a PR if you provide me a few hints.

I need to find time and investigate how the tests work. It seems there is only one example of import test, in resource_elasticsearch_destination_test.go, do you confirm I can start from this example? The name of the function (TestAccElasticsearchDestination_importBasic) looks non sta

[2019-11-19 15:03] earlpotter0 commented on #40
I am using this from a Mac, but I tried from an Ubuntu EC2 instance, also.
OSX: 10.14.6.
Ubuntu: 18.04.1

If I'm not mistaken, ECE is effectively self hosted Elastic Cloud.  In my case, I'm using Elastic hosted Elastic Cloud.  I even tried signing up for a 14 day trial w/my personal email and I got the same issue.

[2019-11-19 17:41] robbruce commented on #40
Same issue for me, also running on a Mac, and had the same when running inside a docker container with alpine (binary build inside golang:1.13-alpine).

I created a small app against https://github.com/olivere/elastic and had the same issue, until I added `elastic.SetSniff(false)` then that connected successfully.

Adding `sniff = false` to the provider declaration made this issue go away

[2019-11-20 08:07] bquartier commented on #39
A first hint regarding how to successfully run the tests would be great.
After setting the expected environment variables, I started the docker-compose ans launch the tests, however, I get errors saying that "no Elasticsearch node available".

See below:
[code]
 So elasticsearches are up and running. However, I get a lot of `SKIP` when running the tests:
[code]

Any hint?

[2019-11-20 22:50] earlpotter0 commented on #40
sniff = false did indeed fix the issue!  Thank you!!

[2019-11-20 22:50] #40 closed

[2019-11-28 15:22] andrescolodrero opened #41 "Use xpack_role"
Hi, im trying to add a role like this (works with curl )
{
    "applications": [
      {
        "application": "kibana-.kibana",
        "privileges": [
          "feature_discover.all",
          "feature_visualize.all",
          "feature_dashboard.all",
          "feature_maps.all",
          "feature_apm.read",
          "feature_graph.all",
          "feature_timelion.all",
          "featur

[2019-11-29 11:46] andrescolodrero commented on #41
it is just ok to check the test files

[2019-11-29 11:46] #41 closed

[2019-12-04 02:57] phillbaker commented on #39
Sorry for the slow response, that's odd! It does look like you need to set `TF_ACC=1` similarly to travis.yml

[2019-12-10 04:02] nelg opened #46 "ability to create an index"
When using ILM, the initial index needs to be created, because it has an alias on it, which cannot be set from the template.  It also defines the naming pattern.

It would be good to be able to do, we need effectively to run:
`PUT /%3Cmetricbeat-dev-%7Bnow%2Fy%7Byyyy%7D%7D-000001%3E
{
  "aliases": {
    "metricbeat-dev": {
      "is_write_index": true
    }
  }
}`

If the index does not exist.  If

[2019-12-11 03:28] phillbaker commented on #46
Hi @nelg are you using this provider to configure the index lifecyle? If so you can post the terraform config you're using now?

[2019-12-11 04:04] nelg commented on #46
yes, we use the provider to configure the index lifecycle, as per:
[code]

This bit works fine, but in order for an ILM policy to apply to an index, and to know when to rotate it, what to call the index, it needs an initial index creates, that has the write alias.

The below case, uses URL date math encoding, to create an index, for example, for filebeat it would create: filebeat-prod-7.5.0-2019-0

[2019-12-11 17:52] phillbaker commented on #46
There's a branch with a `elasticsearch_index` resource: https://github.com/phillbaker/terraform-provider-elasticsearch/compare/add-index-resource, it was done on a fork and I haven't had time to review it. Can you take a look at that and see if it would meet your needs?

[2019-12-11 20:56] nelg commented on #46
It looks very close.  From reading the source code, it looks like they are being specific as to which settings can be set for an index, in which case, it would need support to set aliases added to it.

IE, line 178 would need a new line below it:
body["aliases"] = aliases

plus all the other appropriate additions, almost identical to settings,  to add support for aliases.

So, I guess my needs sho

[2019-12-14 20:45] phillbaker commented on #39
Fixed in 92b143a.

[2019-12-14 20:45] #39 closed

[2019-12-16 19:18] rush2subbu commented on #46
It would be great if the elasticsearch_index resource feature is merged to the master , index creation via TF CI pipelines  is a requirement for most ES use cases

[2019-12-18 12:20] andrescolodrero opened #49 "Xpack roles:elastic: Error 400 (Bad Request): request body is required [type=parse_exception]"
Im having this error:
`Error 400 (Bad Request): request body is required [type=parse_exception]`

On a 7.5.0 Cluster,
with this configuration:
[code]

[2019-12-18 14:25] phillbaker commented on #49
@andrescolodrero what version of the provider are you using?

[2019-12-18 14:37] andrescolodrero commented on #49
@phillbaker sorry, i forget that detail.
im using latest, v0.10.0.

maybe the client for v7 will need an update?

[2019-12-19 14:36] phillbaker commented on #49
It looks like there is an issue on 7.5: https://travis-ci.org/phillbaker/terraform-provider-elasticsearch/jobs/626767093#L1400. ESv7.4 and lower don't have issues.

Two potential PRs stand out from [the release notes](https://www.elastic.co/guide/en/elasticsearch/reference/7.x/release-notes-7.5.0.html)
* https://github.com/elastic/elasticsearch/pull/46361
* https://github.com/elastic/elasticsearch

[2020-01-02 13:57] xiu opened #52 "Index Template creation uses create: True"
We use `create` = `true` in https://github.com/phillbaker/terraform-provider-elasticsearch/blob/master/resource_elasticsearch_index_template.go#L116. This behavior prevents an user from transitioning to Terraform on an existing cluster as resources might already exist:
[code]

[code]

I'm happy to create a PR to always set `create` to `false` but I might be using the provider the wrong way, am I?

[2020-01-02 17:15] #46 closed

[2020-01-03 21:23] phillbaker commented on #52
Hi @xiu, thanks for opening an issue. I'm not sure I understand the issue you're describing.

It seems like you've hardcoded the line below to avoid triggering errors from the ES api:

https://github.com/phillbaker/terraform-provider-elasticsearch/blob/974ae3aee69034986b1d12ffc7526cae2dc061cd/resource_elasticsearch_index_template.go#L174

It's not clear from your comment (you mention hardcoding bo

[2020-01-06 01:20] #35 closed

[2020-01-06 14:04] xiu commented on #52
Thanks for you answer. Indeed it wasn't clear: I haven't touched the code, I'm just using the provider to provision index templates. My issue is that index templates with these names already exist on my target clusters and they haven't been provisioned using Terraform.  On my first run, while I don't have a state yet, Terraform will fail applying its plan as the templates already exist.

What I wa

[2020-01-06 14:27] xiu commented on #52
I was actually able to import my resources using `terraform import`, I'm fine closing this issue, thanks!

[2020-01-07 04:10] phillbaker commented on #52
Ah, yes. `terraform import` is the recommended approach!

[2020-01-07 04:10] #52 closed

[2020-01-07 13:54] phillbaker commented on #49
Looks like the tests pass on v7.5 after fixing some permissions that didn't exist, here's the commit: https://github.com/phillbaker/terraform-provider-elasticsearch/commit/53870647955b08990a4e11e003b66233feb1303b.

Is it possible that the values you used ended up creating invalid JSON when serialized? Did you get this error on a plan or apply? Can you try running the command again with `TF_LOG=INF

[2020-01-07 14:32] andrescolodrero commented on #49
With same code as before, im getting a new type of error:

Error: Body Error :

  on roles.tf line 48, in resource "elasticsearch_xpack_role" "arion-kibana-editor":
  48: resource "elasticsearch_xpack_role" "arion-kibana-editor" {

i removed the line:
    field_security  = "*"

in code is "schema.TypeString",
but on my JSON test is:
"field_security": {
          "except": [],
          "grant": [

[2020-01-08 03:41] phillbaker commented on #49
Hm, I've been able to reproduce that: https://travis-ci.org/phillbaker/terraform-provider-elasticsearch/jobs/634034936#L1231. It comes from: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/53870647955b08990a4e11e003b66233feb1303b/resource_elasticsearch_xpack_role.go#L244-L248

So, the request isn't even being sent, seems like a bug in this provider. Thanks for the additional de

[2020-01-11 17:01] williamsbdev opened #53 "New release with Elasticsearch 7 features"
First off, thanks for this provider!

I noticed that the [v0.11.0 release](https://github.com/phillbaker/terraform-provider-elasticsearch/releases/tag/v0.11.0) was done 9 days ago and then within a couple of days, Elasticsearch 7 features were released. Do you have time to cut a new release?

Thanks again for curating this provider and helping the community!

[2020-01-11 22:48] williamsbdev opened #54 "elasticsearch_kibana_object saved search"
I am new to ES/Kibana and I am trying to manage all the configuration in code.

I am having trouble configuring my body to create a saved search. I see some visualization examples in the docs and in the tests but I do not see a saved search in either location. Do you have a generic example you could share with me for ES 7.1 that I could use to correctly craft my configuration?

Thanks in advance f

[2020-01-11 22:50] phillbaker commented on #53
No problem - just to clarify though, ES7 has been supported since June '19, it looks like the additional commits are some bugfixes.

[2020-01-11 22:53] williamsbdev commented on #54
Looks like this is duplicate of #22. I'm going to close this.

[2020-01-11 22:53] #54 closed

[2020-01-11 22:54] williamsbdev commented on #53
@phillbaker - My apologies. You're right. I recently upgraded to ES 7 and then noticed that some of the features I wanted were just recently implemented to support ES 7.

[2020-01-12 14:31] williamsbdev commented on #23
@kladiv - I also use AWS ES and instead of providing my AWS Access/Secret key via the provider, I set the bash environment variables so that they are not committed to code.

@phillbaker - I think we should close this is as I don't think this is something that could be done.

[2020-01-14 03:08] phillbaker commented on #23
Yup, fair enough.

[2020-01-14 03:08] #23 closed

[2020-01-14 03:08] phillbaker commented on #53
https://github.com/phillbaker/terraform-provider-elasticsearch/releases/tag/v0.11.1 has also been released.

[2020-01-14 03:08] #53 closed

[2020-01-14 03:25] williamsbdev commented on #53
@phillbaker - Thank you!

[2020-01-20 20:13] phillbaker commented on #49
@andrescolodrero an update on my side: fixing this will likely require changing the type of the field_security attribute. However, I did want to point out, that from the ES docs:

So there's no need to specify `field_security": {"except": [],"grant": ["*"]`, that's the default.

[2020-01-21 02:09] nelg opened #55 "Date math not working in index name."
`PUT %3Ctest-%7Bnow%2Fy%7Byyyy%7D%7D-000001%3E`
and
`DELETE %3Ctest-%7Bnow%2Fy%7Byyyy%7D%7D-000001%3E`
creates an index just fine, but the following does not work in Terraform.
[code]
Docs:
https://www.elastic.co/guide/en/elasticsearch/reference/current/date-math-index-names.html

[2020-01-21 17:15] phillbaker commented on #55
Can you provide the (redacted) terraform resource config you’re using? What
version of the provider are you using?

On Mon, Jan 20, 2020 at 9:09 PM Glen Ogilvie <notifications@github.com>
wrote:

[2020-01-22 00:04] nelg commented on #55
Complete example:
[code]

This is running against elasticsearch 7.5.0, and using latest terraform and latest terraform-provider-elasticsearch release.

The above should create an index, which uses date math to create the index named
test-2020-000001

[2020-01-22 03:41] phillbaker commented on #55
Can you provide the error output? Also, is the url escaping intentional?

On Tue, Jan 21, 2020 at 7:04 PM Glen Ogilvie <notifications@github.com>
wrote:

[2020-01-22 09:00] nelg commented on #55
Hi,

The URL encoding was intentional, as it's standard to use URL encoding when making a request with a PUT command in Kibana/curl.

I've tried without URL encoding, ie:
[code]

Results are:
With URL encoding, error is:
Error: elastic: Error 400 (Bad Request): Invalid index name [%3Ctest-%7Bnow%2Fy%7Byyyy%7D%7D-000001%3E], must be lowercase [type=invalid_index_name_exception]

Without URL encodin

[2020-01-22 23:33] phillbaker commented on #55
Yup, they definitely should.

Thanks for the output - was it a go panic/was there any output from the go crash itself?

[2020-01-23 03:47] nelg commented on #55
No go panic.  Just a terraform crash.

The last line in the crash.log is:
2020-01-23T16:37:11.041+1300 [DEBUG] plugin: plugin exited
before that, just stuff about statemgr.

This should be fairly straight forward to replicate if you have an elasticsearch to point terraform at.  I'm pointing it at one on cloud.elastic.co.

It may be that the resource being created, ie,  name = "<test-{now/y{yyyy}}-

[2020-01-31 04:21] nelg opened #56 "Support authetication via APIKEY"
It would be nice to able to authenticate to Elasticsearch using an API key.

It looks like the underlying go library supports it.
https://github.com/elastic/go-elasticsearch/blob/86a626c2a3459a406cce4aab02f802b87d5660a8/elasticsearch.go#L38

[2020-02-10 23:11] mindbat opened #57 "Make roles, users, and role-mappings importable?"
Hey, @phillbaker! Bless you for writing this provider; excited to start using it for the ES clusters on my team :)

I've run into one blocker, though. All of the ES clusters I'd like to put under tf management (with this provider) have existing users, roles, etc. These aren't currently importable, so my tf plans think they need to create new copies of all of these.

I see other resources like [ind

[2020-02-11 02:47] phillbaker commented on #57
Hey @mindbat glad you found it useful - I assume you're referring to the xpack user/role/role mappings? Happy to accept PR for these - however, I have seen that there may be some bugs in how the provider stores these objects in terraform currently (e.g. https://github.com/phillbaker/terraform-provider-elasticsearch/issues/49), so imports might be a bit finicky.

If you're interested in trying to a

[2020-02-11 16:57] mindbat commented on #57
Yep!

Thankfully, the  default `field_security` setting is fine for what I need, so the issues with that field shouldn't affect me 🤞

Thanks for the examples! I'm working on a PR, in fact, but I'm having issues getting the tests to run. Even if I use the [`docker-compose`](https://github.com/phillbaker/terraform-provider-elasticsearch/blob/master/docker-compose.yml) file in the repo, and run them

[2020-02-11 18:18] mindbat commented on #57
Ah, I think I figured it out.

I'm running on a Mac, so I needed to boost the resources used by Docker Desktop to 4GB of RAM.

I also needed to set the [`vm.max_map_count`](https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#_set_vm_max_map_count_to_at_least_262144).

Once that was done, I was able to run the tests with:

[code]

[2020-02-11 23:38] mindbat commented on #57
Posted a PR: https://github.com/phillbaker/terraform-provider-elasticsearch/pull/58

With my limited knowledge of golang, I think I've taken it about as far as I can :/

@phillbaker can you take a look, and maybe you'll see the pieces I'm missing?

[2020-02-14 01:40] #57 closed

[2020-02-24 14:28] paulojmdias opened #61 "Error when update force_destroy from false to true in elasticsearch_index"
Hi,

When we have already created an index with `force_destroy = false`, and after we want to update the value to `force_destroy = true`, we have the following error:

[code]

Steps to reproduce:

- Create one index with `force_destroy = false`
- Update from `force_destroy = false` to `force_destroy = true`

[2020-03-05 21:34] gezb commented on #20
Are you planing to merge #45 and #50 to complete the support for OpenDistro for ElasticSearch?

[2020-03-06 03:35] phillbaker commented on #20
They're not quite mergable as is, but the functionality would be great to merge!

[2020-03-21 15:28] phillbaker commented on #49
I believe this was fixed as an outcome of https://github.com/phillbaker/terraform-provider-elasticsearch/pull/59. @andrescolodrero can you try v1.0.0 to see if that fixes the issue?

[2020-03-29 16:09] phillbaker commented on #49
Going to close this for now, please re-open if this continues to be an issues.

[2020-03-29 16:09] #49 closed

[2020-03-31 20:30] andrescolodrero opened #62 "Error refreshing State on v1.0.0"
Hi,
Im testing the latest version, and i get this issue:
elasticsearch_ingest_pipeline.logging-kibana-reader: Refreshing state... [id=logging-pipeline]
2020/03/31 20:24:48 [ERROR] <root>: eval: *terraform.EvalReadState, err: missing expected [
2020/03/31 20:24:48 [ERROR] <root>: eval: *terraform.EvalSequence, err: missing expected [
2020/03/31 20:24:48 [ERROR] <root>: eval: *terraform.EvalReadStat

[2020-04-04 21:44] phillbaker commented on #62
Sorry to hear that - can you share the terraform config that's having an issue?

[2020-04-15 12:35] sorin-costea opened #63 "Feature request: create the cluster AND the index in the same run"
As far as I understand, I can use this provider only if I already have the ES cluster - because I need to have its URL. But to have it all in one run, I'd need to write something like the below. There is an old closed issue #11 which suggest it was working, once... (with a hand wired https prefix) but if I try it now, _terraform plan_ complains "health check timeout: no Elasticsearch node availabl

[2020-04-16 02:30] phillbaker commented on #63
Being about to create these at the same time would be great - as I remember, there were upstream terraform issues: terraform 0.11 specifically documented that providers could not depend on resources: https://www.terraform.io/docs/configuration-0-11/providers.html#interpolation.

It looks like 0.12 has similar language: https://www.terraform.io/docs/configuration/providers.html#provider-configurati

[2020-04-16 02:32] phillbaker commented on #62
Hi @andrescolodrero, I'll close this issue in a bit unless more information can be provided.

Unfortunately with the major version bump, some resources might need to be deleted from state and re-imported. Please add any details/reproduction steps if this is still an issue.

[2020-04-16 08:46] sorin-costea commented on #63
:( thank you... it doesn't look like something trivial on their side either.

[2020-04-16 08:46] #63 closed

[2020-04-18 10:10] yteraoka opened #64 "context deadline exceeded at terraform plan"
I got following error at execute `terraform plan` when I use terraform-provider-elasticsearch binary downloaded from release page (both static and non-static binary) on my mac book.

[code]

When I use self build (git clone & go build) binary works fine. Other mac users are OK ?

[code]

[2020-04-18 12:40] phillbaker commented on #64
This seems similar to the discussion in
https://github.com/phillbaker/terraform-provider-elasticsearch/issues/32#issuecomment-518223711
.

How are you compiling the binary?

On Sat, Apr 18, 2020 at 6:10 AM Yoshinori Teraoka <notifications@github.com>
wrote:

[2020-04-26 08:29] tdmalone opened #65 "Watches don't seem to detect diffs made outside of Terraform"
Thanks again for putting this provider together! I'm finally getting around to implementing it into our workflows and am looking forward to no longer having to version our Elastic resources 'manually' :)

Doing some quick testing, and I think I'm unable to get the provider to generate a diff on a watch that has been edited outside of Terraform. This is obviously a key part of managing the resource

[2020-04-27 06:51] tdmalone opened #66 "Add ability to deactivate/activate watches"
Watches can be deactivated via a link in Kibana.

Looking at the format of a watch from the API (`GET _watcher/watch/<watch-id>`), this is stored outside of the actual `watch` definition, in `status.state.active`, so currently wouldn't be able to be modified by this provider:

[code]

Would love to see this available as perhaps an optional attribute `active`, defaulting to `true`.

(I might have a

[2020-04-28 13:36] yteraoka commented on #64
I just typed `go build` on my macbook pro.

[2020-04-30 02:56] phillbaker commented on #65
Hm, this might be because terraform is storing the watch as the JSON for the entire resource, instead of breaking out the attributes and then on the plan, comparing each attribute. (Admittedly this is not the best way to do things - it's a bit of a hack to support things quickly.) However, I would expect there to be a diff in the entire JSON body attribute.

Can you try doing a [`terraform refresh

[2020-05-01 04:11] #62 closed

[2020-05-02 16:17] phillbaker commented on #56
This provider currently uses github.com/olivere/elastic, seems similar to https://github.com/olivere/elastic/issues/1131#issuecomment-508213098

[2020-05-12 06:37] tdmalone commented on #65
I've tried replicating this again with a `terraform refresh` before step 3 - same result.
[code]
(it looks like an apply is doing the refresh anyway)

Supporting this quickly is better than not supporting things at all! We can work with this, we just need to be careful not to modify anything directly in Elastic.

Ideally we would still be able to detect drift though, I'm happy to try to work on so

[2020-05-15 14:27] travisby commented on #55
I can provide an example stack trace from the same issue:

[code]

The get fails (I believe) because the name is a dynamic name, where the "actual" elasticsesarch name ends up being static.

If we could search on `provided_name` we could be in a much better place, but I'm not sure if it works that way.

e.g. elasticsearch ends up producing indices that look like:

[code]

When used with a `*.tf` l

[2020-05-26 20:53] stempher opened #68 "OpenDistro Role example"
There is an OpenDistro Role example:

[code]
How can I specify a few index permissions?

[2020-05-27 01:41] phillbaker commented on #68
I'm not sure I understand the question - in the example above, the read permission is granted on the test* indices. Are you asking how to specify multiple permissions?

The security plugin also provides the opendistro_role_mapping resource, please see the underlying docs at:
* https://opendistro.github.io/for-elasticsearch-docs/docs/security-access-control/users-roles/

The full list of available

[2020-05-27 02:06] tdmalone commented on #20
Should `resource_elasticsearch_destination` be renamed to `resource_elasticsearch_opendistro_destination`?

[2020-05-27 08:45] stempher commented on #68
I want the role to have different permissions on the two indexes:
- pattern test* with action read
- pattern ?kibana with action indices_all
But I don’t understand how to do it syntactically in one resource

[2020-05-28 00:27] phillbaker commented on #20
Yes it should, I'll do that now.

[2020-05-29 02:52] tdmalone opened #69 "Add import support for elasticsearch_kibana_object"
Currently you cannot import existing Kibana objects:

[code]

I thought this might be easy so I had a go on my fork:

https://github.com/tdmalone/terraform-provider-elasticsearch/commit/92ae78dc1859bfa62cb1e08f15001f19e92fb664

and unfortunately it wasn't that easy :P

[code]

Maybe related: #22

[2020-05-29 02:59] tdmalone opened #70 "'Cannot unmarshal object' when creating a new elasticsearch_kibana_object"
I'm unable to create a new `elasticsearch_kibana_object` that looks like this:

[code]

[code]

It sounds like a provider problem, but just in case it was a problem with the schema of the object I also tried a fully correct object (a space, with top-level `space` and `type` keys), and got the same error.

(Also tried without the heredocs, to avoid the extra whitespace around the JSON string, and g

[2020-05-29 12:54] phillbaker commented on #68
@stempher please try something like the following:
[code]

[2020-05-29 13:18] stempher commented on #68
thanks - it works

[2020-05-29 21:36] #68 closed

[2020-05-31 00:36] phillbaker commented on #20
See https://github.com/phillbaker/terraform-provider-elasticsearch/commit/19c1ee3dd91c35e124069549452543b410d2dc8d.

Since this provider now supports the existing functionality of opendistro, I'm going to close this issue as completed. Please open new issues for specific changes or additions.

[2020-05-31 00:36] #20 closed

[2020-05-31 01:00] phillbaker commented on #55
I'm still surprised the get request is causing a segfault, but the reasoning makes sense. I'll take a look at provided_name.

Just to clarify, this is because following indices are created by index state management or curator?

This is a really good question, I can imagine several scenarios:
* mimic the server side implementation and re-evaluate the date math at the current time `now()`
  * this d

[2020-05-31 17:53] #61 closed

[2020-05-31 19:26] phillbaker commented on #61
In the future, we may also need to look at something like: https://github.com/terraform-providers/terraform-provider-aws/blob/5178a038f901e7b111104e5de335477b64bfc344/aws/resource_aws_athena_workgroup_test.go#L43

[2020-06-01 15:46] travisby commented on #55
Looking back at older versions of TPE I noticed we unsafely read the `index` key from the response.  I suspect I have an older version although I'm not sure how to confirm it outside of a sha1sum and comparing to other binaries 😅

https://github.com/phillbaker/terraform-provider-elasticsearch/blob/66c5ca0f90c909f09762d0877f245683610a70ec/es/resource_elasticsearch_index.go#L303

So that's likely fi

[2020-06-01 21:45] nelg commented on #55
Yes, the ILM policy creates new indices by copying the existing one, and then changing the alias to the new one.

Thinking about this some more, my thoughts are.
Indices like this, are usually needed for ILM policies.  We could add a parameter to the resource elasticsearch_index_lifecycle_policy, that allows the creation of the initial index using date math.   I the index creation was embedded in

[2020-06-01 22:18] nelg commented on #62
Do you know which resources this is impacting?  I have to assume it's a change of format in the state file.  Just would be nice to figure out as have 85 resources defined, and don't want to drop all of them from the state file.

I get this error:
Error: missing expected [

around 18 times, but no clues as to which resources.

Can we improve the error message? IE, to say which resource it's got a p

[2020-06-01 23:15] nelg commented on #62
Please add the following to the documentation:

Run the following commands prior to upgrading to version 1.0.0t:
`
terraform state list | grep role\\.  > roles.txt

for i in $(cat roles.txt); do id=$(terraform state show $i | egrep "id"|tr -d '"'| cut -d'=' -f 2); echo terraform state rm $i; echo terraform import $i $id; done

`
then:

Upgrade to the new provider.
Copy and paste the state commands

[2020-06-02 13:07] phillbaker commented on #55
Thanks for the thoughts @travisby @nelg.

That's still done on master: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/9cd2c48d35079b29e7e369ea8dcad6442de1ebf4/es/resource_elasticsearch_index.go#L309

I think you meant `provided_name`? If so, it looks like there's not a good way to search for this, we'd have to use the indices cat endpoint and then N+1 retrieve each individual

[2020-06-02 21:41] nelg commented on #55
No, I mean search for it by the pattern name.  Ie, send the following request to elasticsearch.
`GET %3Ctest-%7Bnow%2Fy%7Byyyy%7D%7D-000001%3E`

Elasticsearch will then do the date math, and return you the matching index, ie:
[code]

So, the get <pattern>, will return an index that's name is the resolved pattern.  When we do a get for this index, an optional check we could do, is that if the provi

[2020-06-03 13:28] phillbaker opened #72 "Add license resource"
See https://www.elastic.co/guide/en/elasticsearch/reference/6.2/update-license.html

[2020-06-05 02:24] phillbaker commented on #62
see 777021a

[2020-06-11 19:38] CmdrChaos commented on #64
I am experiencing the same issue.  Just installed v1.2.0 and getting the same error.
Error: Head "https://******************.us-west-2.es.amazonaws.com": context deadline exceeded

  on root.tf.json line 59, in provider[7].elasticsearch:
  59:       }

lines from root.tj.json
    {
      "elasticsearch": {
        "alias": "portal",
        "url": "https://****************************.us-west-2.es

[2020-06-11 21:34] CmdrChaos commented on #64
Quick update.... Issue resolved for me.
Issue was resolved by adding:
"healthcheck": false
to the Elasticsearch provider definition. So it now looks like:
{
"elasticsearch": {
"alias": "portal",
"url": "https://****************************.us-west-2.es.amazonaws.com",
"insecure": true,
"healthcheck": false,
"version": "~> 1.2.0"
}

},

[2020-06-14 18:15] phillbaker commented on #55
I understand the thinking here, but I'm reconsidering if this makes sense with terraform's model. Given the that other settings can change on an index and that date math could be used for daily indices, I think the conservative approach is to have terraform state map to the original created index. In some regards, having multiple services manage these indices is a bit outside of the "pure terrafor

[2020-06-14 18:19] phillbaker commented on #55
I've pushed a fix along these lines in 47c241cc5957bcaaf9ee9a6577c6d709217ce958

[2020-06-14 18:21] phillbaker commented on #65
@tdmalone can you confirm the version of elasticsearch/kibana this was seen on?

[2020-06-14 18:37] phillbaker commented on #65
I actually think may be related to try to set a non-primative type in the state:
https://github.com/phillbaker/terraform-provider-elasticsearch/blob/dc29f7b9f2b3b5ca64a60fa6a037a5d2bdb0e616/es/resource_elasticsearch_xpack_watch.go#L100

(we're not checking the err here either, which we likely do have)

[2020-06-17 08:38] tdmalone commented on #65
Apologies for the delay - this is on Elasticsearch 7.6.2.
If you're unable to replicate I could try upgrading to 7.7.1?

[2020-06-20 14:19] #64 closed

[2020-06-20 14:20] phillbaker commented on #64
Great - if there are other details, please provide them. Going to mark this as closed for now.

[2020-06-20 17:56] phillbaker commented on #65
I have a fix in progress for this, but it's blocked by an upstream bug, PR to fix that issue is here: https://github.com/olivere/elastic/pull/1345.

That fix will also need to be ported to the v6 version of the upstream library.

[2020-06-22 08:04] bquartier opened #73 "Enrich policy definition"
Hi,

It seems "enrich policies" (https://www.elastic.co/guide/en/elasticsearch/reference/7.8/enrich-policy-definition.html) are not supported by the provider. Do you have any plan to support them?

Thanks for your work.
Benoît

[2020-06-23 17:31] tjbaker commented on #65
I noticed the same problem with monitors, refresh/plan is not detecting drift here either.
I just upgraded to 1.3 and will see if that makes a difference.

[2020-06-24 03:07] phillbaker commented on #65
Yes, unfortunately, monitors is due to a similar issue here:
https://github.com/phillbaker/terraform-provider-elasticsearch/blob/1e7b35a99451a84f9620a316d3fa30fe36b7d4e9/es/resource_elasticsearch_opendistro_monitor.go#L81

These go objects cannot be serialized to terraform state, they must be `map[string]interface{}` objects. A branch to address several of these is here: https://github.com/phillba

[2020-06-28 15:55] phillbaker commented on #73
Sounds like a good resource to add. A PR for this would be great!

[2020-06-28 16:17] phillbaker commented on #65
It looks like one complication with correctly comparing monitors is that opendistro saves the default values of search queries in the monitor definition. So for example, `adjust_pure_negative`, even if not specified by the plan, comes back in the response.

[2020-06-29 11:13] tjbaker commented on #65
Regarding monitors, something else that bit me when in upgrading to 1.03 and the new resource names per the deprecation warnings....monitors have an id reference to the destination embedded in their body.  When you change the provider resource for destinations (they now have opendistro in the name) it destroys and recreates the destination so it gets a new `id`.  But the monitor doesn't notice tha

[2020-07-14 01:57] phillbaker commented on #65
Upstream issue for xpack watch was fixed for v7 in https://github.com/olivere/elastic/pull/1363, v6 fix is in https://github.com/olivere/elastic/pull/1368.

[2020-07-14 01:58] phillbaker commented on #65
@tjbaker would just not destroying and recreating, but just `terraform state mv` the resources.

[2020-07-16 14:57] ntdt opened #74 "Publication of this provider to https://registry.terraform.io/"
In order to simplify the use of this provider with terraform init, could you please follow this guide
https://www.terraform.io/docs/registry/providers/publishing.html#publishing-to-the-registry to publish to the community providers on Terraform registry?

[2020-07-17 02:17] phillbaker commented on #74
Interesting, I hadn’t seen this before, I’ll take a look at getting this
set up.

On Thu, Jul 16, 2020 at 10:57 AM Nguyen Duy Tho <notifications@github.com>
wrote:

[2020-07-17 03:27] phillbaker commented on #74
Looks like feature is still in private beta, if you can get me an invite, I'll publish the provider 😀

[2020-07-17 13:20] ntdt commented on #74
We have to wait then :)

[2020-08-09 21:06] phillbaker opened #75 "[elasticsearch_index] Don't recreate datemath index if ILM/ISM created a match"
Coming out of https://github.com/phillbaker/terraform-provider-elasticsearch/issues/55#issuecomment-637821676

Given the that other settings can change on an index and that date math could be used for daily indices, the conservative approach is to have terraform state map to the original created index (the fix in https://github.com/phillbaker/terraform-provider-elasticsearch/issues/55).  In some r

[2020-08-09 21:07] phillbaker commented on #55
This was fixed and released in https://github.com/phillbaker/terraform-provider-elasticsearch/blob/master/CHANGELOG.md#130---2020-06-20, opened https://github.com/phillbaker/terraform-provider-elasticsearch/issues/75 for the additional functionality discussed.

[2020-08-09 21:07] #55 closed

[2020-08-09 21:08] phillbaker commented on #74
This was published and the readme updated, please see https://registry.terraform.io/providers/phillbaker/elasticsearch/latest

[2020-08-09 21:08] #74 closed

[2020-08-10 15:26] GoGoris opened #76 "Usage data_source_elasticsearch_opendistro_destination"
Hi @phillbaker,

Do you have an example of how to use the elasticsearch_opendistro_destination data_source? What is the difference with the elasticsearch_opendistro_destination resource?

[2020-08-11 01:43] phillbaker commented on #76
The resource is for creating and managing a destination, the datasource is to reference it. So a destination can be reused across multiple modules/monitors, without repeating the credentials/details across the terraform codebase.

For example, defining in a common spot:
[code]

then reusing it:
[code]

[2020-08-11 01:45] phillbaker commented on #70
@tdmalone what version of elasticsearch was this against?

[2020-08-11 02:52] tdmalone commented on #70
@phillbaker This was on 7.6.2. I can try to replicate again now with 7.8.0 or 7.8.1 if that would be useful?

[2020-08-11 08:24] GoGoris commented on #76
OK, thanks for the explanation!

[2020-08-11 08:24] #76 closed

[2020-08-11 11:30] tjbaker commented on #76
I had been hardcoding the destination_id in the monitor and am getting an exception after switching to a reference.

[code]

I get an unresolved reference using `slack_on_call_channel.id`

[code]

Ideas?

[2020-08-11 12:35] phillbaker commented on #70
If I had to guess, I'm not sure that `{"test": "yes"}` is a valid kibana object. Can you try the example in the tests? https://github.com/phillbaker/terraform-provider-elasticsearch/blob/15a448c3aafa25ce3b7ac89f41f08e1cad154e46/es/resource_elasticsearch_kibana_object_test.go#L139-L154

[2020-08-12 06:40] tuvikene opened #77 "Wrong ES version is detected"
Running the provider on 0.12.29 against AWS Elasticsearch 6.8 it fails with:
[code]
Provider is set here:

[code]

[2020-08-12 16:50] udleinati opened #78 "Add search template"
Hi, I'd like to know if there's a way to add a search template using this elasticsearch provider.

Check [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-template.html) for more info.

I did some tests using elasticsearch_index_template and elasticsearch_index, both worked great!!!

An elasticsearch_script would be amazing! :)

[2020-08-13 02:52] phillbaker commented on #77
The username/password is not parsed from the url, please use the separate username/password attributes: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/15a448c3aafa25ce3b7ac89f41f08e1cad154e46/es/provider.go#L49-L60

[2020-08-13 03:00] phillbaker commented on #78
Not currently, but pull requests are accepted 😀 ! It looks like it'd be relatively straightforward.

[2020-08-14 13:44] #77 closed

[2020-08-17 12:11] benyitzhaki opened #82 "how can we use this for terraform 0.12?"
As this syntax
`terraform {
  required_providers {
    elasticsearch = {
      source = "phillbaker/elasticsearch"
      version = "1.4.1"
    }
  }
}`
is not available in terraform 0.12, is there a workaround on using the provider?

thanks!

[2020-08-17 12:52] #82 closed

[2020-08-18 14:28] sahilpugalia opened #83 "How to create Opendistro users - internalusers"
As mentioned users/roles/rolemapping with opendistro is supported , although i dont see a way to create users in it.

[2020-09-02 17:22] ngamber opened #86 "unable to re-apply templates with existing resources"
Trying to run a second apply with resources that already exist in the cluster and get failures like this:

[code]

This happens whether the policy is provided in-line or as a body= file() reference. Not sure if there's a better way to handle this but not seeing a difference in the examples.

[2020-09-02 17:30] ngamber commented on #86
Deleting the resources and then letting terraform create them again seems to fix this.

[2020-09-03 02:43] phillbaker commented on #83
Whoops, it does look like users was an oversight, got confused with xpack.

To be clear though, internalusers cannot be created via the API, [see the docs](https://opendistro.github.io/for-elasticsearch-docs/docs/security/configuration/yaml/#internal_usersyml).

[2020-09-03 05:18] sahilpugalia commented on #83
I guess they can be created:

https://opendistro.github.io/for-elasticsearch-docs/docs/security/access-control/api/#create-user

On Thu, 3 Sep 2020, 08:13 Phillip Baker, <notifications@github.com> wrote:

[2020-09-03 13:43] phillbaker commented on #65
Released a fix for the watch diff in 1.4.2, note that it looks like the watch API may return default values that were not passed in the original request, e.g. for log actions, `"level": "info"`, which would result in a perpetual diff unless it's pulled into the definition.

Still working on the monitor issue.

[2020-09-04 12:25] tdmalone commented on #65
@phillbaker Thanks - it works great! I am indeed seeing those diffs - with eg. `rest_total_hits_as_int` and `search_type`, which have default values if they're not set. I think it's possible for Terraform to store the returned result in the state, after an apply, so that it doesn't cause a perpetual diff. Unfortunately I'm not sure how to do it... I just know that I've seen it in discussions aroun

[2020-09-04 12:34] tdmalone commented on #65
Actually - I am seeing _quite_ a lot of diffs - too many to adjust in our configurations, so I might need to downgrade to the previous version for now. Other examples include setting `"lang": "painless"` on transform scripts (the default value if it's not specified), as well as unsetting most of the computed values for `webhook` actions where we've just provided a `url` value.

[2020-09-04 22:43] phillbaker commented on #65
Part of the issue is that, originally, in order to add support for this functionality quickly, the resource was built to accept just a JSON blob, instead of breaking out the attributes as most resources do. The downside of this is that it's harder to use terraform schema helpers to deal with issues like this. The medium term fix is to transition away from the json blob to a "real" schema.

[2020-09-14 16:29] Shubydo opened #87 "How to create index-patterns using elasticsearch_kibana_object resource"
I'm trying to figure out how to create an index pattern using the `elasticsearch_kibana_object` resource, but keep getting errors. Currently using ES 7.7

[code]

Below are the configurations I have tried for `cloudwatch.json`.

`cloudwatch.json` using ES7 format.
[code]
This causes the following error: `Error: rpc error: code = Unavailable desc = transport is closing`

`cloudwatch.json` using ES6

[2020-09-15 18:01] bjfish25 commented on #87
The kibana saved object doesn't strictly take es6/es7 exported object format. Something like this should work though for a simple index pattern:

[code]

[2020-09-16 21:44] JPLachance commented on #83
Hello!

The support for ODFE internal users was added in Coveo's fork a few month ago by one of my colleagues: https://github.com/coveooss/terraform-provider-elasticsearch/blob/master/resource_elasticsearch_odfe_user.go

I think he forgot to open a PR to this repo for his contribution :)

[2020-09-17 22:00] haywoood opened #88 "The "elasticsearch_index_template" resource is using the legacy `/_template` API endpoint"
Not sure there is going to be any action needed from this library, but figured I'd link the two issues.

https://github.com/olivere/elastic/issues/1393

I was trying to create this resource:

[code]

But it failed to apply because of a 400 error from Elasticsearch. Downstream, the legacy `/_template` endpoint is being used instead of the new `/_index_template` endpoint.

[2020-09-18 07:53] ruflin commented on #88
@haywoood The only work around I can think of at the moment, is to just not load a template and use the default one. I would hope this works. At the same time I do not want to consume more time of you for this as what you created works and is the most important part here.

We can still iterate later on this again and improve it!

[2020-09-18 13:44] haywoood commented on #88
@ruflin yea, the only problem is that the default ILM policy won't work for us, neither is missing the no hot/warm default that will arrive in 7.10.

[2020-09-18 15:59] matikij opened #89 "Support AWS EC2 Instance Profile authentication"
I have been struggling with getting this provider to work with my setup. Terraform is run in kubernetes on an instance with AWS authentication done via an instance profile. State is in s3 and I can access it, so the AWS authentication part works. Configuration follows
[code]

contents of `.aws/config`:
[code]

`terraform plan` works only when I set `healthcheck=false`, but then `terraform apply` i

[2020-09-19 12:44] phillbaker commented on #89
I don't think the parameterized url for the ES provider will work, e.g. `url = "https://${data.aws_ssm_parameter.logs_elasticsearch_endpoint.value}"`

See:
* https://github.com/phillbaker/terraform-provider-elasticsearch/issues/23#issuecomment-498258902
* https://github.com/phillbaker/terraform-provider-elasticsearch/issues/63#issuecomment-614378710

Please try hardcoding the url as a test.

[2020-09-19 13:30] phillbaker commented on #83
In looking at the [docs](https://opendistro.github.io/for-elasticsearch-docs/docs/security/access-control/api/#create-user) I don't see a `description` field, looks like [it is in the source though](https://github.com/opendistro-for-elasticsearch/security/blob/630d5824d2fb4f42a8cd6821b36674d23bcee113/src/main/java/com/amazon/opendistroforelasticsearch/security/securityconf/impl/v7/InternalUserV7.j

[2020-09-19 15:59] matikij commented on #89
I did try this before, no difference whatsoever.

sob., 19 wrz 2020, 14:44 użytkownik Phillip Baker <notifications@github.com>
napisał:

[2020-09-21 06:59] ruflin commented on #88
@haywoood Please ignore me on this thread, I commented on the wrong issue 🤦‍♂️

[2020-09-22 01:03] phillbaker commented on #87
Potentially related: #22 & #70.

[2020-09-22 14:42] tocw opened #90 "Elasticsearch provider does not support authentication using encrypted SSL keys"
Hello,
our company security policy forces us to use encrypted keys for certificate authentication.
Currently the elasticsearch provider (v1.4.3) does not support it.
It would be great to have this feature implemented in next releases.

Thanks

[2020-09-23 22:07] ngamber opened #91 "roles and role mappings generate 403s"
Trying to create/update roles and mappings but get 403s back. Using AWS ES 7.7 (latest) and assuming an IAM role mapped to the all_access role, equivalent direct rest API calls work fine.  Using 1.4.3 of this provider, other resources such as templates/state policies also work. This also occurs with the test role provided here:

https://github.com/phillbaker/terraform-provider-elasticsearch/blob/v

[2020-09-24 00:30] ngamber commented on #91
I think the 403 was unrelated, I get a 400 now that I've fixed our roles. Wondering if this is the problem (note the following comma added to each element (indices_all,*, etc.):

[code]

Adding those extra commas to a request to the API manually fails with a "could not parse content of request error.

[2020-09-24 02:57] phillbaker commented on #83
I've pulled this commit it, it will be released in v1.4.4, https://github.com/phillbaker/terraform-provider-elasticsearch/releases/tag/v1.4.4

[2020-09-24 02:57] #83 closed

[2020-09-24 03:16] phillbaker commented on #89
This functionality was added in https://github.com/phillbaker/terraform-provider-elasticsearch/pull/67, please see discussion there for how this plugs into the underlying libraries provided by AWS. In particular the interactions of environmental variables and the credentials provided on the machine are discussed here: https://docs.aws.amazon.com/sdk-for-go/api/aws/session/#pkg-overview

[2020-09-24 03:26] phillbaker commented on #88
I'd suggest contributing a PR upstream for this, which will then need to be pulled into this provider.

It looks like this endpoint was added in ES7.8 - I'm not sure how we want to handle that in the provider, we're currently only differentiating based on major versions of ES which tie to major versions of the client.

[2020-09-24 03:32] phillbaker commented on #91
Hello, I'm not quite following the issue. Can you include a formatted terraform example and the output of a terraform apply with the `TF_LOG=INFO` environmental variable set?

[2020-09-24 21:52] Shubydo commented on #87
Closing. Was able to use @bjfish25 's example to create the index pattern

[2020-09-24 21:52] #87 closed

[2020-10-01 00:29] phillbaker commented on #22
@wloczykij2's comment is correct, once past ESv5, the way to get raw JSON for kibana objects is directly from the index. Documented this a bit in https://github.com/phillbaker/terraform-provider-elasticsearch/commit/a53e1fd684dfb8dd788bc5a8dcc43d5a5067edbc. Closing this issue and will open a separate one for switching to use the kibana API instead of the index directly.

[2020-10-01 00:29] #22 closed

[2020-10-01 00:34] phillbaker commented on #70
Added an additional validation and documentation around the format of these objects 95d9b71d9778c885433b3ceef7bfb5f394a21bec, this shouldn't crash any more.

[2020-10-01 00:34] #70 closed

[2020-10-01 00:46] phillbaker commented on #89
Hi @matikij unfortunately without further details, a test case or a way to reproduce this, this bug report isn't actionable. Please provide any updates you can.

[2020-10-01 10:08] matikij commented on #89
How can I provide further details? A testcase is something I can try
working on by the end of this week.

czw., 1 paź 2020 o 02:46 Phillip Baker <notifications@github.com>
napisał(a):

[2020-10-02 00:38] phillbaker opened #92 "Use kibana API for kibana objects instead of index"
As discussed in https://github.com/phillbaker/terraform-provider-elasticsearch/issues/22, the format of the kibana index has changed with versions of Elasticsearch, it would be better to interact with it via the API, added in ESv6.3. As well, the format is non-obvious.

The kibana export in ESv6 seems to export v5-only compatible objects.

Docs: https://www.elastic.co/guide/en/kibana/6.3/saved-obj

[2020-10-02 22:43] phillbaker opened #93 "Deprecate json body attributes"
As discussed in https://github.com/phillbaker/terraform-provider-elasticsearch/issues/65, using a `body` attribute that accepts raw JSON defeats much of the purpose of terraform and makes it harder to deal with odd API responses.

Resources that should be updated:
* [ ] kibana_object
* [ ] index_lifecycle_policy
* [ ] index_template
* [ ] ingest_pipeline
* [ ] opendistro_destination
* [ ] opendist

[2020-10-04 19:01] phillbaker commented on #91
Hi @ngamber  unfortunately without further details, a test case or a way to reproduce this, this bug report isn't actionable. Please provide any updates you can.

[2020-10-04 19:27] ngamber commented on #91
Sorry about that, we switched to using a script via local-exec to create these resources as a workaround. If I get a chance I'll try this again and report back.

[2020-10-04 21:45] phillbaker commented on #65
Closing as this issue is fixed, further improvements will be in  #93

[2020-10-04 21:45] #65 closed

[2020-10-05 17:04] jonathan-johnston opened #94 "Extensions: machine, user, and role management"
@phillbaker We're looking to configure more of our ES infrastructure declaratively, with willingness to contribute features that help us get closer to 100%. This Terraform provider has a lot of the features that we need and feels to me like it could be naturally extended to handle configuration and management of ES cluster machines, users, and roles. As the maintainer, I would love to get your opi

[2020-10-05 23:04] phillbaker commented on #94
👋 hello @jonathan-johnston, thanks for asking! I certainly see room to improve the management of kibana and other resources that live in an ES cluster (your latter two points), PRs for those would be welcome, and would be happy to talk through good ways to structure them.

Given the many ways to provision and configure an ES cluster, I'd like to keep that outside of this provider. A user of this p

[2020-10-05 23:07] phillbaker commented on #94
@jonathan-johnston when you refer to "kibana users" are you referring to the XPack managed security users or something else? (The XPack users are already supported by this provider.)

[2020-10-06 15:30] jonathan-johnston commented on #94
@phillbaker Thanks for the detailed information! I hadn't noticed `Ascendon/terraform-provider-ece` but that is exactly what I need for machine management. And it turns out I am indeed referring to XPack but didn't know user and role management was built on it. Thanks for the clarification!

I'll try hooking your provider up to our Terraform config and can swing back around with any extensions we

[2020-10-07 02:56] phillbaker commented on #94
Sounds good, any feedback on issues with this provider would also be appreciated!

[2020-10-07 02:56] #94 closed

[2020-10-13 15:02] z0rc commented on #88
In addition to new endpoint it would nice to have support of "component templates" which is also part of ES 7.8. Tracked at https://github.com/olivere/elastic/issues/1388

I'd suggest introducing new resources for component templates and index templates.

[2020-10-13 15:31] haywoood commented on #88
++

[2020-10-21 09:34] serenacor opened #97 "Terraform - provider configuration"
I am using  "0.13.4" terraform version with the follow config
required_providers {
    elasticsearch = {
      source  = "phillbaker/elasticsearch"
      version = "1.4.4"
    }
  }

provider "elasticsearch" {
  url = "http://127.0.0.1:9200"
}

and used the resource as indicate in the documentation but after the init command I can see this issue:

[2020-10-22 15:58] mbamber opened #98 "Support Assume Role Authentication"
We currently manage our AWS Terraform configurations using the `assume_role` attribute of the AWS provider. To maintain parity with our existing workflows, it would be useful if this provider supported the same authentication mechanism.

Specifically, I would like to be able to supply the following attribute to the provider:
[code]

[2020-10-22 16:09] #97 closed

[2020-10-22 22:19] phillbaker commented on #97
Just following up here, what was the resolution?

On Thu, Oct 22, 2020 at 12:09 PM serena <notifications@github.com> wrote:

[2020-10-23 07:33] tophercullen opened #99 "Watches with basic auth trigger replacement due to password redaction"
At least with elastic cloud, elasticsearch redacts basic auth passwords returned by the get watch api. Instead of the real password, it is always "::es_redacted::". This causes large quantities of low quality output in plans and re-applies all watches that require passwords.

This seems like a case where we need to somehow ignore this specific field in templates, or check it against the existing s

[2020-10-23 19:25] tophercullen commented on #99
Short after opening the issue, I found a simple workaround for this: basic auth headers. This is all the auth input is doing anyway. Changing this

[code]

to this

[code]

Elasticsearch doesn't redact the headers, so provider can just work as is.

Rather than changing the provider, could this be added to the usage information/examples?

[2020-10-24 02:28] phillbaker commented on #99
Yes please! A PR would be great! I'm not sure we have xpack watches documented yet (https://github.com/phillbaker/terraform-provider-elasticsearch/tree/master/docs/resources), but the contribution would be welcome!

[2020-10-24 13:06] #99 closed

[2020-10-24 13:09] #98 closed

[2020-10-27 02:19] phillbaker commented on #75
Fixed in https://github.com/phillbaker/terraform-provider-elasticsearch/pull/96

[2020-10-27 02:19] #75 closed

[2020-10-28 15:01] tjbaker opened #102 "plan shows a diff for unspecified open distro alert trigger's action id"
I don't include the trigger's action id in my template, yet plan shows it changing from a value to `null` since upgrading to 1.4.4 from an earlier version.  The OpenDistro API docs don't show including the action id in the post body for create or update, so I'm not sure why plan is flagging it as changing now.  I don't recall this happening before.

Doc here....does not inclide `id` for action:
ht

[2020-10-28 15:04] tjbaker commented on #102
IDK if this is related to https://github.com/phillbaker/terraform-provider-elasticsearch/issues/93 ?

[2020-10-28 23:40] MIsazaB95 opened #103 "Provider "elasticseach" not available for installation"
I can´t use this provider, do i have to install the binary? or wha can i do?

[2020-10-29 01:12] phillbaker commented on #103
We'll need more details to determine what the issue is. Can you share the config you're using and any other relevant details?

Maybe related to https://github.com/phillbaker/terraform-provider-elasticsearch/issues/97

[2020-10-29 01:14] phillbaker commented on #102
Hm, interesting. Can you share a redacted version of the entire monitor?

[2020-10-29 13:24] MIsazaB95 commented on #103
I´m using this configuration:
required_providers {
    elasticsearch = {
      source  = "phillbaker/elasticsearch"
      version = "1.4.4"
    }
  }
But, it does not work, the error is this:
sing previously-installed phillbaker/elasticsearch v1.4.4
Finding latest version of hashicorp/elasticseach...
Error: Failed to install provider

Error while installing hashicorp/elasticseach: provider registr

[2020-10-30 11:52] phillbaker commented on #103
What version of terraform are you using? The registry is only supported on terraform >= 0.13.

[2020-11-01 16:46] phillbaker commented on #89
Hello, I'm closing this issue for now as there haven't been any updates on this issue for a month. If there are additional details that can be provided, including a test case or reproduction steps, please reopen and include them.

[2020-11-01 16:46] #89 closed

[2020-11-02 23:38] phillbaker commented on #103
@MIsazaB95 can you provide an update here, otherwise I'll close this issue as having been resolved.

[2020-11-03 20:55] #103 closed

[2020-11-03 20:55] MIsazaB95 commented on #103
issue resolved

[2020-11-03 20:56] MIsazaB95 opened #104 "elastic: Error 400 (Bad Request): property isn't a map"
Can´t create my own custom ingest pipelines..
I´m trying to create y own processor called docs, but when i do terraform apply does not work:

elastic: Error 400 (Bad Request): No processor type exists with name [docs] [type=parse_exception]

[2020-11-04 14:42] phillbaker commented on #104
Please include a redacted copy of the terraform config that you're using.

[2020-11-04 15:13] MIsazaB95 commented on #104
This is the resource to create the ingest pipeline
[code]
The boy of my pipeline is this:
[code]
But, when i do a tf apply, it says that docs is not a valid proccessor type

[2020-11-05 02:46] phillbaker commented on #104
Is this pipeline valid when using the simulate endpoint in elasticsearch (https://www.elastic.co/guide/en/elasticsearch/reference/6.8/simulate-pipeline-api.html)? Ie using `POST _ingest/pipeline/_simulate`?

[2020-11-07 15:54] phillbaker commented on #104
In fact the body that you're using is the body to the simulate endpoint, not one that's for creating pipelines. Please see https://www.elastic.co/guide/en/elasticsearch/reference/6.8/put-pipeline-api.html and the example here: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/ae280f3de1eb5006c0bda94e91fe3a91156b73f8/examples/ingest_pipeline/main.tf#L7-L30

[2020-11-07 15:54] #104 closed

[2020-11-10 19:41] nothingofuse opened #106 "kibana object always fails if index does not exist"
i believe theres a simple bug in this conditional - https://github.com/phillbaker/terraform-provider-elasticsearch/blob/e9f5b3b12816c6b0fe98440cc836c10bca0e080e/es/resource_elasticsearch_kibana_object.go#L126

if it tries to create the .kibana index; it always returns err

[2020-11-12 18:16] tjbaker opened #108 "Kibana index patterns don't work"
You can create a Kibana index pattern via the provider, but it does not contain enough metadata to be displayed or edited in Kibana 7.8.0.  You can export all the index patterns and see your data there, but you can not view/edit it via the index pattern UI, which throws a 404 for the index id.

ie
I see this in the ndjson export
[code]

But the response when I try to load the index pattern in Kiba

[2020-11-12 18:40] tjbaker commented on #108
hmmm, somehow it does not like patterns named `test` but is fine with `test1`.

test1 is working as expect
test shows in the ui and export, but I can not interact with it via tf or the api, it keeps throwing 404 even though the pattern mgmt UI shows it

[2020-11-12 19:25] tjbaker commented on #108
arg, I can't get rid of the test doc/pattern

In sql workbench I can find it via
`select * from .kibana_4 where type = 'index-pattern' and updated_at IS NULL;`

There is just one row, and it is the one in question.  But this also fails
`delete from .kibana_4 where type = 'index-pattern' and updated_at IS NULL;`

[2020-11-12 20:44] tjbaker commented on #108
I was able to delete the offending index-pattern and will continue testing.

[2020-11-13 03:32] phillbaker commented on #106
What are the cases when `createIndex.Acknowledged` is true, but an err is also returned?

https://github.com/phillbaker/terraform-provider-elasticsearch/blob/e9f5b3b12816c6b0fe98440cc836c10bca0e080e/es/resource_elasticsearch_kibana_object.go#L124-L127

[2020-11-13 13:21] tjbaker commented on #102
Sorry for the delay, here is a redacted test.  `Plan` shows the action `id` changing to null regardless of whether I specify `id` in the json body.  Every run of plan shows diffs for all my monitors which are similarly configured.

[code]

[2020-11-13 20:50] kumar-shantanu opened #109 "provider not working with a 6 node cluster (3 masters, 3 data )"
I have used this provider with a cluster with a single master+node setup, however, it's not working with a 3 master node setup(same version of elastic, etc). I tried with the option "sniff = false" as well but it's crashing with the 3 master node setup.

Also to add, my elastic search (master nodes) is running behind an Nginx ingress, meaning the endpoint is distributing the request to different n

[2020-11-13 21:56] kumar-shantanu commented on #109
Closing this.

[2020-11-13 21:56] #109 closed

[2020-11-14 12:39] tjbaker commented on #108
IDK how the above happened, but I did manage to create an invalid index pattern which would display in the UI but could not be interacted with, often throwing a 404.  I had to delete it manually via curl in the kibana index.  I have not been able to reproduce the issue though.

[2020-11-15 12:25] kumar-shantanu opened #110 "Resource elasticsearch_index with alias fails on multi node elastic"
Hi,
I am creating elasticsearch_index using this provider, this works against a single node elastic cluster however fails with the error "Error: rpc error: code = Unavailable desc = transport is closing" while running the same against a multi-node elastic cluster.

resource "elasticsearch_index" "dev-index" {
  for_each           = toset(var.dev)
  name               = "logs-${each.value}-dev-1"

[2020-11-16 14:22] shantanu-sapient commented on #110
After Investing a bit more around this I found this was problem on the ELK side. It's just that the provider is not outputting the correct error message. For now I am closing this ticket.

[2020-11-16 14:23] phillbaker commented on #110
What is the error message you were expecting to see? How is the ES cluster
configured so that the connection would not work?

On Mon, Nov 16, 2020 at 9:22 AM shantanu-sapient <notifications@github.com>
wrote:

[2020-11-16 14:23] kumar-shantanu commented on #110
After Investing a bit more around this I found this was a problem on the ELK side. It's just that the provider is not outputting the correct error message. For now, I am closing this ticket.

[2020-11-16 14:23] #110 closed

[2020-11-16 14:26] kumar-shantanu commented on #110
@phillbaker - This is what i am getting when I am doing a post through kibana dev tools for example,

{
  "error" : {
    "root_cause" : [
      {
        "type" : "illegal_argument_exception",
        "reason" : "cannot create index with name [logs-xxx-dev-1], because it matches with template [logs] that creates data streams only, use create data stream api instead"
      }
    ],

Here is clearl

[2020-11-18 17:38] guyelia opened #111 ""no Elasticsearch node available" when using module input"
Hey,
I have the following configuration for the provider:
[code]
When I know that the output of `module.es.endpoint` is:
`"vpc-MY_AWS_ES.us-east-1.es.amazonaws.com"`

But, when I apply, I get:
`Error: health check timeout: no Elasticsearch node available`

Even if I disabling  the healthcheck I get the same error:
`no URLs found: no Elasticsearch node available`

Writing the hardcoded URL is worki

[2020-11-19 15:17] phillbaker commented on #111
Being about to create these at the same time would be great - as I remember, there were upstream terraform issues: terraform 0.11 specifically documented that providers could not depend on resources: https://www.terraform.io/docs/configuration-0-11/providers.html#interpolation.

It looks like 0.12 has similar language: https://www.terraform.io/docs/configuration/providers.html#provider-configurati

[2020-11-20 02:00] ahmad-hamade opened #112 "Web Identity Token / EKS IAM Role Service Account (IRSA) support"
I was able to configure and run the provider successfully from my local machine but running the same from CI server returning `health check timeout: no Elasticsearch node available`.

I tried to run a simple python script that connects and uploads a document into ES from the CI server and it works just fine which eliminates any issue related to ES IAM role policy or security groups rules.

Any ide

[2020-11-20 12:07] CumpsD opened #113 "Insecure not working"
We are tunneling to Elasticsearch over SSH and using the provider like this:

[code]

This results in:

[code]

I would assume it would not error on this because of `insecure = true`?

[2020-11-20 12:30] phillbaker commented on #112
Can you please share the provider configuration and resource configuration? If you're using AWS auth, please share the any relevant config files on the machine in question.

[2020-11-20 13:24] ahmad-hamade commented on #112
Hi @phillbaker,

I'm using TF0.13.

[code]

[code]

I don't specify any AWS auth in my terraform AWS provider as I'm using `saml2aws` to assume and login to AWS using MFA.

As mentioned previously, everything works just fine on my laptop but in the CI server getting `health check timeout: no Elasticsearch node available`

PS. My CI is running in a Pod inside the EKS cluster and I'm using IRSA for

[2020-11-20 23:57] phillbaker commented on #112
So seems like a networking or permissions issue from the CI environment 😀 . May be related to https://github.com/phillbaker/terraform-provider-elasticsearch/issues/89

How did you do this test? If you used a curl can you share that?

Did you try setting [`healthcheck` to false](https://registry.terraform.io/providers/phillbaker/elasticsearch/latest/docs#healthcheck) in the provider?

[2020-11-21 00:10] phillbaker commented on #113
It should: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/c88de6531c4a6841d63a8179776b3b7be2e3e51d/es/provider.go#L385-L392

Is there any additional error information? Can you try setting the [ES version explicitly](https://registry.terraform.io/providers/phillbaker/elasticsearch/latest/docs#elasticsearch_version)?

[2020-11-21 23:04] ahmad-hamade commented on #112
If I set ` healthcheck` to false then I will be getting exactly the same behavior as what is mentioned in #89 `terraform plan/apply is waiting forever`.

The way how I tested the connectivity from inside CI pod is by running the below script (which will also return to me the document that I added) and it's working just fine:

[code]

So I don't think it's related to a network connectivity or permi

[2020-11-22 10:09] guyelia commented on #111
Hey, we not initializing it at the same time, we saved it as an output.

It turns out that this is a known issue with tf13.
You can read about it [here](https://github.com/hashicorp/terraform/issues/26274)

With the help of @yahel2410 we found a temporary solution:
`tf apply -target = module.es_logs_dev -target = output.es_logs_dev_url`

thanks anyway! you can close it.

[2020-11-23 17:47] CumpsD commented on #113
No extra info :(

When I set the es version it errors out with:

[code]

[2020-11-23 17:52] CumpsD commented on #113
If I don't set health check to `false` I get some more information:

[code]

Which is probably also SSL related, because when I browse to it I get:

[code]

[2020-11-23 18:02] CumpsD commented on #113
Ok, I figured it out.

Because I have this in my config:

[code]

It did not create a `tlsHttpClient` in this piece of code but an `awsHttpClient`, where the `insecure` is ignored.

https://github.com/phillbaker/terraform-provider-elasticsearch/blob/c88de6531c4a6841d63a8179776b3b7be2e3e51d/es/provider.go#L211-L219

Final result:

[code]

[code]

I leave it up to you if you want to close this, or s

[2020-11-23 18:22] CumpsD commented on #83
Is it possible for an example on the syntax? Since it is not in the docs, trying to figure it out from the code, but it would be nice to be sure

[2020-11-23 18:26] CumpsD commented on #83
Nevermind...

[code]

[2020-11-23 19:58] phillbaker commented on #113
Ah, thanks. I'll take a look

[2020-11-23 20:00] phillbaker commented on #108
I'm going to close this for now, please re-open if the test case above is reproducible.

[2020-11-23 20:00] #108 closed

[2020-11-23 20:01] phillbaker commented on #111
tf apply -target = module.es_logs_dev -target = output.es_logs_dev_url

Yes, this sounds like a workaround, thanks for sharing.

[2020-11-23 20:01] #111 closed

[2020-11-23 20:03] phillbaker commented on #11
Pulling in from #111 for reference, this could probably be achieved by applying the underlying module first. E.g.:
[code]

[2020-11-23 20:16] phillbaker commented on #91
Closing for now, please reopen if this can be reproduced via a terraform resource and shared.

[2020-11-23 20:16] #91 closed

[2020-11-23 22:52] v3i1r4in opened #114 "Assume role credentials should use the profile passed in"
https://github.com/phillbaker/terraform-provider-elasticsearch/blob/9ae95fad41b2be18009051366bd27e738bd9322b/es/provider.go#L337

Should pass along the AWS profile here so that we can use a specific profile to assume a role.

[2020-11-23 22:56] phillbaker commented on #114
👋 thanks @v3i1r4in could that possibly explain https://github.com/phillbaker/terraform-provider-elasticsearch/issues/112 ?

[2020-11-23 23:02] phillbaker commented on #72
Added in deba366c1163d716a70065c03286c67b4e86f68f

[2020-11-23 23:02] #72 closed

[2020-11-23 23:04] phillbaker commented on #106
Hi @nothingofuse can you provide an update regarding the question above or provide a test case where the index fails? Please also clarify the version of terrraform, provider and ES version where you are seeing this.

[2020-11-23 23:11] v3i1r4in commented on #114
Not sure, I am getting `aws.Config.CredentialsChainVerboseErrors` which is different from what they got. They don't seem to be using assume role though.

[2020-11-24 00:17] phillbaker commented on #114
Can you clarify where the profile should be passed along, I don't see a spot to pass a profile in the docs:
https://docs.aws.amazon.com/sdk-for-go/api/aws/credentials/stscreds/#AssumeRoleProvider

https://github.com/phillbaker/terraform-provider-elasticsearch/blob/9ae95fad41b2be18009051366bd27e738bd9322b/es/provider.go#L304-L313

[2020-11-24 00:41] v3i1r4in commented on #114
I have no experience with go nor the go aws sdk, but following is my best guess of what might work:
[code]

[2020-11-24 09:50] nadavtsa opened #115 "create kibana alert/monitor"
Hi, I am a little new to terraform so maybe there is something I meissed but I can't understand how to create a kibana alert.

Can you add to the documentation (or send here) an example of how to create a kibana alert?

Thank you :)

[2020-11-24 16:34] phillbaker commented on #115
Are you using XPack Watches or OpenDistro Monitors?

On Tue, Nov 24, 2020 at 4:50 AM nadavtsa <notifications@github.com> wrote:

[2020-11-25 06:37] nadavtsa commented on #115
OpenDistro Monitors

[2020-11-25 16:47] phillbaker commented on #115
Will be on the terraform provider site in the next release, but for now can reference https://github.com/phillbaker/terraform-provider-elasticsearch/commit/91cd3abfa88648df872eb32f368167c6e51b728d

[2020-11-25 17:35] phillbaker commented on #112
In order to narrow down the issue, can you try the following steps:
1. hardcode the ES url in the provider block, e.g.:
[code]
2. explicitly pass aws access, secret keys and token, region if necessary via the provider block: https://registry.terraform.io/providers/phillbaker/elasticsearch/latest/docs#aws_access_key, similar to what was generated in your script

My guess is that there are slight di

[2020-11-27 16:22] phillbaker commented on #113
I've added the insecure check to the aws client in this commit: https://github.com/phillbaker/terraform-provider-elasticsearch/commit/f924ab6c1d061db238dd49fab7365df9b89f7c3c.

Thanks for the details on this.

[2020-11-27 16:22] #113 closed

[2020-11-27 16:23] phillbaker commented on #114
I've added the profile to be passed down to aws in this commit: https://github.com/phillbaker/terraform-provider-elasticsearch/commit/f924ab6c1d061db238dd49fab7365df9b89f7c3c, I'll have a beta release in the next day or so, would you be able to test it?

[2020-11-27 17:56] CumpsD commented on #113
Thanks!

[2020-11-27 19:38] v3i1r4in commented on #114
yeah, that's great! thanks!

[2020-11-28 17:59] #115 closed

[2020-11-28 18:28] phillbaker commented on #114
I've released https://registry.terraform.io/providers/phillbaker/elasticsearch/1.5.1-beta, could you give that a shot and confirm it's working?

[2020-11-28 20:37] v3i1r4in commented on #114
Yes! It worked as expected!

[2020-11-28 23:16] phillbaker commented on #114
Great, thanks for confirming.

[2020-11-28 23:16] #114 closed

[2020-11-29 12:17] ahmad-hamade commented on #112
Thanks, @phillbaker for your feedback.

I've ran `aws sts assume-role --role-arn <MY_CI_ROLE> --role-session-name default` to get the exported `AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY`, and `AWS_SESSION_TOKEN` environment variables in my pod and the terraform plan worked just fine.

I've noticed you've added a new provider variable `aws_assume_role_arn` in release `1.5.0` so I tried the followi

[2020-11-29 12:31] ahmad-hamade commented on #112
As a workaround, I've to run the following script before terraform and issue would be resolved:

[code]

[2020-11-30 03:44] phillbaker commented on #112
Looks very similar to the workaround suggested in this comment: https://github.com/hashicorp/terraform/issues/22992#issuecomment-580057668.

That issue was closed by https://github.com/hashicorp/aws-sdk-go-base/issues/33 and https://github.com/hashicorp/terraform/pull/25134 and references https://github.com/aws/aws-sdk-go/issues/3101.

I'll have to review the changes there, for now I would suggest

[2020-11-30 04:18] phillbaker commented on #112
@ahmad-hamade can you confirm that you've set the following environment variables in your pod:
* AWS_WEB_IDENTITY_TOKEN_FILE
* AWS_SDK_LOAD_CONFIG=1

[2020-11-30 11:21] ahmad-hamade commented on #112
@phillbaker yes the below are exists and added by default since I'm using [IAM Roles for Service Accounts (IRSA)](https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/) in EKS

[code]

[2020-11-30 11:32] ahmad-hamade commented on #112
Do you suggest me exporting `AWS_SDK_LOAD_CONFIG` and try again?

[2020-12-01 01:16] phillbaker commented on #112
Yes, please try it!

On Mon, Nov 30, 2020 at 6:32 AM Ahmad Hamade <notifications@github.com>
wrote:

[2020-12-02 23:22] Siddhant-Tiwari opened #117 "Error: Unsupported Argument "name" in elasticsearch_xpack_watch"
I am configure without the name argument but if I am trying to create a watch with a name, I get this:

**Error: Unsupported argument

  on goanywhere_watcher_pipeline.tf line 2, in resource "elasticsearch_xpack_watch" "GoAnywhereftp-error-watch":
   2:   name = "GoAnywhereftp-error-watch"

An argument named "name" is not expected here.**

[2020-12-04 05:22] ahmad-hamade commented on #112
As per your suggestion and the reported issue https://github.com/aws/aws-sdk-go/issues/2828, exporting `AWS_SDK_LOAD_CONFIG` must solve the issue to make `awsession.NewSessionWithOptions` support reading from web_identity_provider.

Unfortunately, I've tested that in my environment but it didn't help.

perhaps something being overridden to the below line which ignoring the behavior of reading the

[2020-12-04 05:43] ahmad-hamade commented on #112
So terraform AWS provider has fixed this issue by reading the shared credentials file which includes the current session token so maybe we can implement the same?

https://github.com/hashicorp/terraform-provider-aws/blob/bd828729b19030b366a64e4225eeb71e6d5eb0c2/vendor/github.com/hashicorp/aws-sdk-go-base/awsauth.go#L203

[2020-12-04 18:03] marcuz opened #118 "AWS Elasticsearch service: elasticsearch_xpack_index_lifecycle_policy always returns 401"
I consistently get (even opening up all permissions to terraform):

[code]

when trying to create the following resource on AWS ES service:

[code]

Creating the policy via Kibana works.

Is this to be expected in AWS ES?

[2020-12-05 17:39] phillbaker commented on #112
Thanks for the link, I'll take a look at the current session token.

[2020-12-05 17:42] phillbaker commented on #117
Hello, can you please include the following:
* terraform version
* provider version
* redacted version of the terraform resource configuration

[2020-12-05 17:49] phillbaker commented on #118
Hello, can you provide a redacted version of how you've configured the provider?

[2020-12-05 17:56] phillbaker commented on #56
Using curl this is done as `-H "Authorization: ApiKey $ECE_API_KEY"`, see https://www.elastic.co/guide/en/cloud-enterprise/current/ece-api-command-line.html

[2020-12-05 23:00] phillbaker commented on #118
Also to clarify, if this is a cluster running on AWS-managed elasticsearch service, it doesn't support xpack plugins. Trying to access xpack routes results in the http 401, see for example: https://github.com/elastic/beats/issues/8086

The similar OpenDistro plugins are usually available, see: https://github.com/phillbaker/terraform-provider-elasticsearch#opendistro

[2020-12-06 13:51] marcuz commented on #118
You are right, I apologise.

I'm using the AWS-managed ES service and assumed I could use `elasticsearch_xpack_index_lifecycle_policy`.

`elasticsearch_opendistro_ism_policy` should be the way to go, thank you!

[2020-12-06 13:51] #118 closed

[2020-12-06 22:28] phillbaker commented on #106
I'm closing this issue for now since no further details have been provided. If you can help write a test case or provide additional details, please reopen the issue.

[2020-12-06 22:28] #106 closed

[2020-12-06 22:29] phillbaker commented on #110
Fixed in https://github.com/phillbaker/terraform-provider-elasticsearch/commit/068a12c6fcf73bd9944814dfe4fcd25878ebe903

[2020-12-06 22:52] phillbaker commented on #112
After reading the code, it looks like one difference in configuration is that we're not sending a `SharedCredentialsProvider`, but that doesn't seem related to web identity credentials which are handled by the underlying AWS SDK Go.

@ahmad-hamade to clarify, based on the cluster URL you provide, it looks like you're using a VPC cluster. Can you confirm whether your access policies specify IAM use

[2020-12-06 23:33] ahmad-hamade commented on #112
Thanks @phillbaker for your further investigation.

I'm using AWS private ES cluster (accessible within my VPC resources) and my IAM role is allowed to connect, upload, and access indices.

To summarize what testing I've done so far:

1. My IAM role used in Pod has full access to my AWS ES private cluster
1. I'm using Web Identity Token in my K8s pod that is running in EKS (in the VPC where my ES

[2020-12-06 23:46] phillbaker commented on #112
Ah, quite right, I forgot about that.

Can you confirm if there's a `~/.aws/config` file on your pod that specifies a `web_identity_token_file` parameter?

[2020-12-07 00:09] ahmad-hamade commented on #112
No, there is no `~/.aws/config` exists in the pod.

The only environment variables injected by [EKS Pod Identity Webhook](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-technical-overview.html) are AWS_ROLE_ARN and
AWS_WEB_IDENTITY_TOKEN_FILE that has a path a file contains token value `/var/run/secrets/eks.amazonaws.com/serviceaccount/token`

[2020-12-07 02:42] phillbaker commented on #112
Well, here's what I see the code doing, which looks correct:

ES provider:

https://github.com/phillbaker/terraform-provider-elasticsearch/blob/068a12c6fcf73bd9944814dfe4fcd25878ebe903/es/provider.go#L211-L213

https://github.com/phillbaker/terraform-provider-elasticsearch/blob/068a12c6fcf73bd9944814dfe4fcd25878ebe903/es/provider.go#L360

https://github.com/phillbaker/terraform-provider-elasticsea

[2020-12-08 02:05] Siddhant-Tiwari commented on #117
Hi Phil,

-  Terraform v0.13.5
-  Provider Version "1.5.0"

Had a quick look at the code, there is no name in the watch schema. Just the watch_id and body:

![IMG-20200304-WA0013](https://user-images.githubusercontent.com/5431001/101429004-bf11e300-3966-11eb-8024-9f38bbe24aac.jpg)

[2020-12-08 02:26] phillbaker commented on #117
@Siddhant-Tiwari can you please include a redacted version of the terraform resource configuration (ie how you're configuring the elasticsearch_xpack_watch).

[2020-12-08 02:46] Siddhant-Tiwari commented on #117
Here you go:
resource "elasticsearch_xpack_watch" "watch_1" {
  watch_id = "watch_1"
  body = <<EOF
{
  "trigger": {
    "schedule": {
      "interval": "10m"
    }
  },
  "input" : {
    "search" : {
      "request" : {
        "indices" : [
          "filebeat*"
        ],
        "body" : {
          "query" : {
            "bool" : {
              "must" : {
                "match": {

[2020-12-08 02:55] phillbaker commented on #117
@Siddhant-Tiwari that's the example from the docs: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/49761c2871079f0412591084009829e4abb7cad5/docs/resources/xpack_watch.md#example-usage

Please include a redacted version of _your_ resource that's failing.

[2020-12-08 02:58] Siddhant-Tiwari commented on #117
`terraform {
  required_providers {
    elasticsearch = {
      source = "phillbaker/elasticsearch"
      version = "1.5.0"
    }
  }
}

provider "elasticsearch" {
  sniff = false
  url = "http://127.0.0.1:9200"
  username = ""
  password = ""
}

resource "elasticsearch_xpack_watch" "GoAnywhereftp-error-watch" {
  watch_id = "Oldman_Chee"
  body = <<EOF
{
  "trigger": {
    "schedule": {
      "in

[2020-12-08 21:31] john-delivuk-rl commented on #111
Created #119 to address

[2020-12-08 21:31] john-delivuk-rl commented on #63
Created #119 to address

[2020-12-08 21:31] john-delivuk-rl commented on #23
Created #119 to address

[2020-12-08 21:31] john-delivuk-rl commented on #11
Created #119 to address

[2020-12-11 02:53] alex-pravdin-sn opened #121 ""invalid character 'Y' looking for beginning of value" when trying to manage an ES instance"
I'm getting the following error when trying to create an index:

[code]

TF configuration is:
[code]

The `es_host` variable contains only the hostname without protocol and port.

The server is HTTP-only v5.6.

Am I doing something wrong?

[2020-12-11 03:36] phillbaker commented on #121
Hello, can you please include the following:
* terraform version
* logs from running terraform with  [TF_LOG=info](https://www.terraform.io/docs/internals/debugging.html)

[2020-12-11 04:43] alex-pravdin-sn commented on #121
TF version 0.14.0

[2020-12-11 04:56] alex-pravdin-sn commented on #121
No additional logs produced with TF_LOG=info

[2020-12-15 04:43] phillbaker commented on #102
One alternative to #93 is adding a new computed property that stores the returned json value from the API separately from the user input JSON, that'd allow tracking user changes separately from API defaults.

[2020-12-15 20:44] vijay-singh commented on #97
What was the resolution here? I'm seeing the same issue

[2020-12-15 20:45] vijay-singh commented on #103
What was the resolution? Having a similar issue

[2020-12-16 02:40] phillbaker commented on #103
@vijay-singh I've only seen this issue when using a terraform version less than 13.x. Since the registry is only supported on >= 13.x, please make sure you're using a version that supports it.

Otherwise please open a new issue including the following:
* terraform version
* provider version
* elasticsearch version
* redacted version of the terraform resource configuration
* terraform logs by setti

[2020-12-16 16:41] vijay-singh commented on #103
For me, solved by following the steps detailed here: https://discuss.hashicorp.com/t/upgrade-to-0-13-fails-looking-for-invalid-custom-provider/13770

I had a `required_providers` block in my root module, but also needed to add it to the submodule that was using this provider.

[2020-12-18 09:17] tzoratto opened #122 "Resources documentation"
Hello,

first, thanks for all the work on this provider. When we started using the ELK stack (with elastic cloud) last year we were disappointed to see there was no official terraform provider for it and this one didn't seem to be "ready for production" at that point. Today I see all the work all of you have pushed into it this year and thank you for that. Now we want to try and use it.

This issu

[2020-12-25 16:52] phillbaker commented on #122
I'm actually looking at using https://github.com/hashicorp/terraform-plugin-docs to generate the docs, hopefully that will fill in some of the gaps as well.

[2020-12-28 15:37] michelzanini opened #124 "Regression issue on 1.5.1"
After upgrading to `1.5.1` I am getting the following error:

[code]

It could be related to `aws_assume_role_arn` as I use it on my provider config:

[code]

It only seems to happen if I use `aws_assume_role_arn` and it does not when I use `aws_profile`.
I am using Elasticsearch 7.9.

Reverting back to `1.5.0` and the error disappears.

I see there's significant changes done in this PR https://gi

[2020-12-28 21:42] john-delivuk-rl opened #126 "Provider Doesn't Respect password changes."
We lost the state for our password generated by `random_password`. When the next run happened, there were no changes made to the user. This may be an edge case, but definitely no bueno. I'll dig in tonight to see if I can resolve, but I wanted to log an issue here.

As a work around, taint your resource before running an apply.

[2020-12-29 02:24] phillbaker commented on #124
Hello, sorry to hear you're having issues. It sounds like this might be related to https://github.com/phillbaker/terraform-provider-elasticsearch/commit/f924ab6c1d061db238dd49fab7365df9b89f7c3c.

Thanks for providing details and an example provider config.

I'm not quite following here, are you saying that a different provider config does work in v1.5.1? (Can you share/clarify examples?)

[2020-12-29 02:29] phillbaker commented on #126
Hi @john-delivuk-rl, sorry to hear you had an issue. I'm not quite following what happened here, can you provide an example terraform config to clarify what resources were being used? (xpack or opendistro user?)

Was this data loss related to this provider or was local/remote state was removed?

[2020-12-29 05:45] john-delivuk-rl commented on #126
Sorry for being vague, it was a busy day.
[code]
We were moving state to reconcile a part of our Infra as code, lets call them State KEEPIT, and State TRASH. We updated our state by doing imports into KEEPIT for the resources that were created in TRASH.  We skipped importing `random_password.password` because we assumed when the new password was generated, we would see it get updated in the downst

[2020-12-29 05:51] john-delivuk-rl commented on #126
Looks like mysql hashes the password to compare the values on subsequent runs, if you're good with it I can throw together a PR.

https://github.com/terraform-providers/terraform-provider-mysql/blob/master/mysql/resource_user.go#L38

[2020-12-29 12:04] michelzanini commented on #124
I use Terragrunt to write a different Terraform file depending if I am on a CI environment or on a laptop.

When on a laptop, this is the config I use:

[code]

When on CI env, this is the one I use:

[code]

On a laptop, it uses `aws_profile`. On CI server, it uses `aws_assume_role_arn`.
On `1.5.0` both config files work.
On `1.5.1`, it seems only the laptop with `aws_profile` works.

[2020-12-30 03:44] phillbaker commented on #126
@john-delivuk-rl thanks for the details.

Yes, hashing the password for subsequent comparison does make sense. We currently only diff it on create:
https://github.com/phillbaker/terraform-provider-elasticsearch/blob/b6219618248d7dc93c8cb72af5ef7967b1daafa6/es/resource_elasticsearch_xpack_user.go#L53
https://github.com/phillbaker/terraform-provider-elasticsearch/blob/b6219618248d7dc93c8cb72af5ef796

[2020-12-30 03:46] phillbaker commented on #124
Thanks @michelzanini. Any chance the CI is running on EKS (https://github.com/phillbaker/terraform-provider-elasticsearch/issues/112)?

[2020-12-30 12:42] michelzanini commented on #124
No, it's running on a standard ec2 instance

[2021-01-01 06:11] petrukngantuk commented on #108
hello @phillbaker @tjbaker , I experience this case, but already fixed with json example you mentioned above,
but I experienced strange error,
the index pattern showed up in the kibana dashboard, but when I click it, it didn't go to the details,
check in the inspect element, got error like this :

[code]

but when I created the same config from kibana dashboard directly it's working as expected, i

[2021-01-06 00:03] Gowiem opened #127 "invalid character '<' looking for beginning of value -- Error on v1.5.1"
## Info

I'm just trying out this provider for the first time. I have it configured as so:

[code]

I'm using v1.5.1 of the provider and I've also tried out v1.5.0 of the provider -- Neither seem to be doing the trick. I'm continually getting the following error:

[code]

The output with `TF_LOG=1` does not provide any further useful error information.

I am able to copy and paste the policy share

[2021-01-06 00:03] Gowiem commented on #127
@phillbaker any suggestions on how I can debug this further?

[2021-01-06 16:27] Delorien84 commented on #124
I can confirm that `aws_assume_role_arn` is not working on `1.5.1`. It is running on EC2 instance with IAM role attached to that instance.

When I turn off `healthcheck` the execution block indefinitely .

My configuration is very similar:

[code]

[2021-01-07 13:22] lifeofguenter commented on #124
For us we use `aws_profile` but it stopped working with `1.5.1`:

[code]

however, our profile looks like this:

[code]

works fine on `1.5.0`

[2021-01-09 00:16] Gowiem commented on #127
@phillbaker I looked into this further and tried to debug the provider locally by building it myself and adding additional logging. I was able to add additional logging, but I wasn't able to get the resulting response from the error'd out request. I tried adding a logger to the elastic go module like so but I wasn't able to get that to provide any additional logging... Have you done that before? A

[2021-01-09 00:20] Gowiem commented on #127
Ahh geez -- I figured this out. I was using `http://` instead of `https://` for my localhost URL.... changing that fixed it. Wow, what a fun rabbit hole over a 1 character change. I think this would be a great place to add a better error message for helping poor saps like me to debug provider configuration issues.

[2021-01-09 02:04] phillbaker commented on #124
Sorry for the delay here, I've reverted part of f924ab6c1d061db238dd49fab7365df9b89f7c3c and tagged a v1.5.2-beta (https://github.com/phillbaker/terraform-provider-elasticsearch/tree/v1.5.2-beta). That should get pushed to terraform registry shortly. Can you all please give that try and let me know if this is resolved?

[2021-01-09 02:08] phillbaker commented on #127
@Gowiem sorry to hear that you had issues here. This may be related to the recent refactor in https://github.com/phillbaker/terraform-provider-elasticsearch/pull/119.

I'll retitle this issue to focus on the fact that the error message wasn't clear.

[2021-01-10 23:48] phillbaker commented on #126
@john-delivuk-rl are you still thinking of pulling this into a PR?

[2021-01-11 18:55] john-delivuk-rl commented on #126
Sorry been a bit tied up. I'll try to knock this out by Wednesday. Also I see a few bugs might have popped up from my previous changes. Let me know if you need a hand.

[2021-01-11 23:46] mrudrara commented on #82
@benyitzhaki did you resolve the issue. i am in same boat wondering if you can share

[2021-01-12 03:16] phillbaker commented on #82
@mrudrara please see the manual installation instructions in the README: https://github.com/phillbaker/terraform-provider-elasticsearch#installation

[2021-01-12 03:52] phillbaker commented on #124
Hello, following up on this. Has anyone been able to try `v1.5.2-beta`?

[2021-01-12 09:55] lifeofguenter commented on #124
On our side it did not fix the issue unfortunately:

[code]

[2021-01-14 12:18] desi-desi opened #128 "elasticsearch_xpack_role does not detect when a space privilege entry was removed"
I successfully created the following role. Then I removed the whole space privilege entry from the role using kibana in the browser. Now running terraform plan or terraform apply does not recognize the change and thinks everything is up to date. I reckon that's a bug?

[code]

Many thanks for all the work you put into this project.

[2021-01-15 11:03] BenediktB opened #129 "elasticsearch_opendistro_role throws error 500 while creating a new role"
Currently i am facing some problems while deploying new roles in Elasticsearch OpenDistro.
As far as i understand the error mainly happens when things get deployed to fast. If i deploy the stack again it usually does not happen again. Only for the first creation of a role.

My terraform code looks like:

[code]

Terraform output is:

[code]
Versions:
- Terraform: 0.12.26
- Provider 1.5.2-beta
- El

[2021-01-15 20:00] john-delivuk-rl commented on #126
Hey @phillbaker Working on this now. For `password` and `password_hash` do we want to deprecate either of these? I think it makes sense to use `password` or `plaintext_password` and deprecate `password_hash`.

[2021-01-15 21:22] yardbirdsax opened #131 "Add a new resources for Anomaly Detection in Opendistro"
I would love to see this provider enabled to create and manage resources around Anomaly Detection, namely a Detector. I would imagine the resource might look something like this.

[code]

You could also split out the various parts of the body into different blocks / arguments, but I kept it simple since that appears to be the general pattern for the rest of the resources in this provider.

[2021-01-16 02:45] yardbirdsax commented on #131
I may have a working solution for this, but need to test more before I submit the PR as I'm admittedly a Go newb. 😄

[2021-01-16 18:31] phillbaker commented on #126
For now I think it's fine to keep them both as you have in your PR, thanks. I think `password_hash` matches the API?

[2021-01-16 18:50] phillbaker commented on #88
Going to close this as composable templates were added in #120. Component templates support is being tracked upstream in https://github.com/olivere/elastic/issues/1414, a new issue can be opened to support that when upstream support is added.

[2021-01-16 18:50] #88 closed

[2021-01-16 18:54] phillbaker commented on #117
I'm going to close this as I can't reproduce any issues with a `name` attribute, see tests on CI above. The tests failed because the watch response had additional attributes in it so there was a diff, but it was created.

[2021-01-16 18:55] #117 closed

[2021-01-16 19:10] phillbaker commented on #131
Hi @yardbirdsax, thanks for opening an issue, this sounds like a good idea! Looking at the docs, it seems like a regular [open distro monitor](https://opendistro.github.io/for-elasticsearch-docs/docs/ad/api/#create-monitor) is used to alert on these?

There are a couple of disadvantages to just using the `name`/`body` attributes (see https://github.com/phillbaker/terraform-provider-elasticsearch/i

[2021-01-16 19:16] phillbaker commented on #121
@alex-pravdin-sn sorry for the slow response here, this looks very similar to the issue reported in https://github.com/phillbaker/terraform-provider-elasticsearch/issues/127#issuecomment-757059334, did you need to use `https` instead of `http`?

[2021-01-16 19:59] phillbaker commented on #128
Thanks for reporting.

This looks similar to the issue reported in https://github.com/phillbaker/terraform-provider-elasticsearch/issues/65#issuecomment-647027100, the issue there was actually with the upstream elastic library. I'll take a look to see if there's something similar going on here.

[2021-01-16 20:04] phillbaker commented on #129
Hi @BenediktB, thanks for opening an issue, can you please include the following:
* terraform version
* provider version
* elasticsearch version
* redacted version of the terraform resource configuration
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

After a quick look, it doesn't seem like this is an issue with the provider, but with the elast

[2021-01-16 20:07] phillbaker commented on #124
Thanks. I reverted the upgrade of the AWS client and released `v1.5.2-beta1`, can folks on this thread give that a try and update here?

[2021-01-17 18:31] yardbirdsax commented on #131
Ah yes, now that I see the direction of the codebase is to move away from the "raw body" approach I agree that it'd be better to split this out (with the exception of a few places; for example the "filter_query" section is probably still best expressed as regular JSON since we don't want to get into duplicating Elasticsearch DSL in HCL). It will be more of a challenge to my fledgling Go skills but

[2021-01-18 07:30] BenediktB commented on #129
Thank you for your response.
We already tried setting -parallelism=1 but this won't fix the issue we have either. We also tried settigns the dependencies properly so that only ressource is created. This will fix most errors, but sometimes they randonly occur again.

Currently we don't do anything with the cluster and just deployed it on AWS with terraform.
Once i can run our pipeline again i will

[2021-01-19 15:35] sejbot opened #133 "elasticsearch_composable_index_template does not work with Elasticsearch 7.10"
When I try to create an elasticsearch_composable_index_template resource in an Elasticsearch 7.10 cluster but I only get an error message: "index_template endpoint only available from ElasticSearch >= 7.8, got version 7.10.0"

I think the problem is in file resource_elasticsearch_composable_index_template.go, line 62.

Here are line 59  - 67:
`
case *elastic7.Client:
version, err = elastic7GetVers

[2021-01-20 04:24] phillbaker commented on #133
@sejbot thanks for opening an issue, that diagnosis looks right! I'll take a look to see if I can fix this quickly.

[2021-01-20 05:09] phillbaker commented on #121
I'm going to close this issue for now to consolidate, please re-open if there are further details.

[2021-01-20 05:09] #121 closed

[2021-01-22 02:48] #133 closed

[2021-01-26 09:58] sergkondr commented on #126
Hello! I've faced this issue too. Do you have any updates?

<details>
<summary>My terraform code</summary>

[code]
</details>

[code]
Opendistro for Elasticsearch on AWS

[2021-01-26 14:27] Kronk74 opened #135 "Filebeat pipeline - YAML to JSON error"
Hi,

With filebeat version 7.4.0, it was possible to push modules pipelines with json from git repo:
https://github.com/elastic/beats/tree/7.4/filebeat/module/elasticsearch/server/ingest

But with version 7.10.2, only yaml file are available :
https://github.com/elastic/beats/tree/7.10/filebeat/module/elasticsearch/server/ingest

I tried to use yamldecode to replace by the new one but it seems not

[2021-01-27 13:24] imriz opened #136 ""elasticsearch_index_template" keeps wanting to change "order""
Hi,

We're using layered templates, but it seems the provider won't respect the "order" value.
It shows this change every run:
[code]

[2021-01-28 21:47] tjbaker opened #137 "strict_dynamic_mapping_exception with elasticsearch_kibana_object and visualization"
AWS ES 7.9 with Kibana 7.9.1

Can't create a visualization

Error: elastic: Error 400 (Bad Request): mapping set to strict, dynamic introduction of [kibanaSavedObjectMeta] within [_doc] is not allowed [type=strict_dynamic_mapping_exception]

[code]

[2021-01-30 17:20] phillbaker commented on #135
This is more of a general terraform question than a question specific to this provider.

The body needs to be json, so you could probably try something like `body = jsonencode(yamldecode(file(...)))`, I haven't tried it myself though :).

[2021-01-30 17:22] phillbaker commented on #136
Hello, can you please include the following:
* terraform version
* provider version
* elasticsearch version
* redacted version of the terraform resource configuration
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2021-01-31 10:17] imriz commented on #136
Hi, thank you for you reply:

- terraform version: 0.13.5/0.13.1
- provider version: 1.5.0
- elasticsearch version: 7.9.1 (AWS ElasticSearch)
- redacted version of the terraform resource configuration:
[code]
- terraform logs by setting TF_LOG=info:
attached
[tf.log](https://github.com/phillbaker/terraform-provider-elasticsearch/files/5899514/tf.log)

[2021-02-04 16:29] Munkfeister opened #138 "AWS Custom Endpoint Support"
AWS provider support doesn't allow you to use a custom endpoint for the AWS ElasticSearch instance.

https://github.com/phillbaker/terraform-provider-elasticsearch/blob/116c9ff6da0d481881aa687d3e7bb2e03fdcfcd4/es/provider.go#L28

This line 'auto detects' whether to use AWS credentials to connect to the ElasticSearch instance.  However, this means it doesn't support the use of a custom endpoint.

S

[2021-02-04 21:34] mrtnfchs opened #140 "Failed to create index patterns via elasticsearch_kibana_object resource"
Our existing implementation is using the `elasticsearch_kibana_object` resources to create index patterns as part of the initial setup of the AWS ElasticSearch managed service. We plan to enable `advanced_security_options` and make use of the `internal user database` functionality. In order for this provider to work with these advanced security options we've extended the provider details as follow

[2021-02-05 14:28] wernerb commented on #133
@phillbaker would you mind cutting a release as it breaks functionality that was already in use. Or is there an alpha build that tracks master we can use ?

[2021-02-08 03:30] phillbaker commented on #124
Hi all, following up on this, has this been fixedin 1.5.2-beta1?

[2021-02-08 03:31] phillbaker commented on #135
Hi @Kronk74, I'm going to close this issue, please re-open if there are provider specific issues.

[2021-02-08 03:31] #135 closed

[2021-02-08 03:33] phillbaker commented on #138
Hi @Munkfeister thanks for opening an issue, are you setting any of the other `aws_*` attributes on the provider?

[2021-02-08 13:58] Kronk74 commented on #135
Hi @phillbaker

Sorry for my late answer but I finally find a way to do it.

[code]
You must create a local variable on which you do `yamldecode`. After that, use `jsonencode` in body resource.

Tested with terraform 0.13 but I think with later version it will work also.

I hope this little tips will help someone 👍

Best regards,

Thomas

[2021-02-09 00:36] phillbaker commented on #133
Released I've released the latest: https://github.com/phillbaker/terraform-provider-elasticsearch/releases/tag/v1.5.2

[2021-02-09 10:32] wernerb commented on #133
Hey @phillbaker thank you very much!

[2021-02-09 14:52] Munkfeister commented on #138
Hello!  Not explicitly, no.  I currently rely on environment variables to populate those values as I'm trying to use it in a CI/CD pipeline which contain those values already.  However, just looking through your provider code again, I can see now that I could explicitly specify an aws_region for using a custom endpoint url.  Is that correct?

[2021-02-10 11:35] volym3ad commented on #102
any updates here? Does this plan to be fixed in #93 or separately?

[2021-02-11 18:51] tanalan opened #141 "Possible to update an index template's settings after creation ?"
Hi,

I'm using terraform to manage an AWS Elasticsearch cluster.
Terraform v0.13.5 and v1.5.0 of this terraform-provider-elasticsearch.

Is there a way to update an index template's settings after creating it?
I am excluding the mappings/properties type as I believe that Elasticsearch doesn't allow this (we'd have to re-index or create a new index).

For example, if I initially have
[code]

Would

[2021-02-12 15:18] bjfish25 opened #142 "Possible to Upload Saved Object to Specific Tenant of Elasticsearch"
On my aws elasticsearch cluster version 7.9 with multiple tenants, saved objects created with this provider are created on the global tenant.

I was curious if it would be possible to create a saved-object on a custom tenant using this provider?

[2021-02-12 20:17] bnelson729 opened #143 "On index_not_found_exception, just create the index"
When you receive a `Error: elastic: Error 404 (Not Found): no such index [logs] [type=index_not_found_exception]` during the refresh, you shouldn't error out the terraform plan. Other providers will just take that as a sign that the resource needs to be created.

[2021-02-13 23:12] phillbaker commented on #129
Hi @BenediktB, if you have dependencies between different resources, then you will need to either declare them explicitly or construct your dependencies so that the relationships determine order.

Since this 500 response comes from the cluster, I would encourage you to file a bug on the relevant upstream opendistro project or ask in their support forums - this doesn't seem like an issue with the p

[2021-02-13 23:12] #129 closed

[2021-02-13 23:17] phillbaker commented on #137
Hi @tjbaker, there's an example in the test suite that runs against 7.9.3 (as of now) successfully: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/116c9ff6da0d481881aa687d3e7bb2e03fdcfcd4/es/resource_elasticsearch_kibana_object_test.go#L245-L264

Perhaps there's a timing issue here? This also came up in https://github.com/phillbaker/terraform-provider-elasticsearch/issues/87 a

[2021-02-13 23:27] phillbaker commented on #141
Hi @tanalan, the `elasticsearch_index_template` resource is only used to create indices, not update them later.

In the code for the of the `elasticsearch_index` resource which can update indices, there's a distinction between settings that cannot be changed after creation (static) and those that can be updated (dynamic) - this is based on elasticsearch limitations: https://github.com/phillbaker/t

[2021-02-13 23:29] phillbaker commented on #142
Hi @bjfish25, can you link to documentation for how this would be done with the underlying elasticsearch API? Assuming it's possible via the API, it would be possible to add in the provider. Can you share an example resource configuration and how the tenant might be configured?

[2021-02-13 23:30] phillbaker commented on #143
HI @bnelson729 can you clarify what resource this is impacting? Is it `resource_elasticsearch_index`?

[2021-02-13 23:32] phillbaker commented on #124
HI all, 1.5.2 has been released, I'm going to close this as fixed - I don't have a way to reproduce, so I can't test directly. Please re-open if there are further issues.

[2021-02-13 23:43] tanalan commented on #141
Gotcha, thank you for confirming, @phillbaker ! It'd be great to have more settings added in the future (:
That said, I'll close this issue, thank you again!

[2021-02-13 23:43] #141 closed

[2021-02-14 00:14] phillbaker commented on #138
Hi @Munkfeister that's correct, either should opt into the AWS request signing: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/master/es/provider.go#L248-L253

Did this end up working for you? How could we document this more clearly?

[2021-02-15 01:46] phillbaker commented on #138
This is in fact already documented in the `aws_region` parameter: https://registry.terraform.io/providers/phillbaker/elasticsearch/latest/docs#aws_region

I'll add a note in the section about AWS auth as well.

[2021-02-15 01:47] #138 closed

[2021-02-18 13:02] #126 closed

[2021-02-18 20:18] bjfish25 commented on #142
Hi @phillbaker thanks for the response. I'm not sure exactly where on the olivere/elastic thus adding tenants as an enhancement may have to include them.

See https://opendistro.github.io/for-elasticsearch-docs/docs/security/access-control/multi-tenancy/#manage-kibana-indices

Indices would be saved on a different .kibana index
[code]

[2021-02-19 04:04] phillbaker commented on #142
Hi @bjfish25, this PR https://github.com/phillbaker/terraform-provider-elasticsearch/pull/144 adds support for creating kibana tenants in opendistro. It seems like you should be able to use that resource and just setting the index (as is already possible) in the `kibana_object_resource`? What do you think?

[2021-02-19 16:11] bjfish25 commented on #142
Thanks @phillbaker . thanks for the [index reference](https://github.com/phillbaker/terraform-provider-elasticsearch/blob/dc185f13240eee33703e93045aee917464cc4e6f/es/resource_elasticsearch_kibana_object.go#L59) completely missed that.

I think #144 is really promising but I think a little bit more is needed for this for something done other than manual, I think this may be a opendistro limitation

[2021-02-21 06:07] tdmalone opened #145 "'error creating role mapping' while trying to create an opendistro_role"
With the following code:
[code]

and the following plan:
[code]

I receive the error:
[code]

(Note how it's referring to a 'role mapping' possibly called 'elastic' - I'm not trying to create any mappings yet, just the role itself).

With `TF_LOG=DEBUG`, the relevant portion doesn't appear to shed much more light:
[code]

This is on Terraform v0.12.29, with the v1.5.3 of this provider installed fr

[2021-02-21 06:10] tdmalone commented on #145
Also forgot to include - Elasticsearch 7.9 (via Amazon Elasticsearch Service), running R20210201 (the latest release).

[2021-02-22 10:41] tdmalone commented on #86
@ngamber I'm experiencing this problem too, with the same resource. Deleting and re-creating might be a workaround (assuming Elasticsearch allows you to delete an ISM policy that's already attached to an index - I haven't got that far yet), but it's not really a solution. Are you happy to reopen this issue?

[2021-02-22 11:33] tdmalone commented on #86
Actually - now that I've applied the policy to an index, I _can_ make updates to it in Terraform. So possibly this is an issue with unapplied policies only? In which case - I guess the workaround works, but it's still not quite how Terraform is meant to work.

[2021-02-22 22:22] ngamber commented on #86
That was our "workaround," to create them without using this provider, then use it to update them after the fact.

[2021-02-23 03:03] phillbaker commented on #145
Thanks for including details.

I think this is just a typo in the error handler: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/99ec07b466a9c0be39067eabe3d2222a91db54a6/es/resource_elasticsearch_opendistro_role.go#L311

The http400 seems likely to be from how we're serializing the role to json, I'm curious if it's related to https://github.com/phillbaker/terraform-provider-ela

[2021-02-23 03:06] phillbaker commented on #143
@bnelson729 can you clarify how this happened?

Was an index created using the resource, deleted out of band, and then the resource refreshed?

[2021-02-23 17:32] mpereira commented on #136
I'm seeing this too.

| | |
|-|-|
| Terraform | v0.13.5 |
| terraform-provider-elasticsearch | v1.5.3 |
| AWS Elasticsearch | 7.9.1 |

**Terraform resource**
[code]

[2021-02-25 03:35] tdmalone commented on #145
I'm really sorry, I gave you a bum steer on this one.

When going to download an older version to test as you suggested, I realised... we weren't downloading from `master` at all, but were pinned to v1.4.1 (due to some difficulty with our watches returning large diffs after that version). Our pinning was done in a shell script that downloaded the provider using `go get`, given that we're not on TF

[2021-02-25 03:35] #145 closed

[2021-02-26 16:38] yotsapon opened #146 "error creating xxxx: elastic: Error 403 (Forbidden)"
I am trying to use terraform to create tenant project, role and ISM policy. But I got this error when trying to apply. I use basic auth method user/pass for accessing AWS Elasticsearch (VPC).
Provider config
![image](https://user-images.githubusercontent.com/46857257/109327669-2adf5a00-788b-11eb-90c7-06a0ca17fc1a.png)

Error
![image](https://user-images.githubusercontent.com/46857257/109328093-a3d

[2021-02-27 14:26] phillbaker commented on #145
No problem @tdmalone.

For what it's worth, there are also binaries published with each release if that makes things easier to test, e.g.: https://github.com/phillbaker/terraform-provider-elasticsearch/releases/tag/v1.5.3. That would avoid any compilation and just let you put the binary into the right spot.

[2021-03-01 03:02] phillbaker commented on #146
Hi @yotsapon does this happen for only the elasticsearch_opendistro_kibana_tenant resource, or does it happen for other resources? Do you get this error if you plan or just on apply?

[2021-03-02 08:45] yotsapon commented on #146
Sorry for late reply. It happens for other resources as well. The error comes out when apply it.

[2021-03-03 12:55] Kronk74 opened #147 "Ignore_changes doesn't work on user password - elasticsearch_xpack_user"
Hello,

When I create user like below, each time I add/modify a role, password is reset :

[code]

Do I made a mistake or there is a bug somewhere ?

Best regards,

Thomas

[2021-03-04 21:24] mrtnfchs opened #149 "Assume role configuration doesn't seem to work"
Hi all

I'm trying to configure this `phillbaker/elasticsearch` Terraform provider `v1.5.3` to assume an instance role to get an AWS identity so I can launch Terraform via one of my build agents. Unfortunately I'm getting a `health check timeout` and `request context canceled caused by: context deadline exceeded: no Elasticsearch node available` regardless what I try (eg: explicitly providing regi

[2021-03-06 01:47] yogsoft opened #150 "Role resource import crashing"
Below command is crashing in v1.5.3 and v1.5.2, however it works in v1.5.1.

Older version (v1.5.1) cannot be used because it lack document level security in role source and tenant resource is missing.

terraform import elasticsearch_opendistro_role.writer logs_writer

Environment:
Opendistro 7.8
Terraform 14

Role JSON:
[code]

Logs:
[code]

[2021-03-06 04:27] phillbaker commented on #150
Hi @yogsoft can you include the logs of the crash and the JSON representation for the opendistro role?

[2021-03-06 04:35] phillbaker commented on #149
Hello, is this using Web Identity Tokens or EKS's IRSA? If so, please see https://github.com/phillbaker/terraform-provider-elasticsearch/issues/112.

Otherwise, this maybe similar to https://github.com/phillbaker/terraform-provider-elasticsearch/issues/114, however, the fix for that may have been related to the regression in https://github.com/phillbaker/terraform-provider-elasticsearch/issues/124

[2021-03-06 04:38] phillbaker commented on #147
Hello, thanks for the bug report.

This was recently updated in  https://github.com/phillbaker/terraform-provider-elasticsearch/pull/132, can you try version 1.5.3 of the provider and see if that fixes the issue?

[2021-03-06 15:47] yogsoft commented on #150
@phillbaker added role json and crash logs.

[2021-03-06 18:01] #143 closed

[2021-03-06 19:59] volym3ad opened #151 "Support opendistro ISM policy for ES v6.8"
Hello,

I see that resource for opendistro ISM policy support only elasticsearch version 7.

https://github.com/phillbaker/terraform-provider-elasticsearch/blob/master/es/resource_elasticsearch_opendistro_ism_policy.go#L158-L172

However, ISM is supported starting from version 6.8 in AWS ES (which opendistro actually). https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/ism.htm

[2021-03-06 22:19] #150 closed

[2021-03-06 22:26] phillbaker commented on #122
This should be complete, please open additional, specific issues or pull requests if you see any thing else missing!

[2021-03-06 22:26] #122 closed

[2021-03-06 22:29] phillbaker commented on #86
@ngamber @tdmalone can you include a simple terraform configuration file that reproduces this issue?

[2021-03-07 15:25] yogsoft commented on #150
@phillbaker thank you for the fix. Any idea this will be released to terraform registry?

[2021-03-09 09:24] Kronk74 commented on #147
Hello,

Thanks new version solved my problem :)

It doesn't work when user is modified first time (I think because passwords is saved into state file at this time) but it works second time.

Thanks :)

[2021-03-09 09:24] #147 closed

[2021-03-11 10:24] clifford-sanders opened #153 "Error 400 (Bad Request) when using hashed passwords"
When I try to create an user with a hashed password like this

[code]

`terraform plan` correctly determines the change

[code]

But when I `terraform apply` I get this error

[code]

When I add `TF_LOG=DEBUG` I get

[code]

I can create users, when I use cleartext passwords.

I'm using version 1.5.3 with Terraform v0.12.29 on OFDE 1.12

[2021-03-11 13:45] clifford-sanders opened #154 "Error 500 (Internal Server Error) when trying to create more than one user"
When I try create multiple users like this

[code]

`terraform plan` correctly determines the change

[code]

But when I execute `terraform apply` only on user gets created and I get this error

[code]

I get the same error when I try to create the users like this

[code]

I'm using version 1.5.3 with Terraform v0.12.29 on OFDE 1.12

[2021-03-11 14:52] cedef opened #155 "Create Kibana "Alerts and Actions""
Hi,

First, thank you for your work on that provider.
My question is close but different from #115

I would like to know if it's possible to manage "Alerts and Actions" (and Connectors maybe ?) (using the following [API](https://www.elastic.co/guide/en/kibana/7.11/alerts-api.html)) with `elasticsearch_kibana_object` resource ?

Or is there another resource that I can use to manage alerts objects ?

[2021-03-11 19:54] Stratouklos commented on #146
If you are using the internal user DB (which it looks like you do) try setting `sign_aws_requests = false`. That did the trick for me.

[2021-03-12 07:40] tompierce opened #156 "Can't use Basic Auth on AWS"
I'm using terraform 0.14, AWS ES (v7.9) and have enabled Fine Grained Access Control like so :

[code]

I can hit the ES API with curl basic auth fine:
[code]

But when trying to set up a role mapping using the provider:

[code]

I get the following error:

[code]

Do I still need to provide AWS creds when using basic auth?

[2021-03-12 12:55] sejbot opened #157 "When elasticsearch_xpack_user is updated, the password is set to the hashed value"
Provider version: 1.5.3
Terraform version: 0.14.6

We noticed this behaviour after upgrading to provider version 1.5.3 where the password is hashed in the state file.

When creating the user, the supplied password is used for the elasticsearch user. But when updating the user (i.e adding role or something else) the password is set to the hashed value instead.

This is severe since the user cannot

[2021-03-14 03:15] phillbaker commented on #155
Hello! This sounds like a great addition, to the provider. It looks like these are replacing Xpack Watches for the elastic provided alerting solution, so a specific resource makes sense.

[2021-03-14 03:20] phillbaker commented on #156
This likely depends on where you are running terraform. If you're running terraform from the same location where `curl` worked without AWS authentication, then no. The provider automatically detects AWS ES domains, if you need to turn off that functionality, [`sign_aws_requests`](https://registry.terraform.io/providers/phillbaker/elasticsearch/latest/docs#sign_aws_requests), can be set to false.

[2021-03-14 11:15] rudrob opened #158 "[elasticsearch_opendistro_destination] sns type vanishing from state on refresh"
I'm using sns_alerts_destination  but seemingly it is created each time that apply is run. Perhaphs it's something about api not returning object because it seems to happen that it is removed each time from state on refresh being run. This results in multiple destinations being created - each time for apply run

example of erroneous working
**terraform state list**
data.terraform_remote_state.main

[2021-03-14 19:07] phillbaker commented on #157
Hi @sejbot thanks for opening the issue and providing the reproduction. I'll take a look at this.

[2021-03-14 21:46] phillbaker commented on #146
Hi @yotsapon can you confirm if the above workaround works for you? If so, I'll go ahead and close this issue.

[2021-03-14 21:47] phillbaker commented on #158
Hello, can you please include the following:
* terraform version
* provider version
* elasticsearch version
* redacted version of the terraform resource configuration
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2021-03-14 22:09] phillbaker commented on #154
Hi @clifford-sanders thanks for opening an issue. This seems similar to the report here: https://github.com/phillbaker/terraform-provider-elasticsearch/issues/129.

I was able to reproduce this in a test here: https://github.com/phillbaker/terraform-provider-elasticsearch/runs/2108205592?check_suite_focus=true#step:12:2457

With the error response being:
[code]

This seems to be a race condition,

[2021-03-15 13:55] tompierce commented on #156
Thanks @phillbaker - That's moved me on a bit further, I think? But I'm now currently getting a mysterious "context deadline exceeded" error:

[code]

My provider config is still similar (the same error with healthcheck true/false):
[code]

[2021-03-15 14:22] tompierce commented on #156
Actually, setting `insecure = true` (in combination with `sign_aws_requests = false` seems to have worked...

I'm quite keen to have `insecure = false`, but I should probably go back to the documentation and ask a different question.

Thanks for the help!

[2021-03-16 11:29] #156 closed

[2021-03-16 14:17] clifford-sanders commented on #154
Contrary to #129 adding `TF_CLI_ARGS_apply=-parallelism=1` helps in my case.

[2021-03-17 01:26] #157 closed

[2021-03-17 01:29] phillbaker commented on #149
Hi @mrtnfchs following up on this, can you provide any further details on this?

[2021-03-17 02:11] phillbaker commented on #153
Hello, how was this hash generated? Is it a valid hash generated by the provided script at https://github.com/opendistro-for-elasticsearch/security/blob/main/tools/hash.sh?

[2021-03-17 03:31] phillbaker commented on #86
If the root cause of the failure here is the HTTP 409 on the ISM policy, it seems similar to https://github.com/phillbaker/terraform-provider-elasticsearch/issues/154, where we'll need to implement a retry in the provider to handle version conflicts. That issue was also worked around by using a `-parallelism=1`, @ngamber @tdmalone can either of you try that flag to confirm whether that solution is

[2021-03-17 07:21] clifford-sanders commented on #153
Yes. I created the password with that script. I also used one from a dump I created with the `securityadmin.sh` script.

[2021-03-17 13:02] pinglin opened #159 "elasticsearch_composable_index_template misjudges change in ES 7.11.2 for data_stream field"
When using resource `elasticsearch_composable_index_template` with Elasticsearch 7.11.2, `terraform apply` always says to change these three fields:
[code]
, even the previous apply has succeeded.

The `data_stream` field is necessary for indicating the use of data stream for the index template.

[2021-03-18 03:22] phillbaker commented on #150
Just tagged 1.5.4

[2021-03-18 18:39] rudrob commented on #158
tf version 0.14.7
provider version 1.5.3
elasticsearch version 7.9

relevant resource from configuration
[code]

the only thing relevant in terraform logs seems to be:
[code]

[2021-03-19 02:19] phillbaker commented on #159
Hello, can you please include the following:
* terraform version
* provider version
* redacted version of the terraform resource configuration
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2021-03-19 22:25] pinglin commented on #159
- terraform version
v0.14.8

- provider version
registry.terraform.io/phillbaker/elasticsearch v1.5.4

- redacted version of the terraform resource configuration
The resource configuration is set for index template `"version": 0` all the time.
[code]

- terraform logs by setting TF_LOG=info
The real log is pretty long. Here is the redacted version for only the relevant piece prettified:
[code]
It

[2021-03-20 21:40] phillbaker commented on #56
@nelg what elasticsearch provider are you using that requires authorization via APIKEY?

If you're running on elastic cloud, the provider here: https://github.com/elastic/terraform-provider-ec, can be used to manage configuration within elastic cloud (authentication using APIKEY) -similar to the AWS provider being used to manage clusters created by AWS' service. The two providers should be complem

[2021-03-20 22:35] phillbaker commented on #153
Interestingly, this specific hash does work on ODFE 1.6 in CI: https://github.com/phillbaker/terraform-provider-elasticsearch/actions/runs/671707003

I'll try bumping the CI version of ODFE to see if that's the issue.

[2021-03-22 10:40] miguelnge opened #160 "How to generate new Lens visualizations"
Hey guys,

we're struggling to use this provider to generate kibana objects of type lens. We have created an object manually to inspect it's content in the .kibana index. It shows the following:

[code]

But when using the following TF code:
[code]

The resource seems to be generated, but we always get the error "Cannot read property 'id' of undefined" when we try to visualize it.

It sounds like

[2021-03-23 20:07] ysytnik commented on #146
Hello, i use this config
`provider elasticsearch {
     url = https://vpc-xxx.eu-west-2.es.amazon.com
     username = "xxxname"
     password = "xxxpass"
     healthechceck = false
     elasticsearch_varsion = "7.9"
     sign_aws_requests = false
}`

and i get error: "Error: context dedline exceeded"

[2021-03-24 02:22] nelg commented on #56
@phillbaker  - The reason to use APIKEY, would be so that when we are using the terraform-provider-elasticsearch we can authenticate to Elasticsearch without having to have a username/password setup for Terraform.

This is different from the elastic cloud provider (which we don't need at present).

It would change the workflow from having a dedicated terraform user in Elasticsearch, to being able

[2021-03-24 10:14] clifford-sanders commented on #153
I upgraded to 1.5.4 and now `password_hash` works. Thanks for fixing it.

[2021-03-25 01:27] #153 closed

[2021-03-25 01:29] phillbaker commented on #146
@ysytnik that doesn't seem related as it's a different error. Please search the issues and documentation for similar problems in the past.

[2021-03-25 11:23] #56 closed

[2021-03-26 22:35] nelg commented on #56
Thank you @phillbaker  - I will switch to using this method of auth.

[2021-03-27 02:10] phillbaker commented on #146
I'm going to close this issue for now, please reopen if there are further details.

[2021-03-27 02:10] #146 closed

[2021-03-28 19:18] phillbaker commented on #86
I believe this should be fixed in 2c624964a6939abbe604b266a1f19aa0991c5cd4.

[2021-03-29 14:31] raids commented on #149
Hey @phillbaker. I ran into the issue described with provider version `1.5.3`:
[code]

Here's my provider config:
[code]

Downgraded to `=1.5.1` and my apply went through without error. Hopefully that's helpful without having an AWS environment.

Thanks for the provider :1st_place_medal:

[2021-04-06 15:42] michelzanini commented on #124
Sorry I did not have time to test this before. I tested with 1.5.4 and it seems it still not working.

[2021-04-06 15:56] michelzanini commented on #149
Try version `1.5.0` and see if it works. If it does, it might be that https://github.com/phillbaker/terraform-provider-elasticsearch/issues/124 was never fixed.

[2021-04-06 16:02] michelzanini opened #162 "Support AWS Single-Sign On (SSO) cached credentials when using AWS profiles"
When using `aws_provider_profile` it is not possible at the moment to have this profiles using AWS SSO with `~/.aws/config` file. This is fairly new on AWS CLI v2.

Support for this has been added to Terraform 0.14.6+ (for s3 remote state) and on AWS provider (3.26+).
To support it, the only change is to bump AWS GO SDK to 1.37 or above.

Here is the PR that was done on AWS provider:
https://githu

[2021-04-06 16:31] michelzanini commented on #162
I am thinking in trying different commits from 1.5.0 to 1.5.1 to see the exact commit that could have broken things for #124.
To do that, I guess I only need to checkout the commit and `go build` ? I can then move that binary to my project and run a test...

[2021-04-06 16:37] phillbaker commented on #162
That'd be great. That approach should work. Please let me know what you find!

[2021-04-07 14:45] fdw commented on #137
As I struggled with the same problem, I tried out a previous version of the description (v6 in my case), and that worked, even though Kibana is on 7.9. Maybe that works for someone else, too.

[2021-04-07 17:55] michelzanini commented on #124
I can confirm the commit that introduced this regression issue was #119.
I build binaries for every commit until it broke starting on that one.

I am going to have a deeper look now to see if I can spot the issue, but 100% it was there.
@phillbaker

[2021-04-07 17:55] michelzanini commented on #162
Problem commit was #119, looking deeper on it now...

[2021-04-08 03:26] phillbaker commented on #162
Thanks @michelzanini, let's continue the conversation on #124 to keep this issue focused on the AWS client. I've gone ahead and bumped the client version and released https://github.com/phillbaker/terraform-provider-elasticsearch/releases/tag/v1.5.5

[2021-04-08 03:26] #162 closed

[2021-04-08 03:45] phillbaker commented on #124
Thanks @michelzanini that's very helpful. That strikes me as very odd, as #119 is primarily a change in timing of calls, as opposed to what calls are being made.

In order to narrow down the issue, could you try the following:
* try setting `sniff` to false in the provider config
* try setting `elasticsearch_version` to the correct elasticsearch version to skip pinging the cluster when creating a

[2021-04-08 08:58] melghors opened #163 "Resource elasticsearch_index_template doesn't support priority setting."
Hello! Resource elasticsearch_index_template doesn't support Priority setting for index templates.
My configuration:
[code]
and error:
[code]

[2021-04-08 12:32] michelzanini commented on #124
Even with `sniff` and `elasticsearch_version` I still get the errors:

[code]

If I also set `healthchek` to false, then there's no error but the resources are never created and Terraform keeps running indefinitely. All resources keep printing `Still creating... [100...s elapsed]` etc...

This leads me to believe that there's some sort of race condition. I can't find the problem myself and I do no

[2021-04-08 12:44] michelzanini commented on #124
Not sure this will help but this is the logs that keeps like this forever:

[code]

[2021-04-08 12:52] #163 closed

[2021-04-08 12:53] melghors commented on #163
Sorry, i should use elasticsearch_composable_index_template instead.

[2021-04-09 01:51] phillbaker commented on #102
This should be fixed with merging https://github.com/phillbaker/terraform-provider-elasticsearch/pull/164

[2021-04-09 01:51] #102 closed

[2021-04-09 02:08] phillbaker commented on #124
Unfortunately, #199 touches too many pieces of code to revert now.

I don't currently have access to an AWS environment where I can test this unfortunately.

[2021-04-10 03:44] phillbaker commented on #124
Here's one guess I have: the deferred instantiation of the client means that the client is initialized once per resource, versus once at provider instantiation. This may be a problem if there are many resources (which also require reads to prepare a plan) and the AWS client needs to query resources like the EC2 metadata API (which is [rate limited](https://docs.aws.amazon.com/AWSEC2/latest/UserGui

[2021-04-12 03:08] tdmalone commented on #86
Apologies for the delay @phillbaker and thanks for looking at this.

I'm no longer able to replicate this issue on 1.5.5, 1.5.4, 1.5.3, 1.5.2, or even 1.4.4 (version before the last changes to ISM in 1.5.0), so all I can guess is that it was perhaps an upstream API issue that has since been resolved?

(I've come across another small issue with this resource, but I'll create a separate issue for th

[2021-04-12 03:21] tdmalone opened #165 "Perpetual diff when setting error_notification on elasticsearch_opendistro_ism_policy"
Given the following configuration:
[code]

The error notification settings are correctly applied to the resource:
[code]

But after initial creation and no changes to the configuration, the following plan is perpetually generated:
[code]

Running Terraform v0.12.30, with the current `master` of this provider (b3995de aka v1.5.5 + one small merge).

Relevant docs: https://opendistro.github.io/for-e

[2021-04-12 03:27] tdmalone commented on #165
Additional version information:
Amazon Elasticsearch Service with Elasticsearch version 7.9, software release R20210201-P2

[2021-04-12 10:38] michelzanini commented on #124
Hi @phillbaker, that makes whole lot of sense. I have around 10 resources more or less.

[2021-04-12 10:57] lifeofguenter commented on #124
we also did not have a lot of resources. Maybe around 10 as well.

We heavily monitored IMDS and other rate-limits as this was indeed a general issue, but was not the cause in this case - I think.

I dont think this can be tested easily though...

I would most probably look into how other providers utilize aws-sdk. I do know though especially for signed requests and ES that there are some addition

[2021-04-13 12:22] SrAburrido commented on #158
+1 here!

tf version 0.13.0
provider version 1.5.4
elasticsearch version 7.9

[code]

[2021-04-16 02:11] hanselke opened #166 "wrong version detected"
elasticsearch = {
      source = "phillbaker/elasticsearch"
      version = "1.5.5"
    }

provider "elasticsearch" {
  url = "https://${var.ES_ENDPOINT}"
  username = var.ES_USERNAME
  password = var.ES_PASSWORD
  healthcheck = false
}
data "elasticsearch_opendistro_destination" "slack" {
  name = "slack"
}
running against aws elasticsearch 7.9

Error: ElasticSearch is older than 5.0.0!
  on zz_t

[2021-04-16 03:34] hanselke commented on #166
resolved this by specifically defining elasticsearch verison

[2021-04-16 03:34] #166 closed

[2021-04-16 03:35] hanselke opened #167 "elasticsearch_opendistro_destination keeps creating new destinations on subsequent runs"
i have a tf backend that works.

using resource elasticsearch_opendistro_destination, it keeps creating a new destination everytime i run it, instead of recongizing its already been created via the state file.

[2021-04-18 00:26] phillbaker commented on #167
Hello, can you please include the following:
* redacted version of the terraform resource configuration
* terraform version
* provider version
* elasticsearch version (and opendistro version if relevant)
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2021-04-18 22:13] phillbaker commented on #165
It looks like `error_notifications` were included in the initial release of ISM in https://github.com/opendistro-for-elasticsearch/index-management/pull/59 in [v1.0.0.0](https://github.com/opendistro-for-elasticsearch/index-management/releases/tag/v1.0.0.0).

I was able to reproduce this in the test here: https://github.com/phillbaker/terraform-provider-elasticsearch/actions/runs/761034635

I woul

[2021-04-18 22:15] phillbaker commented on #149
Hi @raids @mrtnfchs I believe this is a dupe of #124, the fix for that issue to pin to `v1.5.0` as @michelzanini pointed out. I'm going to close this issue to focus on the additional information in that issue.

Please let me know if this is separate and downgrading does not work.

[2021-04-18 22:15] #149 closed

[2021-04-18 22:51] phillbaker commented on #165
This is because `error_notification` is suppressed in when normalizing the response:
https://github.com/phillbaker/terraform-provider-elasticsearch/blob/e0b30474ba0aad6255b982a1729f3bafa46bd4d5/es/util.go#L113

I think this was included to ignore the attribute if it is null in the response, however, we should only be deleting if it is null, not if it has data.

[2021-04-18 22:51] #165 closed

[2021-04-18 22:52] #86 closed

[2021-04-19 02:39] phillbaker commented on #158
It seems like the opensource version of opendistro [doesn't support or document how to use SNS as a destination type](https://github.com/opendistro-for-elasticsearch/alerting/issues/91), and [the docs only list "Slack, Amazon Chime, custom webhook, or email"](https://opendistro.github.io/for-elasticsearch-docs/docs/alerting/monitors/#create-destinations).

That being said, [AWS published how to us

[2021-04-19 07:23] SrAburrido commented on #158
I can confirm we use the AWS managed one!

In case this info is useful, in our case, the destination resource retrieves an id and the apply is completed successfully, then it keeps creating them but at least no errors are retrieved :)

[code]

[2021-04-19 23:14] phillbaker commented on #158
@SrAburrido can you also share the OpenDistro version being used in the cluster?

Up until version 1.11.0 there was no API endpoint to retrieve a destination (see https://github.com/opendistro-for-elasticsearch/alerting/issues/56#issuecomment-808942817), so we searched the underlying index: https://github.com/phillbaker/terraform-provider-elasticsearch/blob/8debce22eade895f249523861befcb8021e2a6a9

[2021-04-21 11:26] SrAburrido commented on #158
It seems so:

![imagen](https://user-images.githubusercontent.com/33196983/115546374-3d7f7980-a2a5-11eb-90b0-983bd83b21b0.png)

[2021-05-06 09:21] IronCore864 commented on #167
I'm having similar issues with both `elasticsearch_opendistro_destination` and `elasticsearch_opendistro_monitor`; everytime I apply with the same configuration it prompts changes.

[code]

Elasticsearch version7.10 (AWS managed ES, so opendistro I think)

Logs (INFO):
[code]

[2021-05-06 16:34] nouseforaname opened #169 "Put index where OpenDistro stores tenant data into attribute field of elasticsearch_opendistro_kibana_tenant"
Hey,

if I want to create an index pattern in a specific tenant via elasticsearch_kibana_object
I need to know the index that was created for `elasticsearch_opendistro_kibana_tenant`

E.g. given a tenant name of `sec-test`
the created index is `.kibana_882685070_sectest_1`

Then I can do:

[code]

The number and full index_name it calculates is reproducible with this snippet:

[code]

I can create

[2021-05-07 01:20] phillbaker commented on #169
Thanks - you're thinking of adding it as a computed attribute to `elasticsearch_opendistro_kibana_tenant`? What does the number at the end signify? Does it ever increase from 1?

[2021-05-07 08:55] nouseforaname commented on #169
TBH, I currently do not know.. For now, before doing more research on this, I wanted to ask what your thoughts are..
Some more info:

I did find that the hashCalc above is pretty much java.lang.string.hashCode().. I have found some weird references to this index creation

https://forum.search-guard.com/t/tenant-saved-objects-kibana-index/1707

and

https://github.com/opendistro-for-elasticsearch/s

[2021-05-10 09:26] nouseforaname commented on #169
Hmm. With that I knowledge I can actually just create a proper datasource pointing to to latest index in use. I guess I can create a request against the endpoint you mentioned for the alias and then just parse out the _XYZ part

[2021-05-11 03:08] #158 closed

[2021-05-11 03:20] phillbaker commented on #167
@IronCore864 a perpetual diff is a separate issue than what's originally described here, however, some fixes were merged to deal with diffs on the monitor resource in v1.5.6. Please try that version and open a new issue if it's still occurring.

I'm going to close this issue as a dupe of #158, which should be fixed in v1.5.6.

[2021-05-11 03:20] #167 closed

[2021-05-11 08:24] nouseforaname commented on #169
It seems that the alias only exists once there are multiple versions.. I'm not quite sure yet when exactly a new Version is created. @TonyLovesDevOps  do you have any pointers on what happens before a new index version is created?

[2021-05-11 09:54] nouseforaname commented on #169
I created an external datasource implementation for this:

[code]

[2021-05-11 10:39] pinglin commented on #159
Yes, exactly.

Yes, exactly. My resource is like:
[code]

[2021-05-11 10:59] nouseforaname commented on #169
was able to create a _2 version of the index via tainting the tenant.

[code]

[2021-05-12 17:35] TonyLovesDevOps commented on #169
TL;DR see point 5 below to see the output of the alias object.

@nouseforaname 🤔 I see an alias created when there is only one tenant index version... here's what I did:

1. Create tenant:
[code]

2. Switch to tenant in Kibana UI (this creates the tenant indices)
3. Show the indices (note only one):
[code]
4. Show the alias:
[code]
5. Get the alias object (the output is the same as getting the ind

[2021-05-12 19:08] brunopadz opened #170 "Support for creating XPack users in Elasticsearch 6.x"
Hi there,
Are there any plans on support create XPack users in Elasticsearch 6.x?

I'd be more than happy to contribute to the project. :)

[2021-05-13 13:49] marcuz opened #171 "elasticsearch_opendistro_ism_policy - permanent diff on "ism_template""
**Environment**

- Terraform version: 0.15.3
- Provider version: 1.5.6
- Elasticsearch version: AWS 7.9 (release R20210426 - updated recently, `ism_template` appeared after this update)

**TF resource definition**

[code]

**What**

The resource generates a permanent diff because the TF `last_updated_time` and `priority` (defaults to 0 according to docs) are not explicitely set:

[code]

**Workaro

[2021-05-14 00:58] phillbaker commented on #171
Hello - at least `last_updated_time` should have been ignored in https://github.com/phillbaker/terraform-provider-elasticsearch/pull/168, released in v1.5.6. I see that you listed 1.5.6 as your provider version, so maybe that PR didn't work?

[2021-05-14 01:05] phillbaker commented on #170
Hello! Thanks for the offer of help.

Right now, it doesn't look like the upstream client we use (olivere/elastic) supports xpack users in the version for ESv6: https://github.com/olivere/elastic/tree/release-branch.v6. You could try opening a PR to backport the support in v7 to v6 upstream as a first step or asking on this issue if that makes sense to the author: https://github.com/olivere/elasti

[2021-05-14 10:06] marcuz commented on #171
Looks like it, if I remove `last_updated_time` or `priority`, in the next terraform run there is a diff to apply setting them to `null`.

[2021-05-14 11:44] lfacchinelli commented on #140
I'm having the exact same issue with `v1.5.5`.

Terraform apply finish successfully but no index-pattern is created.

Wonder if this is somehow related to AWS Elasticsearch. Seems like some API handlers are not available on AWS

[2021-05-14 17:56] brunopadz commented on #170
Hi @phillbaker,
Yeah, I've noticed all the work that must be done after opening this issue and forking both projects. :)

I'll see what I can do in the next weeks.

Thanks bro.

[2021-05-14 23:05] tjbaker opened #172 "Error 401 (Unauthorized) for elasticsearch_index_template"
I had code like this prior to the latest AWS ES update that used to work:

[code]

Now I get this for any elasticsearch_index_template apply

[code]

I can apply the same json via kibana "Dev Tools" interface via POST and it works fine

[2021-05-15 19:53] phillbaker commented on #172
Hello, can you please include the following:
* provider version (and if it changed recently)
* elasticsearch version (and opendistro version if relevant), specifically, what AWS ES versions did you upgrade from and to?
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2021-05-16 11:59] tjbaker commented on #172
I get the 401 with 1.5.3 and 1.5.6 providers
Am now running AWS ES patch R20210426

[code]

I'll repost with the verbose logs.

[2021-05-17 10:16] JoupainMD opened #174 "perpetual diff in opendistro monitor and destination"
Hello,

It looks like upgrading to 1.5.6 does not solve the perpetual diff issue we had on opendistro monitors and destinations

We are using theses versions:
[code]

Here a sample of terraform plan (in INFO mode):
[code]

[2021-05-17 13:45] ventsislav-georgiev commented on #172
I have the same issue with `elasticsearch_index_template` only in the AWS ES service. The `elasticsearch_index` itself has no issues of being created/destroyed. The provisioning code hasn't been changed and since last week it started giving error: `Error 401 (Unauthorized)`.

Service Version: [R20210426](https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/release-notes.html#rel

[2021-05-18 01:28] phillbaker commented on #174
Hello, can you please include the following:
* elasticsearch version
* opendistro version

[2021-05-18 01:55] phillbaker commented on #171
the `ism_template` parameter was added in https://github.com/opendistro-for-elasticsearch/index-management/pull/383 in v1.13.0

[2021-05-18 02:32] phillbaker commented on #171
@marcuz it looks like the docs say that `ism_template` should be an object, not an array of objects: https://opendistro.github.io/for-elasticsearch-docs/docs/im/ism/#step-1-set-up-policies

So you'd want something like:
[code]

[2021-05-18 03:26] phillbaker commented on #159
Hi @pinglin, I don't see the `data_stream` attribute documented in ES index templates: https://www.elastic.co/guide/en/elasticsearch/reference/7.11/indices-component-template.html

I will note that the `data_stream` attribute is described when using the older index template endpoint: https://www.elastic.co/guide/en/elasticsearch/reference/master/set-up-a-data-stream.html#create-index-template. Thi

[2021-05-18 03:34] phillbaker commented on #172
Given that this was reproduced with provider versions 1.5.3 and 1.5.6, and was correlated with an upgrade in AWS ES, it seems like the the AWS ES upgrade may be involved. If you have not opened an issues with AWS, please do so and share the results.

[2021-05-18 07:20] ventsislav-georgiev commented on #172
@phillbaker with a bit more testing the issue is caused by setting:
[code]

When I remove the `opendistro.index_state_management.policy_id` and `opendistro.index_state_management.rollover_alias` the index_template creates without issues.

[2021-05-18 07:50] marcuz commented on #171
I did try that too, but in TF state has an array of objects:

[code]

and that becomes a permanent diff:

[code]

[2021-05-18 09:20] oscarwest commented on #171
Thanks Phill for maintaining this provider. Hopefully i'll get time to help when the time comes to update the names from "opendistro"  to "opensource" as AWS is working hard on the fork.

I'm also getting this elasticsearch_opendistro_ism_policy diff i 1.5.6

[code]

[2021-05-18 09:30] ventsislav-georgiev commented on #172
It seems that Open Distro for Elasticsearch 1.13 has deprecated setting those in the index_template and are now part of the policy it self via ism_template: https://opendistro.github.io/for-elasticsearch-docs/docs/im/ism/
<img width="757" alt="image" src="https://user-images.githubusercontent.com/5616486/118627895-c3271400-b7d4-11eb-85d3-07ed644c8017.png">

[2021-05-18 10:23] ventsislav-georgiev commented on #172
Side note: The `elasticsearch_opendistro_ism_policy_mapping` seems to create the mapping but complete with error code. However with the index_pattern in the policy, this is no longer required as long the order of creation is first the policy and then the index. That way the index is automatically mapped to the policy.

[2021-05-18 15:50] kody-abe opened #175 "panic: interface conversion: interface {} is float64, not map[string]interface {}"
Getting the following panic when using `elasticsearch_opendistro_ism_policy_mapping`

Terraform Version: v0.12.29
Provider Version: v1.5.4
Elasticsearch Version: 7.10.2

[code]

Debug Log (Interesting Portion):

[code]

[code]

Example `var.warm_indicies`:

[code]

[2021-05-19 02:48] phillbaker commented on #172
Thanks @ventsislav-georgiev. @tjbaker can you confirm that this also addresses the issue you're seeing? If so, I'll close this issue out.

[2021-05-19 03:09] phillbaker commented on #175
It looks like this is likely due to a new key `total_managed_indices` in this endpoint, related bug filed upstream: https://github.com/opendistro-for-elasticsearch/index-management/issues/443

Looks like the provider will have to skip this key

[2021-05-19 03:19] phillbaker commented on #171
Hi all, in tests, it does not appear that that the opendistro API accepts an array for the `ism_template` variable: https://github.com/phillbaker/terraform-provider-elasticsearch/runs/2616353307?check_suite_focus=true#step:12:1572

I've added a test case to cover the usage of this attribute and fixed a case where a diff would be shown if ism_template was not specified: https://github.com/phillbake

[2021-05-19 08:19] marcuz commented on #171
With the latter we end up with a perpetual diff. Changed resource definition:

[code]

After first terraform run the diff (expected) is:

[code]

After change was applied and terraform ran again, the same diff is shown.

Sorry if I wasn't clear earlier!

[2021-05-19 12:13] tjbaker commented on #172
Yes, I found I needed to move the ism reference from the elasticsearch_index_template to elasticsearch_opendistro_ism_policy

The new code in elasticsearch_opendistro_ism_policy looks something like:

[code]

[2021-05-20 00:43] phillbaker commented on #172
great, i'm going to close this issue then. thanks!

[2021-05-20 00:43] #172 closed

[2021-05-20 01:10] #66 closed

[2021-05-20 15:31] korcadr opened #176 "Checking compatibility with Elastic Cloud provider"
Hello, I want to use this provider along with Elastic Cloud [https://registry.terraform.io/providers/elastic/ec/latest/docs](url)

I found an issue with having these two provider used in **single terraform run**

Basically this provider configuration requires URL (https://registry.terraform.io/providers/phillbaker/elasticsearch/latest/docs#url) witch is only know after cluster creation with Elasti

[2021-05-21 02:03] phillbaker commented on #171
I think I was able to track this down. It looks like the AWS ES R20210426 release includes https://github.com/opendistro-for-elasticsearch/index-management/pull/432, which changes the ism_template response type to an array. It's not released yet in an official version of opendistro.

There is interestingly, also a `ism_templates` variable in the tests: https://github.com/opendistro-for-elasticsear

[2021-05-21 04:19] phillbaker commented on #136
Hello, following up on this, have you tried specifying the order in the template definition? If the API is returning the value, I suggest you "backport" it into the JSON. This is an unfortunate side effect of specifying the json bodies directly, see https://github.com/phillbaker/terraform-provider-elasticsearch/issues/93 for a potential fix.

[2021-05-21 06:40] marcuz commented on #171
Thank you! :raised_hands: Indeed this started to happened after the upgrade to `R20210426`. :+1:

[2021-05-21 20:08] #170 closed

[2021-05-26 10:14] Kavinraja-G opened #177 "Insecure not working when Fine-grained access control enabled with an IAM role as the master user"
Hi @phillbaker I'm using similar kind of tunneling from this #113 and using the **localhost** to refer the ES domain. But in my case I have configured the IAM role ARN as the master user instead of using the internal database.

Snippet of my provider configuration:
[code]

Below is the error I'm getting when creating a sample index:
[code]

[2021-05-26 11:37] nouseforaname commented on #169
@phillbaker I updated my custom data source code above.. It works reliably for me to reference the (latest) index id.. If you want, I'll create a PR with the code embedded somewhere in the tenant resource handling..

[2021-05-26 14:37] davidcaste opened #178 "Provide darwin_arm64 build"
Hi!

Could you provide a build for the `darwin_arm64` architecture, please?

Thanks!!

[2021-05-27 15:10] phillbaker commented on #178
Hello - `darwin_arm64` are provided for each tagged release on the releases page, e.g. in https://github.com/phillbaker/terraform-provider-elasticsearch/releases/tag/v1.5.6, `terraform-provider-elasticsearch_1.5.6_darwin_amd64.zip` is provided.

Is that what you're looking for?

[2021-05-28 01:08] phillbaker commented on #175
This should be fixed with https://github.com/phillbaker/terraform-provider-elasticsearch/commit/23401b261a9e1178a5de76bd08283a9908512726, however, it looks like there's another problem with `elasticsearch_opendistro_ism_policy_mapping` on 1.13.2, which is why master is failing.

[2021-05-28 01:15] phillbaker commented on #169
@nouseforaname that'd be great. We could probably store this as a computed attribute on the resource (https://www.terraform.io/docs/extend/schemas/schema-behaviors.html#computed). The "right" way to do it would probably be to build a data source for this, similar to:
[code]

[2021-05-28 01:17] phillbaker commented on #136
I'm going to close this issue for now, please see my comment above. Please re-open if there are further details.

[2021-05-28 01:17] #136 closed

[2021-05-28 01:18] phillbaker commented on #159
Hello, I'm going to close this issue for now, please see my comment above. If there are further details that show this is a bug/missing feature in the provider, please reopen the issue.

[2021-05-28 01:36] phillbaker commented on #176
Hello, this provider should be compatible with interpolated variables in the provider configuration, please see https://github.com/phillbaker/terraform-provider-elasticsearch/pull/119.

Specifically this provider is complementary to `terraform-provider-ec`, which is used to manage the underlying cluster in elastic cloud (authentication using APIKEY).

My understanding is that the [generated user/p

[2021-05-28 10:41] davidcaste commented on #178
Hi!!

I'm sorry, but I was in a hurry and I didn't described the issue properly.

One of our developers have a new shiny Apple M1 laptop, and when he tries to do a `terraform init` it fails to download the provider. These new Apple M1 laptops aren't using anymore the `darwin_amd64`, but the `darwin_arm64` architecture.

The problem is easy to replicate with the following configuration:

1. Create

[2021-05-28 19:29] munkyboy opened #179 "Allow configuring token using environment variable"
First off, thank you for this provider!

It would be nice to configure the provider token with an environment variable. Perhaps `ELASTICSEARCH_TOKEN`.

[2021-05-29 12:33] #179 closed

[2021-05-30 01:29] phillbaker commented on #175
Closing this as fixed in https://github.com/phillbaker/terraform-provider-elasticsearch/commit/23401b261a9e1178a5de76bd08283a9908512726, the failure is unrelated to this change.

[2021-05-30 01:29] #175 closed

[2021-05-30 15:15] #178 closed

[2021-05-30 18:14] phillbaker commented on #155
Noting that these routes were deprecated in 7.13 (https://www.elastic.co/guide/en/kibana/7.13/alerts-api.html) in favor of the slightly different `rule` endpoints (https://www.elastic.co/guide/en/kibana/current/create-rule-api.html)

[2021-05-30 19:08] davidcaste commented on #178
Thank you!!

[2021-05-31 14:17] korcadr commented on #176
Thank you for looking into this.
I still think there may be an issue with using this two providers.
I changed from using opendistro to using xpack.

Versions that I am using:
 * Terraform: 0.14.9
 * elasticsearch provider: 1.5.6
 * elastic cloud provider: 0.1.1
 * elasticsearch version: 7.13.0

I attach log file (TF_LOG=trace) from running `terraform apply`.
I also attach `minimal_example.zip` hol

[2021-06-01 15:35] phillbaker commented on #137
Hello, sorry for the confusion here, turns out the tests were not creating the typed kibana index before running and so weren't replicating what happens in a real cluster. I've fixed the tests and documentation to reflect what happens in a cluster in https://github.com/phillbaker/terraform-provider-elasticsearch/commit/3d1a377e7c9d8485c790aab5ef3e187a50ec1068.

Note that the transformation is esse

[2021-06-01 15:35] #137 closed

[2021-06-02 18:51] mkoertgen commented on #140
Works fine with elastic-oss. Having the same problem with open-distro, i.e. `terraform plan/apply` shows successful creation of resources.

 From what i can see is that the provider seems not be aware of the .kibana-alias settings.
In open-distro it creates the resources in `.kibana_1` instead of `.kibana_<id>_user` resulting in Kibana not showing the newly created resources.

I am not too much in

[2021-06-02 20:23] #151 closed

[2021-06-03 11:08] mkoertgen commented on #140
I digged a little deeper and am quite sure that this is related to the tenanct concept of open-distro.

Here are the defined aliases

[code]

[2021-06-03 12:12] thecosmicfrog commented on #172
Thanks @ventsislav-georgiev and @tjbaker - that solved the issue for me.

For reference, here is the diff of the changes I had to make:

**main.tf:**
[code]

**retention-policy.json:**
[code]

I'm using a **templatefile** here, but if you're instead using an inline **body**, just add that `"ism_template": []` array with appropriate `"index_patterns"` for your use case.

[2021-06-03 14:25] mkoertgen commented on #140
Until #169 is ready and merged here is my workaround using [external_data_source](https://registry.terraform.io/providers/hashicorp/external/latest/docs/data-sources/data_source) and a quick python3 helper script

 workaround

[2021-06-03 16:43] mkoertgen commented on #140
I updated my workaround to just determinstically deriving the kibana user name (= tenant name) using
- https://github.com/jcantrill/cluster-logging-tools/blob/master/scripts/kibana-index-name

However, the helper script requires python on the terraform agent (works both with python 2/3 and on windows/linux as well).

[2021-06-06 15:27] #124 closed

[2021-06-08 21:40] TonyLovesDevOps opened #182 "Changes made to elasticsearch_kibana_objects outside of terraform are not detected/reverted."
I am using `elasticsearch_kibana_object` to manage index patterns, visualizations, dashboards, etc. (within tenants) and this is working well, _except for_ the fact that changes made to these same objects outside of terraform (e.g. through the kibana UI) are not detected by the provider. This defeats the purpose, since I want the terraform code to be the canonical place for these objects, and now

[2021-06-09 14:59] TonyLovesDevOps commented on #182
A few notes on this:
1. This is admittedly a "synthetic" setup since the terraform code is itself creating the kibana index & alias (rather than letting kibana do it.) However, the behavior is the same for me when letting kibana handle all index/alias creation.
2. If I change anything about the object in the TF code (e.g. update the description) and run plan/apply it correctly updates the object a

[2021-06-10 20:39] ajmac3242 commented on #154
For what's it's worth I added a depends_on to my second role and it waits for the first to be created. It seems to be a pretty decent work around.

[code]

[2021-06-16 12:42] ventsislav-georgiev opened #183 "Connection error when using AWS ES with enabled SAML"
Error message:
`Error: rpc error: code = Unavailable desc = transport is closing`

The cluster has internal database enabled and the rest api works using basic authentication. However enabling SAML seems to break the provider, is this expected, can the provider be set up to work with the basic auth APIs for AWS ES?

[2021-06-16 16:39] ventsislav-georgiev commented on #183
My bad the trace showed that the issue is not comming from the elasticsearch provider but from the aws provider. It seems the aws provider cannot query the domain via [this data source](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/data-sources/elasticsearch_domain) when SAML is enabled.

[2021-06-16 16:39] #183 closed

[2021-06-17 01:13] timcosta commented on #171
I hate to necro this issue, but I think there's still a problem here in 1.5.7 with AWS ES version 7.10/R20210426. Here's what I'm seeing when i run `terraform plan`:
[code]

I'm using 1.5.7 of this provider which is most recent:
[code]

This is a fresh cluster so it's running the latest AWS ES releases available, and based on the above conversation it seems like I shouldn't be getting this persist

[2021-06-17 15:06] 0xDEADEAD commented on #154
Hey,
sorry to hook up in this issue.

I am currently trying these things too and having multiple errors.
Making dependencies explicitly for keeping an order of how and when resources are created, works pretty well.
But this error happens on so many resources (i.e. users, roles, kibana_objects - in case Elasticsearch is blocked for whatever reason).

Especially when you are trying to use for_each o

[2021-06-21 07:25] atamgp opened #184 "Import of elasticsearch_index misses aliases"
When I do an import of my  indexes, which have aliases configured (even generated wit the same resource), it's **empty**  in the TF state after import.

In Kibana (firefox) the GET request when listing shows the aliases:

[code]

After import:
terragrunt import elasticsearch_index.this[\"dataiku-exports\"] "coe-rpa-dataiku-exports-000001"

this is the state:

[code]

Because of this, a TF plan wil

[2021-06-21 22:25] tdmalone opened #185 "Google 'grpc/naming' not found when installing with 'go get'"
I've been installing this provider in CI for awhile with `go get`, and yesterday it started failing with:
[code]

I'm very light on Go knowledge but looking at that failing package at https://pkg.go.dev/google.golang.org/grpc/naming, it appears that:
- ‘this package is not in the latest version of its module’ (according to the tooltip on Latest)
- the package is deprecated; the readme says to 'ple

[2021-06-22 00:25] tdmalone commented on #185
Hmm might be related to https://github.com/grpc/grpc-go/issues/3726? (But I'm not a Go programmer so am out of my depth here 😬 )

[2021-06-22 00:43] phillbaker commented on #177
Can you clarify this? Please share the relevant (redacted) configuration for this at both the AWS and Elasticsearch level.

[2021-06-22 01:30] phillbaker commented on #185
Ah, sorry to hear that this broke things. This is due to https://github.com/phillbaker/terraform-provider-elasticsearch/commit/7a6207d50a60a55bcc9d1b653599311b5dfd529f which included the use of a `replace` directive in `go.mod` to workaround the same missing import issue. Unfortunately a transitive dependency in upgrading the `elastic` library introduced this issue.

I think you should also be abl

[2021-06-22 09:06] r3kzi commented on #183
i do not use the data source and i'm getting the same error.

[code]

I'm running the same setup as you described.

I found https://githubmemory.com/repo/phillbaker/terraform-provider-elasticsearch/issues/156 which described setting ` sign_aws_requests = false` and `insecure = true`.

Now the provider is working.

[2021-06-22 09:13] r3kzi commented on #183
Maybe we can re-open this issue? Setting ` insecure = true` feels not correct.

What do you think @phillbaker ?

[2021-06-22 13:27] timcosta opened #186 "Plugin did not respond due to fatal error: concurrent map writes"
Hey all -

I've been seeing some crashes with this provider version 1.5.7 and Terraform 1.0.0 due to concurrent map writes. The Terraform output says this is indicative of a bug in the provider and to let y'all know, so here's the full trace of what's happening:

[code]

I've seen this happen fairly frequently, and I think usually during deletes and state refreshes but honestly I can't be totally

[2021-06-23 00:11] phillbaker commented on #185
Merged this to master, and a `go get github.com/phillbaker/terraform-provider-elasticsearch` works for me, hows it look for you @tdmalone ?

[2021-06-23 00:13] phillbaker commented on #186
Sorry for the hassle, this is likely due to https://github.com/phillbaker/terraform-provider-elasticsearch/commit/52c17745997f8910556ed6f34249d05528b18f19#diff-d66ec846962229ad0d1815062f5a913f12a1f3eee175033bc7c3e8634d015a80, I think the map writes were not actually necessary to fix the problem, the config changes were enough. Let me verify that and see if I can revert the map usage.

[2021-06-23 00:47] timcosta commented on #186
No worries at all, thank you for looking into this so quickly!

[2021-06-23 07:53] tdmalone commented on #185
Thanks so much for the quick resolution @phillbaker. Our CI just passed so it's working for us now too!

[2021-06-23 17:11] aceresia commented on #176
I was having the same issue.  Turns out it's a certificate issue.  To test try
`insecure = true`

To use in production I included the digicert global ca in my repo and referenced that file with

`cacert_file = "${path.module}/gcp-elastic-cloud-com.pem"`

[2021-06-23 19:18] michelzanini commented on #124
I can confirm this has been fixed on 1.5.7.

[2021-06-23 19:28] michelzanini commented on #171
I am on 1.5.7 and still showing up for me to:

[code]

[2021-06-23 19:54] michelzanini commented on #171
I manage to avoid perpetual diffs using this JSON:

[code]

[2021-06-24 11:05] atamgp opened #187 "How to deal with LCM rollover to not recreate the index?"
I want to create this index:

[code]

In combination with LCM which does roll-over e.g.

[code]

With this, e.g. if index **atam-000001** is created, after which LCM rolles-over to **atam-000002** and the prev one is automatically removed. Rerunning a Terraform plan will try to recreate **atam-000001**

What is the advise to deal with this?

[2021-06-24 11:23] phillbaker commented on #186
Should be fixed with b7add6d

[2021-06-24 11:23] #186 closed

[2021-06-24 11:23] #185 closed

[2021-06-24 15:10] Cameron-Webster opened #188 "Error: Malformed version"
**Terraform version: 0.13.5**
**phillbaker/elasticsearch version 1.5.7**
**elasticsearch version 7.8.0**

I'm encountering an error `Malformed version:` when trying to create a new `elasticsearch_composable_index_template`.

No error is encountered on `terraform plan`, only on `terraform apply`.

[code]

Logs

[code]

It should be noted that downgrading **phillbaker/elasticsearch** to  **1.5.1**

[2021-06-24 16:26] raids opened #189 "AWS SAML connection error on AWS ElasticSearch cluster since upgrading"
I'm seeing similar behaviour to https://github.com/phillbaker/terraform-provider-elasticsearch/issues/183, but it not _exactly_ the same.

I've recently upgraded from tf 0.13 to 1.0. Since upgrading and migrating the state, this provider doesn't seem able to authenticate with a cluster which it previously was managing (`elasticsearch_opendistro_role`s and mappings, `elasticsearch_index_template`s,

[2021-06-25 01:25] phillbaker commented on #189
Hello, can you please include the following:
* elasticsearch version (and opendistro version if relevant)
* redacted version of the terraform resource configuration
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2021-06-25 01:27] phillbaker commented on #188
Hello, thanks for including details. To confirm, is this only for the one resource or any resource using this cluster?

[2021-06-25 07:29] raids commented on #189
Provider version `1.5.1` with the following config (`elasticsearch_version` is same version as what's used in my aws provider's `aws_elasticsearch_domain` resource). Provider version `1.5.0` gives basically the same logs too.

[code]

Some resources I'm trying to manage with the elasticsearch provider

* ism policy and index template

[code]

* some permissions management

[code]

I didn't find an

[2021-06-25 12:52] timcosta commented on #189
I've seen this a lot in the past few days, BUT it's always been a configuration issue on my end. Try applying your authn/authz terraform using `-target`, i think your saml auth config or master role ARN are likely out of sync. If that isn't terraformed, go to `Modify Authentication` in the AWS console and fill out _everything_ again. This has happened to me when I accidentally dropped the assumed

[2021-06-25 15:54] raids commented on #189
I spent some of today stepping through all of this to try and get to the bottom of the issue, and I _think_ `aws_assume_role_arn` in my provider config isn't being respected.

[code]

As mentioned, the above provider config gives me the `no Elasticsearch node available`. However, if I manually assume the role using `aws sts assume-role --role-arn arn:aws:iam::account-id:role/my-deployment-role --r

[2021-06-25 16:34] raids commented on #189
Also it might be worthwhile to note that I'm using an SSO profile by doing `AWS_PROFILE=sso-profile terraform plan`

[code]

I used the same profile to assume role with, so it's definitely got the right permissions for that.

[2021-06-26 02:52] phillbaker commented on #171
fixed in https://github.com/phillbaker/terraform-provider-elasticsearch/commit/4bd259b82846dd438d20a5f18a482b5150ccbd22

[2021-06-26 02:52] #171 closed

[2021-06-26 20:24] phillbaker commented on #174
Hi @JoupainMD, this doesn't actually seem like it will be a perpetual diff, if you import the responses into your JSON, there won't be a diff anymore.

I realize that this is not the most user friendly way to define monitors/destinations, the "terraform way" to approach this is being tracked in https://github.com/phillbaker/terraform-provider-elasticsearch/issues/93.

[2021-06-28 00:17] phillbaker commented on #189
Hi @raids, sorry to hear that this broken unexpectedly! Thanks for providing details and debugging.

I'm not sure why it would matter, but would you be able to try downgrading terraform? If the terraform version change started the issue, perhaps reverting would fix it?

This definitely points to an issue - have you tried specifying the profile via the [`aws_profile`](https://registry.terraform.io/

[2021-06-28 00:43] phillbaker commented on #184
Hello, can you please include the following:
* provider version
* elasticsearch version (and opendistro version if relevant)

Did this recently stop working or did it never work?

[2021-06-28 00:55] phillbaker commented on #154
should be fixed in c81621a

[2021-06-28 00:55] #154 closed

[2021-06-28 08:58] Cameron-Webster commented on #188
Hello @phillbaker, this is the only resource I use for this provider so I'm not sure if it effects anything else.

[2021-06-28 10:03] marcuz commented on #171
Thank you @phillbaker, no permanent diff with `1.5.8`, `last_updated_time` is ignored. :raised_hands:

[2021-06-28 10:43] sidda-dandu commented on #154
@phillbaker Looks like `Error 500` turned out to be a `Error 404` now..

[2021-06-29 01:39] phillbaker commented on #154
Hi @sidda-dandu , can you please include the following:
* terraform version
* provider version
* elasticsearch version (and opendistro version if relevant)
* redacted version of the terraform resource configuration
* terraform logs by setting [`TF_LOG=info`](https://www.terraform.io/docs/internals/debugging.html)

[2021-06-29 06:58] Kavinraja-G commented on #177
Hi, This issue was solved by doing a workaround. Mapped the **localhost** with the AWS Elasticsearch endpoint in the  **/etc/hosts** file. Thanks!

[2021-06-29 08:36] sidda-dandu commented on #154
@phillbaker here is the info which you have asked for `i.e.`
- terraform version - 0.13
- provider version - 3.0
- elasticsearch version - 7.10
-  Error `i.e`
 2021-06-29T13:41:20.686+0530 [DEBUG] plugin.terraform-provider-elasticsearch_v1.5.8.exe: 2021/06/29 13:41:20 [INFO] Pinging url to determine version `elastic_search_domain_endpoint`
2021-06-29T13:41:20.686+0530 [DEBUG] plugin.terraform-prov

[2021-06-29 08:46] sidda-dandu commented on #154
@phillbaker here is the info which you have asked for `i.e.`
- terraform version - 0.13
- provider version - 3.0
- elasticsearch version - 7.10
- Error `i.e.`
2021-06-29T13:41:20.686+0530 [DEBUG] plugin.terraform-provider-elasticsearch_v1.5.8.exe: 2021/06/29 13:41:20 [INFO] Pinging url to determine version `elastic_search_domain_endpoint` i.e. `xxx`
2021-06-29T13:41:20.686+0530 [DEBUG] plugin.terr

[2021-06-30 08:16] raids commented on #189
Hi @phillbaker - apologies, I haven't had much time to test this further. Some answers to your questions and then some good news(?) below.

I went ahead with the Terraform 1.0 upgrade as a priority, so running again on a downgraded version of Terraform isn't an easy option for me right now.

We can't use `aws_profile` in our provider config as it's not aligned with how our CI deploys, so including